In [1]:
import cx_Oracle
import pandas as pd
import sqlalchemy as sa
import getpass
import numpy as np
import math
# import pyodbc
import pandas.io.sql as psql
import decimal
import datetime
from datetime import date
import csv
import sys
import sqlite3
import subprocess
import codecs
from time import gmtime, strftime
from timeit import default_timer as timer
from sqlalchemy.types import NVARCHAR
from sqlalchemy.types import NUMERIC
from sqlalchemy.types import FLOAT
sys.path.insert(0,'/sasdata/ci_brazil/cust_fund/One_Pagers/padrao_op/sasprog/')
import defs
engine_OUT = sa.create_engine("oracle+cx_oracle://[AN_RT_WS36]:@exa_gbgpaprdd_an",echo=False)

In [2]:
#Getting the current date#
todays_date = strftime("%d/%m/%Y", gmtime())
print (todays_date)
# data_hoje = datetime.date.today()
# data_hoje

14/03/2018

In [3]:
def sqlcol(dtf):    
    dtypedict = {}
    for i,j in zip(dtf.columns, dtf.dtypes):
        if "object" in str(j):
            dtypedict.update({i: sa.types.NVARCHAR(length=255)})

        if "datetime" in str(j):
            dtypedict.update({i: sa.types.DateTime()})

        if "float" in str(j):
            dtypedict.update({i: sa.types.Float(precision=3, asdecimal=True)})

        if "int" in str(j):
            dtypedict.update({i: sa.types.INT()})

        if "int64" in str(j):
            dtypedict.update({i: sa.types.INT()})

    return dtypedict

<b><h1>IMPORTING VIA VAREJO FILES</b></h1>

In [4]:
# Input of Via Varejo´s files
BASE_TOLUNA = pd.read_excel("/nfs/science/casino_brazil/luizsalv/Via_Varejo/input/BASE_TOLUNA_N.xlsx", sheet_name=0)

#Input Atributes RANKS
RANKS = pd.read_excel("/nfs/science/casino_brazil/luizsalv/Via_Varejo/input/BASE_TOLUNA.xlsx", sheet_name=2)

#Input ISC info
ISC_VALOR_N= pd.read_excel("/nfs/science/casino_brazil/luizsalv/Via_Varejo/input/ISC_VIA_VAREJO_N.xlsx", sheet_name=0)
# ISC_VALOR_N['ISC']=ISC_VALOR_N['ISC'].apply(lambda x: x.replace(',','.'))
ISC_VALOR_N['RESPID'] = ISC_VALOR_N['respid']
del(ISC_VALOR_N['respid'])

#Input metodologia (vv)
# METODOLOGIA= pd.read_excel("/nfs/science/casino_brazil/luizsalv/Via_Varejo/input/metodologia_jan.xlsx", sheet_name=0)
# METODOLOGIA.columns = map(unicode.upper, METODOLOGIA.columns)

#Input cadastro info
ISC_GEN = pd.read_csv('/nfs/science/casino_brazil/luizsalv/Via_Varejo/input/ISC_GEN.csv',sep=';')
ISC_LC = pd.read_csv('/nfs/science/casino_brazil/luizsalv/Via_Varejo/input/ISC_LC.csv',sep=';')
ISC_GEN = [ISC_GEN,ISC_LC]
ISC_GEN = pd.concat(ISC_GEN)
ISC_GEN['DEPTO'] =(ISC_GEN['DEPTO']).astype('str')
ISC_GEN['SETOR'] =(ISC_GEN['SETOR']).astype('str')

#Input cadastro completo, priorizando móveis
# CADASTRO_COMPLETO = pd.read_csv('/nfs/science/casino_brazil/luizsalv/Via_Varejo/input/CADASTRO_COMPLETO_VV.csv',sep=';')
# CADASTRO_COMPLETO.columns = map(str.upper, CADASTRO_COMPLETO.columns)


print('Done Imports')

Done Imports

<b><h1>Treating words</b></h1>

In [5]:
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ã','a'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('á','a'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('à','a'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('â','a'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ä','a'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ç','c'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('é','e'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('è','e'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ê','e'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('í','i'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ñ','n'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ö','o'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ü','u'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('Ì','I'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('£',''))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('¥',''))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('€',''))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('¡','i'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('¿',''))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ÃO','AO'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('Ç','c'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ç','c'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('Â','A'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('Ã','A'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ó','o'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ò','o'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('"',''))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('³',''))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('²',''))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('¹',''))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('É','E'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('È','E'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ú','u'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('Ú','U'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('Ù','U'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('Á','Ad'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('À','A'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('Ò','O'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('Ó','O'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ô','o'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('ão','ao'))
ISC_GEN['DEPTO']=ISC_GEN['DEPTO'].apply(lambda x: x.replace('õe','oe'))

ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ã','a'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('á','a'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('à','a'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('â','a'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ä','a'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ç','c'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('é','e'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ê','e'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('è','e'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('í','i'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ñ','n'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ö','o'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ü','u'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('Ì','I'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('£',''))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('¥',''))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('€',''))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('¡','i'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('¿',''))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ÃO','AO'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('Ç','c'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ç','c'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('Â','A'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('Ã','A'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ó','o'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ò','o'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('"',''))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('³',''))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('²',''))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('¹',''))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('É','E'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('È','E'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ú','u'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('Ú','U'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('Ù','U'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('Á','A'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('À','A'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('Ò','O'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('Ó','O'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ô','o'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('ão','ao'))
ISC_GEN['SETOR']=ISC_GEN['SETOR'].apply(lambda x: x.replace('õe','oe'))

<b><h1>Reading historical ISC values</b></h1>

In [75]:
ISC_HIST="""SELECT * FROM AN_RT_WS36.VV_ISC_HIST"""
ISC_HIST = pd.read_sql(ISC_HIST, engine_OUT)
ISC_HIST.columns = map(unicode.upper, ISC_HIST.columns)
ISC_HIST['RESPID'] =(ISC_HIST['RESPID']).astype('int')
ISC_HIST

                    ISC  RESPID
0      78.6970954221222  226103
1                   100  226112
2      94.5026396155086  226108
3                   100  226109
4      93.1770040930653  226106
5       59.104857553732  226115
6      97.7079337384144  226117
7      94.1228948311851  226118
8                     0  226126
9                     0  226114
10     95.5651756053795  226121
11     95.0476375053641  226137
12     94.4066768172111  226131
13                  100  226143
14     77.4544528771813  226139
15     85.3763045180402  226141
16     76.0962827293539  226129
17     90.4775511674022  226144
18     90.7908618180479  226116
19     90.4300276875275  226134
20     94.1228948311851  226125
21                  100  226110
22                  100  226145
23     87.3747400815668  226153
24     91.4295232978488  226146
25                  100  226159
26     74.7371256694646  226158
27     93.7845825886837  226147
28                    0  226160
29     88.8100319999808  226150
...                 ...     ...
76363  85.1012220216815  101324
76364  71.3288392549552  101433
76365  28.3661902589608  100907
76366  84.7221281879887  100936
76367  72.5470723360239  101221
76368  40.4611069663226   99094
76369  83.9691069319188   99913
76370  93.4392845678923  101217
76371  97.4499100389363  101935
76372               100   99654
76373  95.4440404944236  101916
76374  74.1336148622705  101842
76375  96.0090439893901  101465
76376  61.2685774063791   99724
76377  97.8016977801376   98947
76378  72.4200087154231  101458
76379  51.6133156129585  101910
76380  96.5018899202662  101481
76381   90.610058545772   98589
76382  66.4497179067564  101967
76383   23.085344088102  101697
76384  31.6695589726186   99000
76385  67.2357270932955  101456
76386  89.0549353604875   98899
76387  79.8370260108878  101003
76388   90.581310958011  101885
76389  3.76888282773194  101298
76390               100  101840
76391               100  100861
76392  82.0523560666695  101179

[76393 rows x 2 columns]

<b><h1>Appending new ISC values to the historical</b></h1>

In [82]:
ISC_VALOR = ISC_VALOR_N.append(ISC_HIST)

#Removing Duplicates from VV base
ISC_VALOR = ISC_VALOR.drop_duplicates(subset=['RESPID'], keep='first')
ISC_VALOR['ISC'] = pd.to_numeric(ISC_VALOR['ISC']).astype(float)
ISC_VALOR

              ISC  RESPID
0       65.971432   86244
1       73.397471   86190
2      100.000000   85537
3        1.241904   85850
4       70.000000   85901
5       60.986506   86258
6       98.927197   85595
7       94.977511   86221
8       75.330509   86250
9       70.000000   85898
10      31.268818   86247
11      88.646462   85823
12      92.357861   86226
13      76.100857   85379
14      94.411309   86242
15      99.588268   86217
16      88.755353   85863
17      47.794272   86277
18      92.682586   86166
19      83.566596   85902
20      26.523551   86028
21      99.494385   86256
22      74.655875   85921
23     100.000000   86254
24      80.835793   86218
25      49.094998   86266
26      91.062260   85519
27      96.420445   86130
28      93.411052   86129
29      98.822277   85648
...           ...     ...
76407   81.515846  230995
76408   85.016408  231003
76409   89.116825  231007
76410   97.770582  231016
76411   89.113550  231027
76412   77.805044  231023
76413   96.054550  231031
76414   98.188480  231030
76415   95.190036  231038
76416   96.066896  231044
76417   65.266746  231047
76418   61.658108  231041
76419  100.000000  231048
76420   98.459042  231057
76421   76.957315  231052
76422   84.821906  231053
76423  100.000000  231058
76424   68.178896  231056
76425   90.980278  231061
76426   96.895739  231063
76427   99.532871  231062
76428   54.999242  231065
76429   94.506497  231067
76430   93.192134  231070
76431   20.837656  231074
76432   97.733531  231080
76433    0.000000  231085
76434   86.206093  231086
76435   72.208797  231093
76436  100.000000  231094

[76393 rows x 2 columns]

<b><h1>Creating an historical data for ISC values</b></h1>

In [83]:
dtype5={
'ISC' :    sa.NVARCHAR(length=255),
'RESPID' : sa.NVARCHAR(length=255)}

ISC_VALOR.to_sql('vv_isc_hist',engine_OUT,schema=None,if_exists='replace', chunksize=500, index=False,dtype=dtype5)
print('Done uploading isc hist')

Done uploading isc hist

<b><h1>Reading the historical information from Exadata</b></h1>

In [57]:
CADASTRO_HIST="""
SELECT DISTINCT * FROM AN_RT_WS36.VV_CADASTRO"""
CADASTRO_HIST = pd.read_sql(CADASTRO_HIST, engine_OUT)
CADASTRO_HIST.columns = map(unicode.upper, CADASTRO_HIST.columns)
CADASTRO_HIST

,BANDEIRA_NUM_PEDIDO,DS_TIPO_ENTREGA,DATE_ID,DEPTO,METODOLOGIA,SETOR,UF,DT_NASC,SEXO
0,137831648CB,Estoque ViaVarejo,25/01/2018,Utilidades Dom?sticas,Data Entrega,Faqueiros,SP,22/06/1970,F
1,136925951CB,Estoque ViaVarejo,16/01/2018,Eletroport?teis,Data Entrega,M?quinas de Costura,MG,02/09/1958,F
2,137481801EX,Estoque Cnova,18/01/2018,Eletroport?teis,Data Entrega,Aspirador de P?,SP,11/07/1981,F
3,131340362PF,Estoque Cnova,17/01/2018,Eletroport?teis,Data Entrega,Cozinha Criativa,SP,06/09/1983,F
4,137052969EX,Estoque ViaVarejo,14/01/2018,Telefones e Celulares,Data Entrega,Smartphones Desbloqueados,BA,06/04/1972,M
5,128319838EX,Normal,16/01/2018,Automotivo,Data Prometida,Marketplace,SP,23/02/1980,F
6,131885295CB,Estoque ViaVarejo,16/01/2018,Eletroport?teis,Data Entrega,Cafeteira Capsula/Expresso,SP,05/05/1963,F
7,136506866CB,Normal,16/01/2018,Rel?gios,Data Prometida,Marketplace,RJ,23/09/1977,M
8,133173354EX,Normal,18/01/2018,Eletrodom?sticos,Data Prometida,Refrigeradores,MG,11/08/1953,F
9,136246371PF,Normal,19/01/2018,Beleza e Sa?de,Data Prometida,NAO_PRODUTO,PR,21/01/1980,F
10,134957956EX,Normal,18/01/2018,Eletrodom?sticos,Data Prometida,Lava e Seca,SP,11/06/1989,F
11,135800256PF,Normal,06/01/2018,M??veis,Data Prometida,NAO_PRODUTO,RJ,30/05/1990,F
12,136830201CB,Normal,16/01/2018,Cine e Foto,Data Entrega,Marketplace,SP,13/03/1988,M
13,134934925CB,Normal,27/01/2018,Beb?s,Data Prometida,Marketplace,PR,14/05/1985,M
14,137141497CB,Estoque Cnova,16/01/2018,Eletroport?teis,Data Entrega,Panelas de arroz,SP,05/08/1966,M
15,136807007PF,Estoque ViaVarejo,16/01/2018,Telefones e Celulares,Data Entrega,Smartphones Desbloqueados,BA,16/03/1993,F
16,136647922PF,Estoque Cnova,16/01/2018,Brinquedos,Data Entrega,Jogos e Quebra cabe?a,SP,30/12/1978,F
17,136207763CB,Estoque Cnova,16/01/2018,Inform?tica,Data Entrega,Notebook,SP,02/05/1972,F
18,129779296CB,Estoque Cnova,16/01/2018,Ferramentas,Data Entrega,Ferramentas El?tricas,SP,31/03/1988,M
19,137670514EX,Normal,30/01/2018,Eletrodom?sticos,Data Entrega,NAO_PRODUTO,RJ,05/03/1983,F
20,136720972CB,Normal,30/01/2018,M??veis,Data Prometida,Marketplace,SP,07/03/1956,F
21,135895808CB,Normal,16/01/2018,Esporte e Lazer,Data Entrega,Camping & Aventura,SP,07/03/1973,F
22,135863012CB,Normal,16/01/2018,M??veis,Data Entrega,Marketplace Via Varejo,RN,09/01/1994,M
23,134703808PF,Normal,15/01/2018,M??veis,Data Entrega,Marketplace,RJ,02/12/1961,F
24,136106348PF,Normal,29/01/2018,M??veis,Data Entrega,Dormit?rio,RJ,15/12/1976,F
25,132238662PF,Normal,17/01/2018,Ferramentas,Data Entrega,Ferramentas El?tricas,RJ,18/01/1985,F
26,129479416PF,Normal,17/01/2018,Ar e Ventila??o,Data Entrega,Ventilador e Circulador,MG,19/02/1976,M
27,136450398EX,Normal,11/01/2018,Audio,Data Entrega,Audio,RJ,30/06/1986,F
28,135421095CB,Normal,17/01/2018,M??veis,Data Entrega,Secadores de Cabelo,RJ,16/07/1974,F
29,134543370PF,Normal,17/01/2018,Eletrodom?sticos,Data Entrega,Refrigeradores,SP,06/08/1969,M
...,...,...,...,...,...,...,...,...,...
43086,138986780CB,Normal,18/02/2018,M??veis,Data Entrega,Sala de Jantar,None,None,None
43087,138034167PF,Normal,20/02/2018,jan/00,Data Entrega,jan/00,None,None,None
43088,139346971EX,Normal,28/02/2018,Eletroportateis,Data Entrega,Purificador de Agua,None,None,None
43089,137982004CB,Normal,03/02/2018,Eletrodom?sticos,Data Entrega,Fog?es,RJ,13/02/1977,M
43090,139341885EX,Normal,28/02/2018,Telefones e Celulares,Data Entrega,Smartphones Desbloqueados,None,None,None
43091,138887549CB,Normal,25/02/2018,jan/00,Data Entrega,jan/00,None,None,None
43092,139160988EX,Normal,25/02/2018,jan/00,Data Entrega,jan/00,None,None,None
43093,138654485PF,Normal,27/02/2018,Eletrodomesticos,Data Entrega,Lavadoras,None,None,None
43094,137336733PF,Outros,15/02/2018,Eletrodomesticos,Data Entrega,Refrigeradores,None,None,None
43095,138505879CB,Normal,10/02/2018,Beleza e Saude,Data Entrega,Medidores de Pressao,None,None,None
43096,138098425CB,Normal,03/02/2018,Eletrodom?sticos,Data Entrega,Microondas,RS,28/12/1981,F
43097,138078364CB,Normal,08/02/2018,Telefones e Celulares,Data Entrega,Smartphones Desbloqueados,None,None,None
43098,138903396PF,Normal,23/02/2018,jan/00,Data Entrega,jan/00,None,None,None
43099,138754789EX,Normal,16/02/2018,Adudio,Data Entrega,Audio,None,None,None
43100,138868205CB,Normal,25/02/2018,jan/00,Data Entrega,jan/00,None,None,None
43101,138410056CB,Normal,09/02/2018,Telefones e Celulares,Data Entrega,Smartphones Desbloqueados,None,None,None
43102,138943283PF,Normal,19/02/2018,jan/00,Data Entrega,jan/00,None,None,None
43103,138507874PF,Normal,22/02/2018,jan/00,Data Entrega,jan/00,None,None,None
43104,138164480EX,Normal,15/02/2018,Adudio,Data Entrega,Audio,None,None,None
43105,138440942EX,Normal,08/02/2018,Informatica,Data Entrega,E-Reader,None,None,None
43106,137964134CB,Normal,07/02/2018,Utilidades Domesticas,Data Entrega,Acessorios de Cozinha - NOVA,None,None,None
43107,138512821CB,Normal,15/02/2018,Eletrodomesticos,Data Entrega,Fogoes,None,None,None
43108,138048820CB,Normal,06/02/2018,M??veis,Data Entrega,Banheiro,None,None,None
43109,137826187PF,Normal,07/02/2018,Eletrodomesticos,Data Entrega,Lavadoras,None,None,None
43110,139103743CB,Normal,22/02/2018,jan/00,Data Entrega,jan/00,None,None,None
43111,138359468EX,Normal,12/02/2018,Telefones e Celulares,Data Entrega,Smartphones Desbloqueados,None,None,None
43112,139175356EX,Normal,25/02/2018,jan/00,Data Entrega,jan/00,None,None,None
43113,138580058PF,Normal,11/02/2018,Eletrodomesticos,Data Entrega,Adega de Vinhos,None,None,None
43114,137649090PF,Normal,06/02/2018,Eletrodomesticos,Data Entrega,Refrigeradores,None,None,None
43115,138943736PF,Normal,27/02/2018,Informatica,Data Entrega,Acessorios,None,None,None

<b><h1>Appending new info to Hist</b></h1>

In [16]:
ISC_GEN['BANDEIRA_NUM_PEDIDO'] = ISC_GEN['ID_COMPRA'].map(str) + ISC_GEN['BANDEIRA']
ISC_ALL = ISC_GEN.append(CADASTRO_HIST)
#Removing Duplicates from VV base
ISC_ALL = ISC_ALL.drop_duplicates(subset=['BANDEIRA_NUM_PEDIDO'], keep='first')
del(ISC_ALL['QTD_PRODUTOS'])
del(ISC_ALL['VALOR_PEDIDO'])
del(ISC_ALL['NR_ENTREGA'])
del(ISC_ALL['NR_LOJISTA'])
ISC_ALL

,BANDEIRA,BANDEIRA_NUM_PEDIDO,DATA_PONTO,DEPTO,DS_TIPO_ENTREGA,DT_NASC,DT_PEDIDO,ENT,ID_CLIENTE,ID_COMPRA,LOJISTA,NOTA,PONTO_CONTROLE,SEGMENTO,SETOR,SEXO,TIPO_LISTA,UF
0,CB,109884686CB,12/12/2016 14:14,Games,Normal,28/08/1964,25/11/2016,CLIENTE,7871999.0,109884686,FOX EXPRESS,0,NFS,MKTPLACE,Console,F,NaN,AL
1,EX,121523246EX,03/07/2017 12:33,Eletroportateis,Normal,24/04/1991,30/06/2017,CLIENTE,14879969.0,121523246,H2O Purificadores,0,NFS,MKTPLACE,NAO_PRODUTO,M,NaN,SP
2,PF,122100184PF,28/07/2017 21:28,Telefones e Celulares,Normal,01/07/1966,07/07/2017,CLIENTE,4112350.0,122100184,HM Eletro,0,IVE,MKTPLACE,NAO_PRODUTO,M,NaN,SP
6,PF,122362490PF,29/07/2017 01:38,Games,Normal,25/03/1978,12/07/2017,CLIENTE,113874.0,122362490,Fenix Shop,9,NFS,MKTPLACE,Marketplace,M,NaN,SP
7,PF,123098544PF,29/07/2017 06:47,Telefones e Celulares,Normal,06/08/1962,20/07/2017,CLIENTE,6718818.0,123098544,Lu Celulares,0,NFS,MKTPLACE,Smartphones Desbloqueados,M,NaN,SP
8,EX,126593904EX,13/09/2017 09:57,Pet Shop,Normal,02/07/1960,08/09/2017,CLIENTE,528983.0,126593904,Petvirtual,10,NFS,MKTPLACE,NAO_PRODUTO,F,NaN,SP
9,PF,127198020PF,25/10/2017 07:49,TVs e Acessorios,Normal,22/03/1985,20/09/2017,CLIENTE,13386086.0,127198020,VGSHOP,10,NFS,MKTPLACE,Marketplace,F,NaN,PE
10,EX,127579889EX,26/09/2017 23:58,Beleza e Saude,Normal,09/10/1978,24/09/2017,CLIENTE,7118062.0,127579889,Girafa,0,NFS,MKTPLACE,Marketplace,F,NaN,RJ
11,CB,127746636CB,29/09/2017 18:43,Telefones e Celulares,Outros,08/01/1988,27/09/2017,CLIENTE,15276594.0,127746636,Directstock,1,NFS,MKTPLACE,Smartphones Desbloqueados,M,NaN,SP
12,PF,127765204PF,01/11/2017 15:07,Moveis,Normal,04/09/1974,27/09/2017,CLIENTE,661744.0,127765204,Mezzanine,0,NFS,MKTPLACE,Marketplace,F,NaN,PR
13,CB,127774580CB,04/10/2017 07:29,Informatica,Normal,28/09/1987,27/09/2017,CLIENTE,7457238.0,127774580,VADERSTORE,1,IVE,MKTPLACE,Acessorios,F,NaN,RS
17,CB,128284824CB,10/10/2017 15:23,Eletroportateis,Normal,19/11/2001,01/10/2017,CLIENTE,8320143.0,128284824,SUGGAR,0,NFS,MKTPLACE,Forno de Embutir,M,NaN,MG
18,PF,128461359PF,24/10/2017 16:56,Telefones e Celulares,Normal,21/12/1977,03/10/2017,CLIENTE,61589840.0,128461359,Underbody,4,NFS,MKTPLACE,Marketplace,M,NaN,SP
19,CB,129083719CB,10/10/2017 13:25,Moveis,Normal,24/10/1962,09/10/2017,CLIENTE,12993351.0,129083719,Filomena-Mena-Mena,2,NFS,MKTPLACE,Marketplace,F,NaN,RJ
23,CB,129139558CB,13/10/2017 10:47,Eletrodomesticos,Normal,28/09/1971,10/10/2017,CLIENTE,8234558.0,129139558,WebContinental,1,NFS,MKTPLACE,Marketplace,M,NaN,RJ
24,CB,129714550CB,19/10/2017 19:20,Instrumentos Musicais,Normal,09/05/1965,17/10/2017,CLIENTE,15425590.0,129714550,Shop Musicale,0,PAP,MKTPLACE,NAO_PRODUTO,M,NaN,MG
25,PF,129729388PF,25/10/2017 18:58,TVs e Acessorios,Normal,30/03/1970,17/10/2017,CLIENTE,1276031.0,129729388,eFácil,9,NFS,MKTPLACE,Marketplace,F,NaN,RJ
26,PF,129939033PF,09/01/2018 16:04,Informatica,Normal,11/12/1976,19/10/2017,CLIENTE,2062825.0,129939033,IMM,0,CAN,MKTPLACE,Marketplace Internacional,M,NaN,AC
27,EX,130934458EX,17/01/2018 13:51,Moda,Normal,26/03/1991,26/10/2017,CLIENTE,4661901.0,130934458,IMM,0,CAN,MKTPLACE,NAO_PRODUTO,M,NaN,RJ
28,PF,131111092PF,05/11/2017 15:45,TVs e Acessorios,Normal,23/10/1980,29/10/2017,CLIENTE,14574195.0,131111092,MegaMamute,0,NFS,MKTPLACE,NAO_PRODUTO,F,NaN,MG
29,CB,131471067CB,30/12/2017 18:39,Ferramentas,Normal,10/02/1975,01/11/2017,CLIENTE,2038584.0,131471067,Multiloja,0,NFS,MKTPLACE,Ferramentas Eletricas,F,NaN,SP
30,PF,131643021PF,07/11/2017 22:48,TVs e Acessorios,Normal,01/03/1990,05/11/2017,CLIENTE,14596356.0,131643021,eFácil,0,NFS,MKTPLACE,TV LED,M,NaN,SC
31,PF,131861892PF,08/11/2017 13:00,Moveis,Normal,18/02/1951,06/11/2017,CLIENTE,13484245.0,131861892,PR Baby,10,NFS,MKTPLACE,Marketplace,M,NaN,BA
40,CB,131883720CB,20/12/2017 01:33,Moveis,Normal,22/05/1983,06/11/2017,CLIENTE,1061227.0,131883720,Tricae Ltda,0,NFS,MKTPLACE,Marketplace,F,NaN,SP
41,PF,132086980PF,12/12/2017 17:45,Moveis,Normal,02/04/1962,09/11/2017,CLIENTE,14610445.0,132086980,Mobly,0,NFS,MKTPLACE,Marketplace,M,NaN,SP
42,PF,132151945PF,29/12/2017 15:15,Moveis,Normal,06/11/1967,10/11/2017,CLIENTE,9870886.0,132151945,MadeiraMadeira,0,NFS,MKTPLACE,NAO_PRODUTO,M,NaN,SP
46,PF,132186627PF,12/12/2017 18:15,Produtos de Limpeza,Normal,11/12/1976,11/11/2017,CLIENTE,14617049.0,132186627,FARMA DELIVERY,0,NFS,MKTPLACE,Marketplace,M,NaN,SP
47,PF,132218915PF,12/12/2017 18:27,Moveis,Normal,08/03/1984,11/11/2017,CLIENTE,14619746.0,132218915,MadeiraMadeira,10,NFS,MKTPLACE,Marketplace,M,NaN,RJ
48,CB,132261750CB,14/11/2017 12:54,Moveis,Normal,17/02/1956,12/11/2017,CLIENTE,12741951.0,132261750,MadeiraMadeira,8,NFS,MKTPLACE,Marketplace,F,NaN,RJ
52,CB,132468381CB,14/11/2017 10:48,Telefones e Celulares,Estoque ViaVarejo,22/01/1984,14/11/2017,RETIRA,3859952.0,132468381,Casas Bahia - Vila Luzita,0,NFS,MKTPLACE,Smartphones Desbloqueados,M,NaN,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577049,CB,105455562CB,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577050,CB,103933627CB,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577051,CB,104706587CB,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577052,PF,101108584PF,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577053,PF,106882320PF,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577054,CB,121465984CB,0,TVs e Acessorios,Normal,28/09/1987,0,0,NaN,0,Casas Bahia,0,0,0,TV LED SMART,F,0,SP
577055,EX,127378946EX,0,TVs e Acessorios,Normal,22/11/1956,0,0,NaN,0,Extra,0,0,0,TV LED SMART,M,0,RJ
577056,PF,129412092PF,0,Informatica,Normal,29/06/1982,0,0,NaN,0,Pontofrio,0,0,0,Notebook,M,0,AM
577057,CB,127051750CB,0,Eletroportateis,Normal,24/08/1982,0,0,NaN,0,Casas Bahia,0,0,0,Torradeiras,M,0,RS
577058,EX,104694013EX,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577059,CB,106749692CB,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577060,EX,104071125EX,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577061,PF,103238436PF,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577062,PF,105501768PF,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577063,CB,106134457CB,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577064,EX,107714148EX,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577065,PF,120463202PF,0,Eletroportateis,Normal,08/08/1976,0,0,NaN,0,Pontofrio,0,0,0,Mixer,F,0,ES
577066,CB,121506216CB,0,Ar e Ventilacao,Normal,14/09/1987,0,0,NaN,0,Casas Bahia,0,0,0,Ventilador e Circulador,F,0,SP
577067,CB,120855438CB,0,Telefones e Celulares,Normal,15/11/1987,0,0,NaN,0,Casas Bahia,0,0,0,Smartphones Desbloqueados,M,0,MG
577068,CB,129646826CB,0,Eletrodomesticos,Normal,15/09/1972,0,0,NaN,0,Casas Bahia,0,0,0,Fogoes,F,0,SP
577069,PF,126806016PF,0,Eletroportateis,Normal,29/01/1970,0,0,NaN,0,Pontofrio,0,0,0,Mixer,F,0,RJ
577070,EX,129514920EX,0,Telefones e Celulares,Normal,17/09/1971,0,0,NaN,0,Extra,0,0,0,Smartphones Desbloqueados,M,0,MG
577071,CB,104813431CB,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577072,CB,104427472CB,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577073,CB,105738816CB,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577074,PF,103710178PF,0,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0
577075,PF,120641180PF,0,Games,Normal,08/08/1978,0,0,NaN,0,Pontofrio,0,0,0,Jogos,M,0,PR
577076,EX,128672164EX,0,Automotivo,Normal,08/09/1982,0,0,NaN,0,Extra,0,0,0,Pneus,M,0,SP
577077,EX,126934260EX,0,TVs e Acessorios,Normal,21/01/1987,0,0,NaN,0,Extra,0,0,0,TV LED SMART,M,0,SP
577078,PF,126989501PF,0,Beleza e Saude,Estoque Cnova,31/01/1979,0,0,NaN,0,Pontofrio,0,0,0,Inalador/Nebulizador,F,0,SP

<b><h1>Uploading cadastro to Exadata</b></h1>

In [25]:
ISC_ALL['NOTA'] =(ISC_ALL['NOTA']).astype('float')
ISC_ALL['ID_COMPRA'] =(ISC_ALL['ID_COMPRA']).astype('int')

dtype1={
'PONTO_CONTROLE' : sa.NVARCHAR(length=255) ,
'ENT' : sa.NVARCHAR(length=255) ,
'NR_ENTREGA' : sa.INTEGER ,
'TIPO_LISTA' : sa.NVARCHAR(length=255) ,
'BANDEIRA' : sa.NVARCHAR(length=255) ,
'BANDEIRA_NUM_PEDIDO' : sa.NVARCHAR(length=255) ,
'SEGMENTO' : sa.NVARCHAR(length=255) ,
'DT_NASC' : sa.NVARCHAR(length=255) ,
'ID_CLIENTE' : sa.INTEGER ,
'DT_PEDIDO' : sa.NVARCHAR(length=255) ,
'DATE_ID' : sa.NVARCHAR(length=255) ,
'METODOLOGIA' : sa.NVARCHAR(length=255) ,
'NR_LOJISTA' : sa.INTEGER ,
'LOJISTA' : sa.NVARCHAR(length=255) ,
'DS_TIPO_ENTREGA': sa.NVARCHAR(length=255),
'DATA_PONTO' : sa.NVARCHAR(length=255), 
'SEXO' : sa.NVARCHAR(length=255), 
'NOTA' : sa.INTEGER, 
'UF' : sa.NVARCHAR(length=255), 
'DEPTO' : sa.NVARCHAR(length=255), 
'SETOR' : sa.NVARCHAR(length=255), 
'VALOR_PEDIDO' : sa.NVARCHAR(length=255),
'QTD_PRODUTOS' :sa.INTEGER,
'ID_COMPRA' :sa.INTEGER}

ISC_ALL.to_sql('vv_cadastro',engine_OUT,schema=None,if_exists='replace', chunksize=500, index=False,dtype=dtype1)

print('Done uploading cadastro')

BANDEIRA_NUM_PEDIDO
0        138719186EX
1        138526003EX
2        138881829PF
3        137387037CB
4        138863319EX
5        138867413PF
6        138928179EX
7        138721143EX
8        138928232PF
9        138509302PF
10       138533772PF
11       138586799CB
12       138352465CB
13       138491016PF
14       138719659PF
15       138113392EX
16       138746838CB
17       138556234CB
18       138767972PF
19       138726083PF
20       138815447CB
21       139043596CB
22       138830800EX
23       138737224EX
24       138868925CB
25       138804780EX
26       138731240EX
27       138571425CB
28       138593580EX
29       138855319EX
            ...
43086    137233409CB
43087    137352220CB
43088    137254100CB
43089    137180252CB
43090    137344919EX
43091    136288982EX
43092    138127860EX
43093    138083662PF
43094    136967467EX
43095    136938877EX
43096    137123923EX
43097    137125443EX
43098    136959119CB
43099    137340032EX
43100    137174722CB
43101    137332530CB
43102    136673384EX
43103    137013190CB
43104    136920374EX
43105    136265151EX
43106    137321986CB
43107    137052969EX
43108    137294895EX
43109    137176387CB
43110    137288272CB
43111    137284934PF
43112    137082748PF
43113    137242700EX
43114    137306464CB
43115    137081756EX
Name: BANDEIRA_NUM_PEDIDO, Length: 43116, dtype: object
DS_TIPO_ENTREGA
0                   Normal
1                   Normal
2                   Normal
3                   Normal
4                   Normal
5                   Normal
6                   Normal
7                   Normal
8                   Normal
9                   Normal
10                  Normal
11                  Normal
12                  Normal
13                  Normal
14                  Normal
15                  Normal
16                  Normal
17                  Normal
18                  Normal
19                  Normal
20                  Normal
21                  Normal
22                  Normal
23                  Normal
24                  Normal
25                  Normal
26                  Normal
27                  Normal
28                  Normal
29                  Normal
               ...
43086    Estoque ViaVarejo
43087    Estoque ViaVarejo
43088    Estoque ViaVarejo
43089        Estoque Cnova
43090    Estoque ViaVarejo
43091        Estoque Cnova
43092    Estoque ViaVarejo
43093    Estoque ViaVarejo
43094    Estoque ViaVarejo
43095        Estoque Cnova
43096    Estoque ViaVarejo
43097    Estoque ViaVarejo
43098        Estoque Cnova
43099    Estoque ViaVarejo
43100    Estoque ViaVarejo
43101    Estoque ViaVarejo
43102        Estoque Cnova
43103    Estoque ViaVarejo
43104        Estoque Cnova
43105        Estoque Cnova
43106    Estoque ViaVarejo
43107    Estoque ViaVarejo
43108    Estoque ViaVarejo
43109    Estoque ViaVarejo
43110    Estoque ViaVarejo
43111    Estoque ViaVarejo
43112        Estoque Cnova
43113    Estoque ViaVarejo
43114    Estoque ViaVarejo
43115    Estoque ViaVarejo
Name: DS_TIPO_ENTREGA, Length: 43116, dtype: object
DATE_ID
0        16/02/2018
1        16/02/2018
2        17/02/2018
3        17/02/2018
4        17/02/2018
5        17/02/2018
6        17/02/2018
7        17/02/2018
8        17/02/2018
9        17/02/2018
10       17/02/2018
11       15/02/2018
12       15/02/2018
13       15/02/2018
14       15/02/2018
15       16/02/2018
16       16/02/2018
17       17/02/2018
18       17/02/2018
19       17/02/2018
20       17/02/2018
21       17/02/2018
22       17/02/2018
23       15/02/2018
24       15/02/2018
25       15/02/2018
26       15/02/2018
27       15/02/2018
28       16/02/2018
29       16/02/2018
            ...
43086    14/01/2018
43087    14/01/2018
43088    14/01/2018
43089    14/01/2018
43090    14/01/2018
43091    08/01/2018
43092    31/01/2018
43093    31/01/2018
43094    08/01/2018
43095    11/01/2018
43096    12/01/2018
43097    11/01/2018
43098    12/01/2018
43099    15/01/2018
43100    15/01/2018
43101    15/01/2018
43102    08/01/2018
43103    11/01/2018
43104    11/01/2018
43105    13/01/2018
43106    15/01/2018
43107    14/01/2018
43108    14/01/2018
43109    15/01/2018
43110    14/01/2018
43111    14/01/2018
43112    15/01/2018
43113    15/01/2018
43114    15/01/2018
43115    09/01/2018
Name: DATE_ID, Length: 43116, dtype: object
DEPTO
0             Eletrodomesticos
1        Telefones e Celulares
2             Eletrodomesticos
3                  Informatica
4        Telefones e Celulares
5                       Adudio
6              Eletroportateis
7              Eletroportateis
8             Eletrodomesticos
9                  Informatica
10       Telefones e Celulares
11       Telefones e Celulares
12                      Móveis
13                    Relogios
14                      Adudio
15            TVs e Acessorios
16            Eletrodomesticos
17            TVs e Acessorios
18       Telefones e Celulares
19       Telefones e Celulares
20             Eletroportateis
21       Telefones e Celulares
22             Esporte e Lazer
23             Eletroportateis
24       Telefones e Celulares
25            Eletrodomesticos
26            Eletrodomesticos
27             Eletroportateis
28            Beleza e Saude
29             Esporte e Lazer
                 ...
43086    Utilidades Domesticas
43087         TVs e Acessorios
43088          Eletroportateis
43089    Utilidades Domesticas
43090         TVs e Acessorios
43091          Eletroportateis
43092    Telefones e Celulares
43093              Inform?tica
43094          Ar e Ventilacao
43095          Eletroportateis
43096          Ar e Ventilacao
43097         TVs e Acessorios
43098          Ar e Ventilacao
43099          Eletroportateis
43100         Beleza e Saude
43101          Eletroportateis
43102    Telefones e Celulares
43103    Telefones e Celulares
43104          Eletroportateis
43105               Brinquedos
43106          Eletroportateis
43107    Telefones e Celulares
43108          Eletroportateis
43109              Ferramentas
43110    Telefones e Celulares
43111              Informatica
43112          Eletroport?teis
43113          Eletroport?teis
43114          Eletroport?teis
43115          Eletroportateis
Name: DEPTO, Length: 43116, dtype: object
METODOLOGIA
0        Data Entrega
1        Data Entrega
2        Data Entrega
3        Data Entrega
4        Data Entrega
5        Data Entrega
6        Data Entrega
7        Data Entrega
8        Data Entrega
9        Data Entrega
10       Data Entrega
11       Data Entrega
12       Data Entrega
13       Data Entrega
14       Data Entrega
15       Data Entrega
16       Data Entrega
17       Data Entrega
18       Data Entrega
19       Data Entrega
20       Data Entrega
21       Data Entrega
22       Data Entrega
23       Data Entrega
24       Data Entrega
25       Data Entrega
26       Data Entrega
27       Data Entrega
28       Data Entrega
29       Data Entrega
             ...
43086    Data Entrega
43087    Data Entrega
43088    Data Entrega
43089    Data Entrega
43090    Data Entrega
43091    Data Entrega
43092    Data Entrega
43093    Data Entrega
43094    Data Entrega
43095    Data Entrega
43096    Data Entrega
43097    Data Entrega
43098    Data Entrega
43099    Data Entrega
43100    Data Entrega
43101    Data Entrega
43102    Data Entrega
43103    Data Entrega
43104    Data Entrega
43105    Data Entrega
43106    Data Entrega
43107    Data Entrega
43108    Data Entrega
43109    Data Entrega
43110    Data Entrega
43111    Data Entrega
43112    Data Entrega
43113    Data Entrega
43114    Data Entrega
43115    Data Entrega
Name: METODOLOGIA, Length: 43116, dtype: object
SETOR
0                       Refrigeradores
1            Smartphones Desbloqueados
2                       Refrigeradores
3                           Periferico
4            Smartphones Desbloqueados
5                                Audio
6                     Liquidificadores
7                           Batedeiras
8                           Microondas
9                             Notebook
10           Smartphones Desbloqueados
11           Smartphones Desbloqueados
12                       Sala de Estar
13                               Casio
14                               Audio
15                        TV LED SMART
16                      Refrigeradores
17                        TV LED SMART
18           Smartphones Desbloqueados
19           Smartphones Desbloqueados
20                     Aspirador de Po
21           Smartphones Desbloqueados
22                          Bicicletas
23                    Liquidificadores
24           Smartphones Desbloqueados
25                      Refrigeradores
26                      Refrigeradores
27              Espremedores de Frutas
28           Maquinas de Cortar Cabelo
29                Fitness e Musculacao
                     ...
43086                        Faqueiros
43087                           TV LED
43088                            Mixer
43089               Aparelho de jantar
43090                     TV LED SMART
43091    Panificadora (Maquina de Pao)
43092        Smartphones Desbloqueados
43093                         Notebook
43094          Ventilador e Circulador
43095                 Liquidificadores
43096          Ventilador e Circulador
43097                     TV LED SMART
43098               Ventilador de Teto
43099                  Aspirador de Po
43100             Pranchas (Chapinhas)
43101                 Liquidificadores
43102        Smartphones Desbloqueados
43103        Smartphones Desbloqueados
43104                  Aspirador de Po
43105            Jogos e Quebra cabeca
43106                 Liquidificadores
43107        Smartphones Desbloqueados
43108                      Fritadeiras
43109            Ferramentas El?tricas
43110        Smartphones Desbloqueados
43111                         Notebook
43112       Cafeteira Capsula/Expresso
43113              M?quinas de Costura
43114                 Liquidificadores
43115                    Forno de mesa
Name: SETOR, Length: 43116, dtype: object

Done uploading cadastro

<b><h1>Treating the dates</b></h1>

In [26]:
#Converting interview date to str
BASE_TOLUNA['DATA'] = BASE_TOLUNA['INTERVIEW_DATE'].astype('str')

#Creating ANO, MES and DIA
BASE_TOLUNA['ANO'] = BASE_TOLUNA['DATA'].str[:4]
BASE_TOLUNA['MES'] = BASE_TOLUNA['DATA'].str[4:6]
BASE_TOLUNA['DIA'] = BASE_TOLUNA['DATA'].str[-2:]

#Concatenating the columns to create the dates
BASE_TOLUNA['DATE_ID'] = BASE_TOLUNA['DIA']+"/"+BASE_TOLUNA['MES']+"/"+BASE_TOLUNA['ANO']

del(BASE_TOLUNA['MES'])
del(BASE_TOLUNA['DIA'])
del(BASE_TOLUNA['ANO'])
del(BASE_TOLUNA['DATA'])
del(BASE_TOLUNA['INTERVIEW_DATE'])

#Removing duplicates from Toluna base
# BASE_TOLUNA = BASE_TOLUNA.drop_duplicates(subset=['BANDEIRA_NUM_PEDIDO'], keep='first')

BASE_TOLUNA

,RESPID,ID_QUESTIONARIO,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,...,TIPO_LISTA,QUESTION_QUOTA,BANDEIRA,NUM_PEDIDO,BANDEIRA_NUM_PEDIDO,NUM_CLIENTE,NOME_SEGMENTO,TIPO_EMTREGA,TIPO_LISTA.1,DATE_ID
0,1448,4,7,6,6,8,8,8,8,NaN,...,,1,CB,129479522,129479522CB,3353125,MKTPLACE,CLIENTE,,08/11/2017
1,1450,1,0,1,1,6,0,6,0,NaN,...,,1,CB,130786955,130786955CB,1789527,B2C,CLIENTE,,08/11/2017
2,1451,5,10,9,9,9,9,9,9,9.0,...,,1,CB,129707220,129707220CB,5339896,MISTO,CLIENTE,,08/11/2017
3,1452,1,10,3,8,10,9,8,10,NaN,...,,1,CB,130508896,130508896CB,6944701,B2C,CLIENTE,,08/11/2017
4,1454,1,10,10,10,10,10,10,10,NaN,...,,1,CB,130488240,130488240CB,5003719,B2C,CLIENTE,,08/11/2017
5,1455,1,8,7,6,8,8,8,8,NaN,...,,1,CB,129905910,129905910CB,5875270,B2C,CLIENTE,,08/11/2017
6,1458,1,9,8,8,8,8,8,8,NaN,...,,1,CB,130291376,130291376CB,15465538,B2C,CLIENTE,,08/11/2017
7,1459,1,10,9,9,9,10,9,10,NaN,...,,1,CB,130449013,130449013CB,8602998,B2C,CLIENTE,,08/11/2017
8,1461,4,10,10,10,10,10,10,10,NaN,...,,1,CB,128700920,128700920CB,15337596,MKTPLACE,CLIENTE,,08/11/2017
9,1462,1,5,7,6,7,6,7,6,NaN,...,,1,CB,130458355,130458355CB,15165308,B2C,CLIENTE,,08/11/2017
10,1463,6,10,8,9,8,9,9,9,NaN,...,,1,CB,131297414,131297414CB,9784300,B2C,RETIRA,,08/11/2017
11,1464,4,10,7,7,7,7,7,7,NaN,...,,1,CB,131330700,131330700CB,13302617,MKTPLACE,CLIENTE,,08/11/2017
12,1465,1,10,10,10,8,10,7,7,NaN,...,,1,CB,130487469,130487469CB,14463788,B2C,CLIENTE,,08/11/2017
13,1466,4,2,2,1,6,5,1,5,NaN,...,,1,CB,124909965,124909965CB,8767412,MKTPLACE,CLIENTE,,08/11/2017
14,1467,1,9,9,9,9,9,9,9,NaN,...,,1,CB,129934368,129934368CB,7562240,B2C,CLIENTE,,08/11/2017
15,1469,1,10,10,10,10,10,10,10,NaN,...,,1,CB,130283271,130283271CB,5178163,B2C,CLIENTE,,08/11/2017
16,1470,1,10,10,10,10,10,10,10,NaN,...,,1,CB,129773397,129773397CB,7249298,B2C,CLIENTE,,08/11/2017
17,1471,1,10,10,10,10,10,10,10,NaN,...,,1,CB,130816136,130816136CB,11870613,B2C,CLIENTE,,08/11/2017
18,1472,1,10,10,10,9,9,10,10,NaN,...,,1,CB,130287542,130287542CB,15464814,B2C,CLIENTE,,08/11/2017
19,1479,4,10,10,10,10,10,10,10,NaN,...,,1,CB,130779666,130779666CB,7808521,MKTPLACE,CLIENTE,,08/11/2017
20,1480,4,5,8,8,9,9,9,9,NaN,...,,1,CB,127697380,127697380CB,9049831,MKTPLACE,CLIENTE,,08/11/2017
21,1481,1,9,8,7,8,8,8,8,NaN,...,,1,CB,129918317,129918317CB,15424122,B2C,CLIENTE,,08/11/2017
22,1482,1,10,8,8,9,9,9,5,NaN,...,,1,CB,130522838,130522838CB,15481593,B2C,CLIENTE,,08/11/2017
23,1483,4,0,2,0,0,0,0,0,NaN,...,,1,CB,129798334,129798334CB,671134,MKTPLACE,CLIENTE,,08/11/2017
24,1485,1,9,8,8,8,8,8,9,NaN,...,,1,EX,130238646,130238646EX,7572352,B2C,CLIENTE,,08/11/2017
25,1487,1,10,10,10,10,10,10,10,NaN,...,,1,PF,130253250,130253250PF,14550075,B2C,CLIENTE,,08/11/2017
26,1488,4,10,8,8,7,7,8,8,NaN,...,,1,PF,129337559,129337559PF,1500129,MKTPLACE,CLIENTE,,08/11/2017
27,1489,6,7,7,7,8,8,8,8,NaN,...,,1,CB,130987884,130987884CB,11049980,B2C,RETIRA,,08/11/2017
28,1490,1,10,10,9,9,9,9,10,NaN,...,,1,CB,130527695,130527695CB,2569886,B2C,CLIENTE,,08/11/2017
29,1491,6,10,10,7,8,9,8,8,NaN,...,,1,CB,130783103,130783103CB,13624112,B2C,RETIRA,,08/11/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76587,231617,1,10,9,9,9,9,8,9,NaN,...,,1,CB,138901776,138901776CB,16337003,B2C,CLIENTE,,01/03/2018
76588,231619,1,9,9,9,9,9,9,9,NaN,...,,1,CB,139148744,139148744CB,14590696,B2C,CLIENTE,,01/03/2018
76589,231627,1,10,7,8,10,10,7,9,NaN,...,,1,CB,138965074,138965074CB,8049684,B2C,CLIENTE,,01/03/2018
76590,231629,1,10,9,9,9,10,9,10,NaN,...,,1,EX,139335013,139335013EX,5012961,B2C,CLIENTE,,01/03/2018
76591,231635,1,10,9,9,9,9,9,9,NaN,...,,1,CB,139038807,139038807CB,2513443,B2C,CLIENTE,,01/03/2018
76592,231643,1,10,10,10,10,10,10,10,NaN,...,,1,EX,139323129,139323129EX,9922625,B2C,CLIENTE,,01/03/2018
76593,231646,1,10,10,10,10,10,10,10,NaN,...,,1,EX,139310934,139310934EX,6584839,B2C,CLIENTE,,01/03/2018
76594,231651,1,10,9,10,9,9,9,10,NaN,...,,1,EX,139315793,139315793EX,16904853,B2C,CLIENTE,,01/03/2018
76595,231658,1,9,7,7,9,9,8,9,NaN,...,,1,CB,139431439,139431439CB,15285238,B2C,CLIENTE,,01/03/2018
76596,231659,1,8,8,9,9,9,7,10,NaN,...,,1,CB,139245712,139245712CB,16383638,B2C,CLIENTE,,01/03/2018
76597,231660,1,8,5,4,6,5,5,8,NaN,...,,1,CB,139137768,139137768CB,14915818,B2C,CLIENTE,,01/03/2018
76598,231666,1,10,9,10,10,10,10,10,NaN,...,,1,EX,139115219,139115219EX,7282141,B2C,CLIENTE,,01/03/2018
76599,231667,6,9,9,9,8,7,8,8,NaN,...,,1,CB,139428237,139428237CB,16412301,B2C,RETIRA,,01/03/2018
76600,231673,4,5,4,4,9,6,9,10,NaN,...,,1,CB,138580336,138580336CB,16295218,MKTPLACE,CLIENTE,,01/03/2018
76601,231677,1,10,8,9,10,9,8,10,NaN,...,,1,EX,139404413,139404413EX,5026880,B2C,CLIENTE,,01/03/2018
76602,231678,4,0,6,8,8,8,8,8,NaN,...,,1,CB,139138225,139138225CB,7679653,MKTPLACE,CLIENTE,,01/03/2018
76603,231684,1,10,10,10,10,10,10,10,NaN,...,,1,EX,139482802,139482802EX,3667182,B2C,CLIENTE,,01/03/2018
76604,231690,1,10,10,10,9,10,10,10,NaN,...,,1,EX,139269677,139269677EX,3421597,B2C,CLIENTE,,01/03/2018
76605,231691,6,9,8,9,6,6,7,10,NaN,...,,1,CB,139475305,139475305CB,8148514,MKTPLACE,RETIRA,,01/03/2018
76606,231693,1,10,8,10,10,10,10,10,NaN,...,,1,EX,139076831,139076831EX,7193826,B2C,CLIENTE,,01/03/2018
76607,231695,1,10,8,9,10,10,10,10,NaN,...,,1,PF,139050280,139050280PF,14986418,B2C,CLIENTE,,01/03/2018
76608,231700,6,1,8,1,8,8,6,5,NaN,...,,1,CB,139113592,139113592CB,16364780,MKTPLACE,RETIRA,,01/03/2018
76609,231701,1,0,8,8,7,7,7,7,NaN,...,,1,PF,138913463,138913463PF,11236292,B2C,CLIENTE,,01/03/2018
76610,231708,4,7,5,8,7,6,3,7,NaN,...,,1,EX,137479726,137479726EX,16676892,MKTPLACE,CLIENTE,,01/03/2018
76611,231712,6,10,10,10,10,10,10,10,NaN,...,,1,CB,139512882,139512882CB,16425687,B2C,RETIRA,,01/03/2018
76612,231714,6,7,0,3,7,6,7,8,NaN,...,,1,CB,139447048,139447048CB,1435148,B2C,RETIRA,,01/03/2018
76613,231726,1,5,5,6,8,8,8,8,NaN,...,,1,CB,139317280,139317280CB,3133772,B2C,CLIENTE,,01/03/2018
76614,231729,1,10,10,10,10,10,10,10,NaN,...,,1,CB,139164942,139164942CB,4609311,B2C,CLIENTE,,01/03/2018
76615,231735,1,10,9,9,10,10,10,10,NaN,...,,1,CB,139462396,139462396CB,13543038,B2C,CLIENTE,,01/03/2018
76616,231737,1,8,9,9,9,9,9,9,NaN,...,,1,CB,139054462,139054462CB,16356900,B2C,CLIENTE,,01/03/2018

<b><h1>RETRIEVING LY INFO AND LEFT JOIN BASE TOLUNA ON ISC ALL AND LEFT ON ISC VALUES</b></h1>

In [6]:
    BASE_LY="""SELECT 

    'NPS' AS DIMENSAO,
    'Em uma escala de 0 a 10, o quanto voce recomendaria nossa empresa para um amigo?' AS ATRIBUTO,
    DATE_ID,
    SUBSTR(date_id,4,2)||'/'||SUBSTR(date_id,9,2) as DATA_ENTREVISTA,
    CASE WHEN SUBSTR(date_id,7,4) = '2016' THEN 2016
         WHEN SUBSTR(date_id,7,4) = '2017' THEN 2017
         WHEN SUBSTR(date_id,7,4) = '2018' THEN 2018 END AS ANO,


    ID_COMPRA,
    BANDEIRA,
    ID_SEGMENTO,
    SEGMENTO as QUESTIONARIO,
    METODOLOGIA,
    '' as FLAG_PERIODO,
    '' as NR_LOJISTA,
    '' as LOJISTA,
    '' AS SEXO,
    '' as IDADE,
    '' as UF,
    '' as DEPTO,
    '' as SETOR,
    DS_TIPO_ENTREGA,
    Q0 AS VALOR

    FROM AN_RT_WS36.VV_LY_163

    WHERE Q0>= 0"""
BASE_LY = pd.read_sql(BASE_LY, engine_OUT)
BASE_LY.columns = map(unicode.upper, BASE_LY.columns)
# BASE_LY.rename(columns={'SEGMENTO':'NOME_SEGMENTO'}, inplace=True)
BASE_LY

,DIMENSAO,ATRIBUTO,DATE_ID,DATA_ENTREVISTA,ANO,ID_COMPRA,BANDEIRA,ID_SEGMENTO,QUESTIONARIO,METODOLOGIA,FLAG_PERIODO,NR_LOJISTA,LOJISTA,SEXO,IDADE,UF,DEPTO,SETOR,DS_TIPO_ENTREGA,VALOR
0,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",31/10/2017,10/17,2017,129501883,PF,6,MULTICANALIDADE,None,None,None,None,None,None,None,None,None,Estoque Cnova,10
1,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/11/2017,11/17,2017,129682443,CB,6,MULTICANALIDADE,None,None,None,None,None,None,None,None,None,Estoque Cnova,10
2,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",06/11/2017,11/17,2017,129507394,PF,1,B2C,None,None,None,None,None,None,None,None,None,Normal,9
3,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",03/11/2017,11/17,2017,129688554,CB,1,B2C,None,None,None,None,None,None,None,None,None,Normal,10
4,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",31/10/2017,10/17,2017,129691110,EX,1,B2C,None,None,None,None,None,None,None,None,None,Normal,9
5,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",28/10/2017,10/17,2017,129749783,EX,6,MULTICANALIDADE,None,None,None,None,None,None,None,None,None,Estoque Cnova,9
6,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",02/11/2017,11/17,2017,129917644,EX,1,B2C,None,None,None,None,None,None,None,None,None,Estoque Cnova,7
7,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",05/11/2017,11/17,2017,130223036,CB,1,B2C,None,None,None,None,None,None,None,None,None,Normal,10
8,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",25/10/2017,10/17,2017,129035337,CB,6,MULTICANALIDADE,None,None,None,None,None,None,None,None,None,Estoque Cnova,0
9,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/11/2017,11/17,2017,129038700,PF,1,B2C,None,None,None,None,None,None,None,None,None,Normal,10
10,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",02/11/2017,11/17,2017,129376110,CB,1,B2C,None,None,None,None,None,None,None,None,None,Normal,10
11,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",02/11/2017,11/17,2017,129921980,PF,1,B2C,None,None,None,None,None,None,None,None,None,Normal,9
12,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",02/11/2017,11/17,2017,129922880,CB,1,B2C,None,None,None,None,None,None,None,None,None,Normal,9
13,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",05/11/2017,11/17,2017,130495366,CB,1,B2C,None,None,None,None,None,None,None,None,None,Normal,9
14,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",06/11/2017,11/17,2017,129759865,CB,6,MULTICANALIDADE,None,None,None,None,None,None,None,None,None,Estoque Cnova,0
15,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",05/11/2017,11/17,2017,129761222,CB,1,B2C,None,None,None,None,None,None,None,None,None,Estoque Cnova,9
16,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",04/11/2017,11/17,2017,130243048,EX,1,B2C,None,None,None,None,None,None,None,None,None,Normal,9
17,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",26/10/2017,10/17,2017,129179127,CB,6,MULTICANALIDADE,None,None,None,None,None,None,None,None,None,Estoque Cnova,0
18,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",05/11/2017,11/17,2017,130252192,EX,1,B2C,None,None,None,None,None,None,None,None,None,Normal,9
19,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",02/11/2017,11/17,2017,129396442,PF,1,B2C,None,None,None,None,None,None,None,None,None,Normal,8
20,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",19/10/2017,10/17,2017,129065917,PF,6,MULTICANALIDADE,None,None,None,None,None,None,None,None,None,Estoque Cnova,10
21,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",25/10/2017,10/17,2017,128973310,CB,1,B2C,None,None,None,None,None,None,None,None,None,Normal,10
22,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",04/11/2017,11/17,2017,129950692,EX,1,B2C,None,None,None,None,None,None,None,None,None,Normal,10
23,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",27/10/2017,10/17,2017,129326663,EX,6,MULTICANALIDADE,None,None,None,None,None,None,None,None,None,Estoque Cnova,6
24,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",29/10/2017,10/17,2017,129330013,CB,6,MULTICANALIDADE,None,None,None,None,None,None,None,None,None,Estoque Cnova,10
25,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",28/10/2017,10/17,2017,129407626,CB,1,B2C,None,None,None,None,None,None,None,None,None,Normal,7
26,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",26/10/2017,10/17,2017,129409717,CB,6,MULTICANALIDADE,None,None,None,None,None,None,None,None,None,Estoque Cnova,9
27,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",03/11/2017,11/17,2017,129720606,EX,1,B2C,None,None,None,None,None,None,None,None,None,Normal,8
28,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/11/2017,11/17,2017,129781910,EX,1,B2C,None,None,None,None,None,None,None,None,None,Normal,10
29,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",26/10/2017,10/17,2017,128985310,CB,1,B2C,None,None,None,None,None,None,None,None,None,Normal,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540221,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/11/2017,11/17,2017,106942508,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540222,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/04/2017,04/17,2017,106942306,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540223,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942235,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540224,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942235,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540225,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/11/2017,11/17,2017,106942480,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540226,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/11/2017,11/17,2017,106942506,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540227,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/11/2017,11/17,2017,106942452,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540228,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942198,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540229,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942198,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540230,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942240,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540231,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942240,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540232,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/11/2017,11/17,2017,106942460,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540233,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/04/2017,04/17,2017,106942274,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540234,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942199,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540235,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942199,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540236,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/04/2017,04/17,2017,106942328,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540237,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942213,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540238,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942213,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540239,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942200,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540240,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942200,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540241,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/04/2017,04/17,2017,106942254,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540242,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/04/2017,04/17,2017,106942386,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540243,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942229,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540244,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942229,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540245,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942238,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540246,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942238,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540247,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942215,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540248,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/01/2017,01/17,2017,106942215,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540249,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/11/2017,11/17,2017,106942476,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10
540250,NPS,"Em uma escala de 0 a 10, o quanto voce recomen...",01/04/2017,04/17,2017,106942304,PF,1,B2C,None,None,None,None,None,None,None,None,None,None,10

In [85]:
dtype1={
'RESPID' : sa.INTEGER, 
'RANK' : sa.NVARCHAR(length=255) ,
'QUESTIONARIO' : sa.NVARCHAR(length=255) ,
'DIMENSAO' : sa.NVARCHAR(length=255) ,
'ATRIBUTO' : sa.NVARCHAR(length=255) ,
'SEGMENTO' : sa.NVARCHAR(length=255) ,    
'ID_QUESTIONARIO' : sa.INTEGER ,
'RESPSTATUS' : sa.INTEGER ,
'CAPTURE_LINK' : sa.NVARCHAR(length=255) ,
'ID_BANDEIRA' : sa.INTEGER ,
'ID_SEGMENTO' : sa.INTEGER ,
'ID_ENTREGA' : sa.INTEGER ,
'TIPO_LISTA' : sa.NVARCHAR(length=255),
'TIPO_LISTA.1' : sa.NVARCHAR(length=255),
'QUESTION_QUOTA' : sa.INTEGER ,
'BANDEIRA' : sa.NVARCHAR(length=255) ,
'FLAG_PERIODO' : sa.NVARCHAR(length=255) ,
'NUM_PEDIDO' : sa.NVARCHAR(length=255) ,
'BANDEIRA_NUM_PEDIDO' : sa.NVARCHAR(length=255) ,
'DS_TIPO_ENTREGA' : sa.NVARCHAR(length=255) ,
'TIPO_EMTREGA' : sa.NVARCHAR(length=255) ,    
'NOME_SEGMENTO' : sa.NVARCHAR(length=255) ,
'TIPO_ENTREGA' : sa.NVARCHAR(length=255) ,
'DATE_ID' : sa.NVARCHAR(length=255) ,
'DT_NASC' : sa.NVARCHAR(length=255) ,    
'DATA_ENTREVISTA' : sa.NVARCHAR(length=255) ,
'ANO' : sa.INTEGER ,
'NUM_CLIENTE' : sa.INTEGER ,
'ID_CLIENTE' : sa.INTEGER,
'ID_COMPRA' :sa.INTEGER,
'LOJISTA' :sa.NVARCHAR(length=255),
'ENT' : sa.NVARCHAR(length=255) ,
'DT_PEDIDO' : sa.NVARCHAR(length=255) ,
'PONTO_CONTROLE': sa.NVARCHAR(length=255),
'DATA_PONTO' : sa.NVARCHAR(length=255), 
'SEXO' : sa.NVARCHAR(length=255), 
'IDADE' : sa.NVARCHAR(length=255), 
'UF' : sa.NVARCHAR(length=255), 
'DEPTO' : sa.NVARCHAR(length=255), 
'SETOR' : sa.NVARCHAR(length=255), 
'METODOLOGIA' : sa.NVARCHAR(length=255),
'NOTA' : sa.INTEGER,   
'Q0' : sa.INTEGER,
'Q1' : sa.INTEGER,
'Q2' : sa.INTEGER,
'Q3' : sa.INTEGER,
'Q4' : sa.INTEGER,
'Q5' : sa.INTEGER,
'Q6' : sa.INTEGER,
'Q7' : sa.INTEGER,
'Q8' : sa.INTEGER,
'Q9' : sa.INTEGER,
'Q10' : sa.INTEGER,
'Q11' : sa.INTEGER,
'Q12' : sa.INTEGER,
'Q13' : sa.INTEGER,
'Q14' : sa.INTEGER,
'Q15' : sa.INTEGER,
'Q16' : sa.INTEGER,
'Q17' : sa.INTEGER,
'Q18' : sa.INTEGER,
'Q19' : sa.INTEGER,
'Q20' : sa.INTEGER,
'Q21' : sa.INTEGER,
'Q22' : sa.INTEGER,
'Q23' : sa.INTEGER,
'Q24' : sa.INTEGER,
'Q25' : sa.INTEGER,
'Q26' : sa.INTEGER,
'Q27' : sa.INTEGER,
'Q28' : sa.INTEGER,
'Q29' : sa.INTEGER,
'Q30' : sa.INTEGER,
'Q31' : sa.INTEGER,
'Q32' : sa.INTEGER,
'Q33' : sa.INTEGER,
'Q34' : sa.INTEGER,
'Q35' : sa.INTEGER,
'Q36' : sa.INTEGER,
'Q37' : sa.INTEGER,
'Q38' : sa.INTEGER,
'Q39' : sa.INTEGER,
'Q40' : sa.INTEGER,
'Q41' : sa.INTEGER,
'VALOR' : sa.INTEGER,
'ISC' : sa.INTEGER}


# BASE_LY['ID_QUESTIONARIO'] = BASE_LY['ID_SEGMENTO']
BASE_TOLUNA['FLAG_PERIODO'] = 'CY'
RAW_DATA_FULL = pd.merge(BASE_TOLUNA, CADASTRO_HIST, how='left', on=['BANDEIRA_NUM_PEDIDO'])
RAW_DATA_FULL = pd.merge(RAW_DATA_FULL, ISC_VALOR, how='left', on=['RESPID'])
# RAW_DATA_FULL = pd.merge(RAW_DATA_FULL, METODOLOGIA, how='left', on=['RESPID'])
# RAW_DATA_FULL['BANDEIRA'] = RAW_DATA_FULL['BANDEIRA_x']
# RAW_DATA_FULL['TIPO_LISTA'] = RAW_DATA_FULL['TIPO_LISTA_x']

# del(RAW_DATA_FULL['BANDEIRA_y'])
# del(RAW_DATA_FULL['BANDEIRA_x'])
# del(RAW_DATA_FULL['TIPO_LISTA_x'])
# del(RAW_DATA_FULL['TIPO_LISTA_y'])
del(RAW_DATA_FULL['CAPTURE_LINK'])
del(RAW_DATA_FULL['RESPSTATUS'])
del(RAW_DATA_FULL['NUM_CLIENTE'])
del(RAW_DATA_FULL['NUM_PEDIDO'])
# del(RAW_DATA_FULL['ID_CLIENTE'])
del(RAW_DATA_FULL['QUESTION_QUOTA'])
# del(RAW_DATA_FULL['LOJISTA'])
del(RAW_DATA_FULL['TIPO_LISTA'])
del(RAW_DATA_FULL['TIPO_LISTA.1'])
# del(RAW_DATA_FULL['DATA_PONTO'])
# del(RAW_DATA_FULL['ENT'])

RAW_DATA_FULL = RAW_DATA_FULL.fillna(0) #<--- IMPORTANTE NÃO APAGAR PARA NÃO CAGAR O VALOR DO ISC!!!!!#
dtypedict = sqlcol(RAW_DATA_FULL) 
for column_name, column in RAW_DATA_FULL.transpose().iterrows():
    print column_name
    print(RAW_DATA_FULL[column_name])
    RAW_DATA_FULL[column_name] = RAW_DATA_FULL[column_name].astype('str')
    
RAW_DATA_FULL.to_sql('raw_data_full_new',engine_OUT,schema=None,if_exists='replace', chunksize=500, index=False,dtype={col_name: NVARCHAR(255) for col_name in RAW_DATA_FULL})
RAW_DATA_FULL

RESPID
0          1448
1          1450
2          1451
3          1452
4          1454
5          1455
6          1458
7          1459
8          1461
9          1462
10         1463
11         1464
12         1465
13         1466
14         1467
15         1469
16         1470
17         1471
18         1472
19         1479
20         1480
21         1481
22         1482
23         1483
24         1485
25         1487
26         1488
27         1489
28         1490
29         1491
          ...
76587    231617
76588    231619
76589    231627
76590    231629
76591    231635
76592    231643
76593    231646
76594    231651
76595    231658
76596    231659
76597    231660
76598    231666
76599    231667
76600    231673
76601    231677
76602    231678
76603    231684
76604    231690
76605    231691
76606    231693
76607    231695
76608    231700
76609    231701
76610    231708
76611    231712
76612    231714
76613    231726
76614    231729
76615    231735
76616    231737
Name: RESPID, Length: 76617, dtype: int64
INTERVIEW_DATE
0        20171108
1        20171108
2        20171108
3        20171108
4        20171108
5        20171108
6        20171108
7        20171108
8        20171108
9        20171108
10       20171108
11       20171108
12       20171108
13       20171108
14       20171108
15       20171108
16       20171108
17       20171108
18       20171108
19       20171108
20       20171108
21       20171108
22       20171108
23       20171108
24       20171108
25       20171108
26       20171108
27       20171108
28       20171108
29       20171108
           ...
76587    20180301
76588    20180301
76589    20180301
76590    20180301
76591    20180301
76592    20180301
76593    20180301
76594    20180301
76595    20180301
76596    20180301
76597    20180301
76598    20180301
76599    20180301
76600    20180301
76601    20180301
76602    20180301
76603    20180301
76604    20180301
76605    20180301
76606    20180301
76607    20180301
76608    20180301
76609    20180301
76610    20180301
76611    20180301
76612    20180301
76613    20180301
76614    20180301
76615    20180301
76616    20180301
Name: INTERVIEW_DATE, Length: 76617, dtype: int64
ID_QUESTIONARIO
0        4
1        1
2        5
3        1
4        1
5        1
6        1
7        1
8        4
9        1
10       6
11       4
12       1
13       4
14       1
15       1
16       1
17       1
18       1
19       4
20       4
21       1
22       1
23       4
24       1
25       1
26       4
27       6
28       1
29       6
        ..
76587    1
76588    1
76589    1
76590    1
76591    1
76592    1
76593    1
76594    1
76595    1
76596    1
76597    1
76598    1
76599    6
76600    4
76601    1
76602    4
76603    1
76604    1
76605    6
76606    1
76607    1
76608    6
76609    1
76610    4
76611    6
76612    6
76613    1
76614    1
76615    1
76616    1
Name: ID_QUESTIONARIO, Length: 76617, dtype: int64
Q0
0         7
1         0
2        10
3        10
4        10
5         8
6         9
7        10
8        10
9         5
10       10
11       10
12       10
13        2
14        9
15       10
16       10
17       10
18       10
19       10
20        5
21        9
22       10
23        0
24        9
25       10
26       10
27        7
28       10
29       10
         ..
76587    10
76588     9
76589    10
76590    10
76591    10
76592    10
76593    10
76594    10
76595     9
76596     8
76597     8
76598    10
76599     9
76600     5
76601    10
76602     0
76603    10
76604    10
76605     9
76606    10
76607    10
76608     1
76609     0
76610     7
76611    10
76612     7
76613     5
76614    10
76615    10
76616     8
Name: Q0, Length: 76617, dtype: int64
Q1
0         6
1         1
2         9
3         3
4        10
5         7
6         8
7         9
8        10
9         7
10        8
11        7
12       10
13        2
14        9
15       10
16       10
17       10
18       10
19       10
20        8
21        8
22        8
23        2
24        8
25       10
26        8
27        7
28       10
29       10
         ..
76587     9
76588     9
76589     7
76590     9
76591     9
76592    10
76593    10
76594     9
76595     7
76596     8
76597     5
76598     9
76599     9
76600     4
76601     8
76602     6
76603    10
76604    10
76605     8
76606     8
76607     8
76608     8
76609     8
76610     5
76611    10
76612     0
76613     5
76614    10
76615     9
76616     9
Name: Q1, Length: 76617, dtype: int64
Q2
0         6
1         1
2         9
3         8
4        10
5         6
6         8
7         9
8        10
9         6
10        9
11        7
12       10
13        1
14        9
15       10
16       10
17       10
18       10
19       10
20        8
21        7
22        8
23        0
24        8
25       10
26        8
27        7
28        9
29        7
         ..
76587     9
76588     9
76589     8
76590     9
76591     9
76592    10
76593    10
76594    10
76595     7
76596     9
76597     4
76598    10
76599     9
76600     4
76601     9
76602     8
76603    10
76604    10
76605     9
76606    10
76607     9
76608     1
76609     8
76610     8
76611    10
76612     3
76613     6
76614    10
76615     9
76616     9
Name: Q2, Length: 76617, dtype: int64
Q3
0         8
1         6
2         9
3        10
4        10
5         8
6         8
7         9
8        10
9         7
10        8
11        7
12        8
13        6
14        9
15       10
16       10
17       10
18        9
19       10
20        9
21        8
22        9
23        0
24        8
25       10
26        7
27        8
28        9
29        8
         ..
76587     9
76588     9
76589    10
76590     9
76591     9
76592    10
76593    10
76594     9
76595     9
76596     9
76597     6
76598    10
76599     8
76600     9
76601    10
76602     8
76603    10
76604     9
76605     6
76606    10
76607    10
76608     8
76609     7
76610     7
76611    10
76612     7
76613     8
76614    10
76615    10
76616     9
Name: Q3, Length: 76617, dtype: int64
Q4
0         8
1         0
2         9
3         9
4        10
5         8
6         8
7        10
8        10
9         6
10        9
11        7
12       10
13        5
14        9
15       10
16       10
17       10
18        9
19       10
20        9
21        8
22        9
23        0
24        8
25       10
26        7
27        8
28        9
29        9
         ..
76587     9
76588     9
76589    10
76590    10
76591     9
76592    10
76593    10
76594     9
76595     9
76596     9
76597     5
76598    10
76599     7
76600     6
76601     9
76602     8
76603    10
76604    10
76605     6
76606    10
76607    10
76608     8
76609     7
76610     6
76611    10
76612     6
76613     8
76614    10
76615    10
76616     9
Name: Q4, Length: 76617, dtype: int64
Q5
0         8
1         6
2         9
3         8
4        10
5         8
6         8
7         9
8        10
9         7
10        9
11        7
12        7
13        1
14        9
15       10
16       10
17       10
18       10
19       10
20        9
21        8
22        9
23        0
24        8
25       10
26        8
27        8
28        9
29        8
         ..
76587     8
76588     9
76589     7
76590     9
76591     9
76592    10
76593    10
76594     9
76595     8
76596     7
76597     5
76598    10
76599     8
76600     9
76601     8
76602     8
76603    10
76604    10
76605     7
76606    10
76607    10
76608     6
76609     7
76610     3
76611    10
76612     7
76613     8
76614    10
76615    10
76616     9
Name: Q5, Length: 76617, dtype: int64
Q6
0         8
1         0
2         9
3        10
4        10
5         8
6         8
7        10
8        10
9         6
10        9
11        7
12        7
13        5
14        9
15       10
16       10
17       10
18       10
19       10
20        9
21        8
22        5
23        0
24        9
25       10
26        8
27        8
28       10
29        8
         ..
76587     9
76588     9
76589     9
76590    10
76591     9
76592    10
76593    10
76594    10
76595     9
76596    10
76597     8
76598    10
76599     8
76600    10
76601    10
76602     8
76603    10
76604    10
76605    10
76606    10
76607    10
76608     5
76609     7
76610     7
76611    10
76612     8
76613     8
76614    10
76615    10
76616     9
Name: Q6, Length: 76617, dtype: int64

Q7
0        0.0
1        0.0
2        9.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q7, Length: 76617, dtype: float64
Q8
0        0.0
1        0.0
2        5.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q8, Length: 76617, dtype: float64
Q9
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q9, Length: 76617, dtype: float64
Q10
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q10, Length: 76617, dtype: float64
Q11
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q11, Length: 76617, dtype: float64
Q12
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q12, Length: 76617, dtype: float64
Q13
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q13, Length: 76617, dtype: float64
Q14
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q14, Length: 76617, dtype: float64
Q15
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q15, Length: 76617, dtype: float64
Q16
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q16, Length: 76617, dtype: float64
Q17
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q17, Length: 76617, dtype: float64
Q18
0         7
1         6
2         9
3        10
4        10
5         8
6         8
7        10
8        10
9         7
10       10
11        7
12       10
13        5
14        9
15       10
16       10
17       10
18       10
19       10
20        8
21       10
22        9
23        1
24        8
25       10
26        8
27        8
28        9
29        9
         ..
76587     9
76588     9
76589     8
76590     9
76591     9
76592    10
76593    10
76594     9
76595     8
76596     8
76597     5
76598    10
76599     7
76600     5
76601     8
76602     6
76603    10
76604     9
76605     9
76606     9
76607     9
76608     9
76609     7
76610     7
76611    10
76612     8
76613     8
76614    10
76615     9
76616     9
Name: Q18, Length: 76617, dtype: int64

Q19
0         7
1         6
2         9
3         9
4        10
5         8
6         8
7        10
8        10
9         6
10        9
11        7
12        8
13        1
14        9
15       10
16       10
17       10
18       10
19       10
20        9
21        9
22        9
23        2
24        8
25       10
26        8
27        8
28        9
29        9
         ..
76587    10
76588     9
76589     8
76590     9
76591     9
76592    10
76593    10
76594     9
76595     8
76596     8
76597     8
76598    10
76599     8
76600     4
76601     8
76602     6
76603    10
76604     9
76605     8
76606    10
76607     9
76608     9
76609     7
76610     7
76611    10
76612     7
76613     4
76614    10
76615    10
76616     9
Name: Q19, Length: 76617, dtype: int64
Q20
0         7
1         0
2        10
3         9
4        10
5         9
6         7
7        10
8        10
9         7
10       10
11        7
12       10
13        5
14        9
15       10
16       10
17       10
18       10
19       10
20       10
21        7
22        5
23        1
24        8
25       10
26        9
27        9
28       10
29       10
         ..
76587    10
76588     9
76589     9
76590    10
76591     9
76592    10
76593    10
76594    10
76595     9
76596     9
76597     9
76598    10
76599     9
76600     8
76601     9
76602     8
76603    10
76604     9
76605     9
76606    10
76607    10
76608     8
76609     7
76610     8
76611    10
76612     7
76613    10
76614    10
76615    10
76616     9
Name: Q20, Length: 76617, dtype: int64
Q21
0         7
1        10
2        10
3        10
4        10
5         9
6         8
7        10
8        10
9         5
10       10
11        7
12        8
13        5
14        9
15       10
16       10
17       10
18       10
19       10
20        9
21        8
22        5
23        1
24        8
25       10
26        7
27        9
28        9
29       10
         ..
76587    10
76588     9
76589     9
76590    10
76591     9
76592    10
76593    10
76594    10
76595     9
76596    10
76597     9
76598    10
76599     9
76600     8
76601     9
76602     8
76603    10
76604     8
76605    10
76606    10
76607    10
76608     9
76609     7
76610     5
76611    10
76612     5
76613    10
76614    10
76615    10
76616     9
Name: Q21, Length: 76617, dtype: int64
Q22
0         7
1         0
2        10
3         9
4         1
5         8
6         7
7        10
8        10
9         6
10        9
11        7
12       10
13        5
14        9
15       10
16       10
17       10
18        9
19       10
20       10
21        2
22        5
23        1
24        8
25       10
26        8
27        8
28       10
29       10
         ..
76587    10
76588     9
76589     9
76590    10
76591     9
76592    10
76593    10
76594    10
76595     9
76596    10
76597     9
76598    10
76599     9
76600     8
76601     9
76602     8
76603    10
76604     9
76605     9
76606    10
76607    10
76608     9
76609     7
76610     8
76611    10
76612     7
76613     8
76614    10
76615    10
76616     9
Name: Q22, Length: 76617, dtype: int64
Q23
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q23, Length: 76617, dtype: float64
Q24
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q24, Length: 76617, dtype: float64
Q25
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q25, Length: 76617, dtype: float64
Q26
0         7
1        10
2         9
3        10
4        10
5        10
6         8
7         9
8         9
9         7
10        0
11        7
12       10
13        1
14        9
15       10
16       10
17       10
18       10
19       10
20        9
21       10
22        9
23        0
24       10
25       10
26        9
27        0
28       10
29        0
         ..
76587    10
76588     9
76589    10
76590    10
76591     9
76592    10
76593    10
76594    10
76595     9
76596     8
76597     4
76598    10
76599     0
76600     9
76601    10
76602     6
76603    10
76604     8
76605     0
76606    10
76607    10
76608     0
76609     7
76610     8
76611     0
76612     0
76613     9
76614    10
76615    10
76616     9
Name: Q26, Length: 76617, dtype: int64
Q27
0         7
1         0
2         9
3         8
4         5
5         7
6         5
7         9
8         9
9         5
10        0
11        7
12        8
13        1
14        9
15       10
16       10
17       10
18       10
19       10
20        0
21       10
22        9
23        0
24        0
25       10
26        5
27        0
28        9
29        0
         ..
76587     9
76588     9
76589     7
76590    10
76591     9
76592    10
76593    10
76594     9
76595     9
76596     7
76597    10
76598    10
76599     0
76600     1
76601    10
76602     0
76603    10
76604     9
76605     0
76606    10
76607     9
76608     0
76609     3
76610     9
76611     0
76612     0
76613     5
76614    10
76615    10
76616     9
Name: Q27, Length: 76617, dtype: int64
Q28
0         7
1        10
2         1
3        10
4         7
5        10
6         8
7        10
8         9
9         7
10        0
11        7
12       10
13        1
14        9
15       10
16       10
17       10
18        8
19       10
20        0
21        9
22        9
23        0
24        8
25       10
26        9
27        0
28       10
29        0
         ..
76587     7
76588     9
76589     9
76590    10
76591     9
76592    10
76593    10
76594    10
76595     9
76596    10
76597     4
76598    10
76599     0
76600     1
76601    10
76602     0
76603    10
76604    10
76605     0
76606    10
76607    10
76608     0
76609     3
76610     8
76611     0
76612     0
76613     2
76614    10
76615    10
76616     9
Name: Q28, Length: 76617, dtype: int64
Q29
0         7
1         0
2         9
3        10
4        10
5        10
6        10
7        10
8         9
9         7
10        0
11        7
12       10
13        1
14        9
15       10
16       10
17       10
18        8
19       10
20        0
21       10
22        9
23        0
24       10
25       10
26       10
27        0
28       10
29        0
         ..
76587     9
76588     9
76589    10
76590    10
76591     9
76592    10
76593    10
76594    10
76595     9
76596    10
76597     3
76598    10
76599     0
76600     0
76601    10
76602     0
76603    10
76604    10
76605     0
76606    10
76607    10
76608     0
76609     5
76610     7
76611     0
76612     0
76613     4
76614    10
76615    10
76616     9
Name: Q29, Length: 76617, dtype: int64

Q30
0         7
1        10
2         5
3        10
4        10
5        10
6         9
7        10
8         9
9         6
10        0
11        7
12       10
13        1
14        9
15       10
16       10
17       10
18       10
19       10
20        0
21       10
22        9
23        0
24       10
25       10
26       10
27        0
28       10
29        0
         ..
76587    10
76588     9
76589    10
76590    10
76591     9
76592    10
76593    10
76594    10
76595     9
76596    10
76597     4
76598    10
76599     0
76600     0
76601    10
76602     0
76603    10
76604     9
76605     0
76606    10
76607    10
76608     0
76609     1
76610     7
76611     0
76612     0
76613    10
76614    10
76615    10
76616     9
Name: Q30, Length: 76617, dtype: int64
Q31
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8        10.0
9         0.0
10        0.0
11        7.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19       10.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        8.0
27        0.0
28        0.0
29        0.0
         ...
76587     0.0
76588     0.0
76589     0.0
76590     0.0
76591     0.0
76592     0.0
76593     0.0
76594     0.0
76595     0.0
76596     0.0
76597     0.0
76598     0.0
76599     0.0
76600     5.0
76601     0.0
76602     0.0
76603     0.0
76604     0.0
76605     0.0
76606     0.0
76607     0.0
76608     0.0
76609     0.0
76610     3.0
76611     0.0
76612     0.0
76613     0.0
76614     0.0
76615     0.0
76616     0.0
Name: Q31, Length: 76617, dtype: float64
Q32
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8        10.0
9         0.0
10        0.0
11        7.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19       10.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        8.0
27        0.0
28        0.0
29        0.0
         ...
76587     0.0
76588     0.0
76589     0.0
76590     0.0
76591     0.0
76592     0.0
76593     0.0
76594     0.0
76595     0.0
76596     0.0
76597     0.0
76598     0.0
76599     0.0
76600     5.0
76601     0.0
76602     0.0
76603     0.0
76604     0.0
76605     0.0
76606     0.0
76607     0.0
76608     0.0
76609     0.0
76610     3.0
76611     0.0
76612     0.0
76613     0.0
76614     0.0
76615     0.0
76616     0.0
Name: Q32, Length: 76617, dtype: float64
Q33
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10       10.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        8.0
28        0.0
29       10.0
         ...
76587     0.0
76588     0.0
76589     0.0
76590     0.0
76591     0.0
76592     0.0
76593     0.0
76594     0.0
76595     0.0
76596     0.0
76597     0.0
76598     0.0
76599     9.0
76600     0.0
76601     0.0
76602     0.0
76603     0.0
76604     0.0
76605     9.0
76606     0.0
76607     0.0
76608     6.0
76609     0.0
76610     0.0
76611    10.0
76612     6.0
76613     0.0
76614     0.0
76615     0.0
76616     0.0
Name: Q33, Length: 76617, dtype: float64
Q34
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        9.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        7.0
28        0.0
29       10.0
         ...
76587     0.0
76588     0.0
76589     0.0
76590     0.0
76591     0.0
76592     0.0
76593     0.0
76594     0.0
76595     0.0
76596     0.0
76597     0.0
76598     0.0
76599     9.0
76600     0.0
76601     0.0
76602     0.0
76603     0.0
76604     0.0
76605    10.0
76606     0.0
76607     0.0
76608     8.0
76609     0.0
76610     0.0
76611    10.0
76612     5.0
76613     0.0
76614     0.0
76615     0.0
76616     0.0
Name: Q34, Length: 76617, dtype: float64
Q35
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10       10.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        8.0
28        0.0
29       10.0
         ...
76587     0.0
76588     0.0
76589     0.0
76590     0.0
76591     0.0
76592     0.0
76593     0.0
76594     0.0
76595     0.0
76596     0.0
76597     0.0
76598     0.0
76599     9.0
76600     0.0
76601     0.0
76602     0.0
76603     0.0
76604     0.0
76605     9.0
76606     0.0
76607     0.0
76608     8.0
76609     0.0
76610     0.0
76611    10.0
76612     5.0
76613     0.0
76614     0.0
76615     0.0
76616     0.0
Name: Q35, Length: 76617, dtype: float64
Q36
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10       10.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        3.0
28        0.0
29       10.0
         ...
76587     0.0
76588     0.0
76589     0.0
76590     0.0
76591     0.0
76592     0.0
76593     0.0
76594     0.0
76595     0.0
76596     0.0
76597     0.0
76598     0.0
76599     9.0
76600     0.0
76601     0.0
76602     0.0
76603     0.0
76604     0.0
76605    10.0
76606     0.0
76607     0.0
76608     8.0
76609     0.0
76610     0.0
76611    10.0
76612     6.0
76613     0.0
76614     0.0
76615     0.0
76616     0.0
Name: Q36, Length: 76617, dtype: float64
Q37
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        9.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        9.0
28        0.0
29       10.0
         ...
76587     0.0
76588     0.0
76589     0.0
76590     0.0
76591     0.0
76592     0.0
76593     0.0
76594     0.0
76595     0.0
76596     0.0
76597     0.0
76598     0.0
76599     9.0
76600     0.0
76601     0.0
76602     0.0
76603     0.0
76604     0.0
76605    10.0
76606     0.0
76607     0.0
76608     0.0
76609     0.0
76610     0.0
76611    10.0
76612     4.0
76613     0.0
76614     0.0
76615     0.0
76616     0.0
Name: Q37, Length: 76617, dtype: float64
Q38
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10       10.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        9.0
28        0.0
29        9.0
         ...
76587     0.0
76588     0.0
76589     0.0
76590     0.0
76591     0.0
76592     0.0
76593     0.0
76594     0.0
76595     0.0
76596     0.0
76597     0.0
76598     0.0
76599     9.0
76600     0.0
76601     0.0
76602     0.0
76603     0.0
76604     0.0
76605    10.0
76606     0.0
76607     0.0
76608     8.0
76609     0.0
76610     0.0
76611    10.0
76612     4.0
76613     0.0
76614     0.0
76615     0.0
76616     0.0
Name: Q38, Length: 76617, dtype: float64
Q39
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q39, Length: 76617, dtype: float64

Q40
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q40, Length: 76617, dtype: float64
Q41
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
76587    0.0
76588    0.0
76589    0.0
76590    0.0
76591    0.0
76592    0.0
76593    0.0
76594    0.0
76595    0.0
76596    0.0
76597    0.0
76598    0.0
76599    0.0
76600    0.0
76601    0.0
76602    0.0
76603    0.0
76604    0.0
76605    0.0
76606    0.0
76607    0.0
76608    0.0
76609    0.0
76610    0.0
76611    0.0
76612    0.0
76613    0.0
76614    0.0
76615    0.0
76616    0.0
Name: Q41, Length: 76617, dtype: float64
ID_BANDEIRA
0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       3
25       2
26       2
27       1
28       1
29       1
        ..
76587    1
76588    1
76589    1
76590    3
76591    1
76592    3
76593    3
76594    3
76595    1
76596    1
76597    1
76598    3
76599    1
76600    1
76601    3
76602    1
76603    3
76604    3
76605    1
76606    3
76607    2
76608    1
76609    2
76610    3
76611    1
76612    1
76613    1
76614    1
76615    1
76616    1
Name: ID_BANDEIRA, Length: 76617, dtype: int64
ID_SEGMENTO
0        2
1        1
2        3
3        1
4        1
5        1
6        1
7        1
8        2
9        1
10       1
11       2
12       1
13       2
14       1
15       1
16       1
17       1
18       1
19       2
20       2
21       1
22       1
23       2
24       1
25       1
26       2
27       1
28       1
29       1
        ..
76587    1
76588    1
76589    1
76590    1
76591    1
76592    1
76593    1
76594    1
76595    1
76596    1
76597    1
76598    1
76599    1
76600    2
76601    1
76602    2
76603    1
76604    1
76605    2
76606    1
76607    1
76608    2
76609    1
76610    2
76611    1
76612    1
76613    1
76614    1
76615    1
76616    1
Name: ID_SEGMENTO, Length: 76617, dtype: int64
ID_ENTREGA
0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       2
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       2
28       1
29       2
        ..
76587    1
76588    1
76589    1
76590    1
76591    1
76592    1
76593    1
76594    1
76595    1
76596    1
76597    1
76598    1
76599    2
76600    1
76601    1
76602    1
76603    1
76604    1
76605    2
76606    1
76607    1
76608    2
76609    1
76610    1
76611    2
76612    2
76613    1
76614    1
76615    1
76616    1
Name: ID_ENTREGA, Length: 76617, dtype: int64
BANDEIRA
0        CB
1        CB
2        CB
3        CB
4        CB
5        CB
6        CB
7        CB
8        CB
9        CB
10       CB
11       CB
12       CB
13       CB
14       CB
15       CB
16       CB
17       CB
18       CB
19       CB
20       CB
21       CB
22       CB
23       CB
24       EX
25       PF
26       PF
27       CB
28       CB
29       CB
         ..
76587    CB
76588    CB
76589    CB
76590    EX
76591    CB
76592    EX
76593    EX
76594    EX
76595    CB
76596    CB
76597    CB
76598    EX
76599    CB
76600    CB
76601    EX
76602    CB
76603    EX
76604    EX
76605    CB
76606    EX
76607    PF
76608    CB
76609    PF
76610    EX
76611    CB
76612    CB
76613    CB
76614    CB
76615    CB
76616    CB
Name: BANDEIRA, Length: 76617, dtype: object
BANDEIRA_NUM_PEDIDO
0        129479522CB
1        130786955CB
2        129707220CB
3        130508896CB
4        130488240CB
5        129905910CB
6        130291376CB
7        130449013CB
8        128700920CB
9        130458355CB
10       131297414CB
11       131330700CB
12       130487469CB
13       124909965CB
14       129934368CB
15       130283271CB
16       129773397CB
17       130816136CB
18       130287542CB
19       130779666CB
20       127697380CB
21       129918317CB
22       130522838CB
23       129798334CB
24       130238646EX
25       130253250PF
26       129337559PF
27       130987884CB
28       130527695CB
29       130783103CB
            ...
76587    138901776CB
76588    139148744CB
76589    138965074CB
76590    139335013EX
76591    139038807CB
76592    139323129EX
76593    139310934EX
76594    139315793EX
76595    139431439CB
76596    139245712CB
76597    139137768CB
76598    139115219EX
76599    139428237CB
76600    138580336CB
76601    139404413EX
76602    139138225CB
76603    139482802EX
76604    139269677EX
76605    139475305CB
76606    139076831EX
76607    139050280PF
76608    139113592CB
76609    138913463PF
76610    137479726EX
76611    139512882CB
76612    139447048CB
76613    139317280CB
76614    139164942CB
76615    139462396CB
76616    139054462CB
Name: BANDEIRA_NUM_PEDIDO, Length: 76617, dtype: object
NOME_SEGMENTO
0        MKTPLACE
1             B2C
2           MISTO
3             B2C
4             B2C
5             B2C
6             B2C
7             B2C
8        MKTPLACE
9             B2C
10            B2C
11       MKTPLACE
12            B2C
13       MKTPLACE
14            B2C
15            B2C
16            B2C
17            B2C
18            B2C
19       MKTPLACE
20       MKTPLACE
21            B2C
22            B2C
23       MKTPLACE
24            B2C
25            B2C
26       MKTPLACE
27            B2C
28            B2C
29            B2C
           ...
76587         B2C
76588         B2C
76589         B2C
76590         B2C
76591         B2C
76592         B2C
76593         B2C
76594         B2C
76595         B2C
76596         B2C
76597         B2C
76598         B2C
76599         B2C
76600    MKTPLACE
76601         B2C
76602    MKTPLACE
76603         B2C
76604         B2C
76605    MKTPLACE
76606         B2C
76607         B2C
76608    MKTPLACE
76609         B2C
76610    MKTPLACE
76611         B2C
76612         B2C
76613         B2C
76614         B2C
76615         B2C
76616         B2C
Name: NOME_SEGMENTO, Length: 76617, dtype: object
TIPO_EMTREGA
0        CLIENTE
1        CLIENTE
2        CLIENTE
3        CLIENTE
4        CLIENTE
5        CLIENTE
6        CLIENTE
7        CLIENTE
8        CLIENTE
9        CLIENTE
10        RETIRA
11       CLIENTE
12       CLIENTE
13       CLIENTE
14       CLIENTE
15       CLIENTE
16       CLIENTE
17       CLIENTE
18       CLIENTE
19       CLIENTE
20       CLIENTE
21       CLIENTE
22       CLIENTE
23       CLIENTE
24       CLIENTE
25       CLIENTE
26       CLIENTE
27        RETIRA
28       CLIENTE
29        RETIRA
          ...
76587    CLIENTE
76588    CLIENTE
76589    CLIENTE
76590    CLIENTE
76591    CLIENTE
76592    CLIENTE
76593    CLIENTE
76594    CLIENTE
76595    CLIENTE
76596    CLIENTE
76597    CLIENTE
76598    CLIENTE
76599     RETIRA
76600    CLIENTE
76601    CLIENTE
76602    CLIENTE
76603    CLIENTE
76604    CLIENTE
76605     RETIRA
76606    CLIENTE
76607    CLIENTE
76608     RETIRA
76609    CLIENTE
76610    CLIENTE
76611     RETIRA
76612     RETIRA
76613    CLIENTE
76614    CLIENTE
76615    CLIENTE
76616    CLIENTE
Name: TIPO_EMTREGA, Length: 76617, dtype: object
FLAG_PERIODO
0        CY
1        CY
2        CY
3        CY
4        CY
5        CY
6        CY
7        CY
8        CY
9        CY
10       CY
11       CY
12       CY
13       CY
14       CY
15       CY
16       CY
17       CY
18       CY
19       CY
20       CY
21       CY
22       CY
23       CY
24       CY
25       CY
26       CY
27       CY
28       CY
29       CY
         ..
76587    CY
76588    CY
76589    CY
76590    CY
76591    CY
76592    CY
76593    CY
76594    CY
76595    CY
76596    CY
76597    CY
76598    CY
76599    CY
76600    CY
76601    CY
76602    CY
76603    CY
76604    CY
76605    CY
76606    CY
76607    CY
76608    CY
76609    CY
76610    CY
76611    CY
76612    CY
76613    CY
76614    CY
76615    CY
76616    CY
Name: FLAG_PERIODO, Length: 76617, dtype: object
DS_TIPO_ENTREGA
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
76587    0
76588    0
76589    0
76590    0
76591    0
76592    0
76593    0
76594    0
76595    0
76596    0
76597    0
76598    0
76599    0
76600    0
76601    0
76602    0
76603    0
76604    0
76605    0
76606    0
76607    0
76608    0
76609    0
76610    0
76611    0
76612    0
76613    0
76614    0
76615    0
76616    0
Name: DS_TIPO_ENTREGA, Length: 76617, dtype: object
DATE_ID
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
76587    0
76588    0
76589    0
76590    0
76591    0
76592    0
76593    0
76594    0
76595    0
76596    0
76597    0
76598    0
76599    0
76600    0
76601    0
76602    0
76603    0
76604    0
76605    0
76606    0
76607    0
76608    0
76609    0
76610    0
76611    0
76612    0
76613    0
76614    0
76615    0
76616    0
Name: DATE_ID, Length: 76617, dtype: object

DEPTO
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
76587    0
76588    0
76589    0
76590    0
76591    0
76592    0
76593    0
76594    0
76595    0
76596    0
76597    0
76598    0
76599    0
76600    0
76601    0
76602    0
76603    0
76604    0
76605    0
76606    0
76607    0
76608    0
76609    0
76610    0
76611    0
76612    0
76613    0
76614    0
76615    0
76616    0
Name: DEPTO, Length: 76617, dtype: object
METODOLOGIA
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
76587    0
76588    0
76589    0
76590    0
76591    0
76592    0
76593    0
76594    0
76595    0
76596    0
76597    0
76598    0
76599    0
76600    0
76601    0
76602    0
76603    0
76604    0
76605    0
76606    0
76607    0
76608    0
76609    0
76610    0
76611    0
76612    0
76613    0
76614    0
76615    0
76616    0
Name: METODOLOGIA, Length: 76617, dtype: object
SETOR
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
76587    0
76588    0
76589    0
76590    0
76591    0
76592    0
76593    0
76594    0
76595    0
76596    0
76597    0
76598    0
76599    0
76600    0
76601    0
76602    0
76603    0
76604    0
76605    0
76606    0
76607    0
76608    0
76609    0
76610    0
76611    0
76612    0
76613    0
76614    0
76615    0
76616    0
Name: SETOR, Length: 76617, dtype: object
UF
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
76587    0
76588    0
76589    0
76590    0
76591    0
76592    0
76593    0
76594    0
76595    0
76596    0
76597    0
76598    0
76599    0
76600    0
76601    0
76602    0
76603    0
76604    0
76605    0
76606    0
76607    0
76608    0
76609    0
76610    0
76611    0
76612    0
76613    0
76614    0
76615    0
76616    0
Name: UF, Length: 76617, dtype: object
DT_NASC
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
76587    0
76588    0
76589    0
76590    0
76591    0
76592    0
76593    0
76594    0
76595    0
76596    0
76597    0
76598    0
76599    0
76600    0
76601    0
76602    0
76603    0
76604    0
76605    0
76606    0
76607    0
76608    0
76609    0
76610    0
76611    0
76612    0
76613    0
76614    0
76615    0
76616    0
Name: DT_NASC, Length: 76617, dtype: object
SEXO
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
76587    0
76588    0
76589    0
76590    0
76591    0
76592    0
76593    0
76594    0
76595    0
76596    0
76597    0
76598    0
76599    0
76600    0
76601    0
76602    0
76603    0
76604    0
76605    0
76606    0
76607    0
76608    0
76609    0
76610    0
76611    0
76612    0
76613    0
76614    0
76615    0
76616    0
Name: SEXO, Length: 76617, dtype: object
ISC
0         56.907182
1         43.434616
2         76.041891
3         91.316549
4         90.442618
5         85.790696
6         80.428904
7         96.656211
8         96.503267
9         64.070458
10        93.381230
11        70.000000
12        92.031489
13        20.501922
14        90.000000
15       100.000000
16       100.000000
17       100.000000
18        94.935548
19       100.000000
20        45.085521
21        84.041488
22        79.433583
23         3.023276
24        81.688631
25       100.000000
26        83.034047
27        76.996247
28        95.698133
29        92.460665
            ...
76587      0.000000
76588      0.000000
76589      0.000000
76590      0.000000
76591      0.000000
76592      0.000000
76593      0.000000
76594      0.000000
76595      0.000000
76596      0.000000
76597      0.000000
76598      0.000000
76599      0.000000
76600      0.000000
76601      0.000000
76602      0.000000
76603      0.000000
76604      0.000000
76605      0.000000
76606      0.000000
76607      0.000000
76608      0.000000
76609      0.000000
76610      0.000000
76611      0.000000
76612      0.000000
76613      0.000000
76614      0.000000
76615      0.000000
76616      0.000000
Name: ISC, Length: 76617, dtype: float64

,RESPID,INTERVIEW_DATE,ID_QUESTIONARIO,Q0,Q1,Q2,Q3,Q4,Q5,Q6,...,FLAG_PERIODO,DS_TIPO_ENTREGA,DATE_ID,DEPTO,METODOLOGIA,SETOR,UF,DT_NASC,SEXO,ISC
0,1448,20171108,4,7,6,6,8,8,8,8,...,CY,0,0,0,0,0,0,0,0,56.907181955
1,1450,20171108,1,0,1,1,6,0,6,0,...,CY,0,0,0,0,0,0,0,0,43.434616487
2,1451,20171108,5,10,9,9,9,9,9,9,...,CY,0,0,0,0,0,0,0,0,76.0418909604
3,1452,20171108,1,10,3,8,10,9,8,10,...,CY,0,0,0,0,0,0,0,0,91.3165489263
4,1454,20171108,1,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,90.4426178453
5,1455,20171108,1,8,7,6,8,8,8,8,...,CY,0,0,0,0,0,0,0,0,85.7906963795
6,1458,20171108,1,9,8,8,8,8,8,8,...,CY,0,0,0,0,0,0,0,0,80.4289040465
7,1459,20171108,1,10,9,9,9,10,9,10,...,CY,0,0,0,0,0,0,0,0,96.6562108648
8,1461,20171108,4,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,96.5032667402
9,1462,20171108,1,5,7,6,7,6,7,6,...,CY,0,0,0,0,0,0,0,0,64.0704582602
10,1463,20171108,6,10,8,9,8,9,9,9,...,CY,0,0,0,0,0,0,0,0,93.3812297167
11,1464,20171108,4,10,7,7,7,7,7,7,...,CY,0,0,0,0,0,0,0,0,70.0
12,1465,20171108,1,10,10,10,8,10,7,7,...,CY,0,0,0,0,0,0,0,0,92.0314891862
13,1466,20171108,4,2,2,1,6,5,1,5,...,CY,0,0,0,0,0,0,0,0,20.5019218009
14,1467,20171108,1,9,9,9,9,9,9,9,...,CY,0,0,0,0,0,0,0,0,90.0
15,1469,20171108,1,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,100.0
16,1470,20171108,1,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,100.0
17,1471,20171108,1,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,100.0
18,1472,20171108,1,10,10,10,9,9,10,10,...,CY,0,0,0,0,0,0,0,0,94.9355476719
19,1479,20171108,4,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,100.0
20,1480,20171108,4,5,8,8,9,9,9,9,...,CY,0,0,0,0,0,0,0,0,45.0855208729
21,1481,20171108,1,9,8,7,8,8,8,8,...,CY,0,0,0,0,0,0,0,0,84.0414883622
22,1482,20171108,1,10,8,8,9,9,9,5,...,CY,0,0,0,0,0,0,0,0,79.4335832331
23,1483,20171108,4,0,2,0,0,0,0,0,...,CY,0,0,0,0,0,0,0,0,3.02327604123
24,1485,20171108,1,9,8,8,8,8,8,9,...,CY,0,0,0,0,0,0,0,0,81.6886312417
25,1487,20171108,1,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,100.0
26,1488,20171108,4,10,8,8,7,7,8,8,...,CY,0,0,0,0,0,0,0,0,83.0340473398
27,1489,20171108,6,7,7,7,8,8,8,8,...,CY,0,0,0,0,0,0,0,0,76.9962470586
28,1490,20171108,1,10,10,9,9,9,9,10,...,CY,0,0,0,0,0,0,0,0,95.6981329948
29,1491,20171108,6,10,10,7,8,9,8,8,...,CY,0,0,0,0,0,0,0,0,92.4606647081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76587,231617,20180301,1,10,9,9,9,9,8,9,...,CY,0,0,0,0,0,0,0,0,0.0
76588,231619,20180301,1,9,9,9,9,9,9,9,...,CY,0,0,0,0,0,0,0,0,0.0
76589,231627,20180301,1,10,7,8,10,10,7,9,...,CY,0,0,0,0,0,0,0,0,0.0
76590,231629,20180301,1,10,9,9,9,10,9,10,...,CY,0,0,0,0,0,0,0,0,0.0
76591,231635,20180301,1,10,9,9,9,9,9,9,...,CY,0,0,0,0,0,0,0,0,0.0
76592,231643,20180301,1,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,0.0
76593,231646,20180301,1,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,0.0
76594,231651,20180301,1,10,9,10,9,9,9,10,...,CY,0,0,0,0,0,0,0,0,0.0
76595,231658,20180301,1,9,7,7,9,9,8,9,...,CY,0,0,0,0,0,0,0,0,0.0
76596,231659,20180301,1,8,8,9,9,9,7,10,...,CY,0,0,0,0,0,0,0,0,0.0
76597,231660,20180301,1,8,5,4,6,5,5,8,...,CY,0,0,0,0,0,0,0,0,0.0
76598,231666,20180301,1,10,9,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,0.0
76599,231667,20180301,6,9,9,9,8,7,8,8,...,CY,0,0,0,0,0,0,0,0,0.0
76600,231673,20180301,4,5,4,4,9,6,9,10,...,CY,0,0,0,0,0,0,0,0,0.0
76601,231677,20180301,1,10,8,9,10,9,8,10,...,CY,0,0,0,0,0,0,0,0,0.0
76602,231678,20180301,4,0,6,8,8,8,8,8,...,CY,0,0,0,0,0,0,0,0,0.0
76603,231684,20180301,1,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,0.0
76604,231690,20180301,1,10,10,10,9,10,10,10,...,CY,0,0,0,0,0,0,0,0,0.0
76605,231691,20180301,6,9,8,9,6,6,7,10,...,CY,0,0,0,0,0,0,0,0,0.0
76606,231693,20180301,1,10,8,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,0.0
76607,231695,20180301,1,10,8,9,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,0.0
76608,231700,20180301,6,1,8,1,8,8,6,5,...,CY,0,0,0,0,0,0,0,0,0.0
76609,231701,20180301,1,0,8,8,7,7,7,7,...,CY,0,0,0,0,0,0,0,0,0.0
76610,231708,20180301,4,7,5,8,7,6,3,7,...,CY,0,0,0,0,0,0,0,0,0.0
76611,231712,20180301,6,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,0.0
76612,231714,20180301,6,7,0,3,7,6,7,8,...,CY,0,0,0,0,0,0,0,0,0.0
76613,231726,20180301,1,5,5,6,8,8,8,8,...,CY,0,0,0,0,0,0,0,0,0.0
76614,231729,20180301,1,10,10,10,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,0.0
76615,231735,20180301,1,10,9,9,10,10,10,10,...,CY,0,0,0,0,0,0,0,0,0.0
76616,231737,20180301,1,8,9,9,9,9,9,9,...,CY,0,0,0,0,0,0,0,0,0.0

# Treating the DT_NASC variable

In [87]:
raw_data_full_new2="""

SELECT DISTINCT
RESPID,
ID_QUESTIONARIO,
Q0,
Q1,
Q2,
Q3,
Q4,
Q5,
Q6,
Q7,
Q8,
Q9,
Q10,
Q11,
Q12,
Q13,
Q14,
Q15,
Q16,
Q17,
Q18,
Q19,
Q20,
Q21,
Q22,
Q23,
Q24,
Q25,
Q26,
Q27,
Q28,
Q29,
Q30,
Q31,
Q32,
Q33,
Q34,
Q35,
Q36,
Q37,
Q38,
Q39,
Q40,
Q41,
ID_BANDEIRA,
ID_SEGMENTO,
ID_ENTREGA,
BANDEIRA_NUM_PEDIDO,
NOME_SEGMENTO,
TIPO_EMTREGA,
DATE_ID as DATE_ID,
FLAG_PERIODO,
DEPTO,
DS_TIPO_ENTREGA,
CASE WHEN DT_NASC = '0' THEN NULL ELSE DT_NASC END AS DT_NASC2,
SETOR,
SEXO,
UF,
ISC,
METODOLOGIA,
BANDEIRA

FROM AN_RT_WS36.RAW_DATA_FULL_NEW"""
raw_data_full_new2 = pd.read_sql(raw_data_full_new2, engine_OUT)
raw_data_full_new2.to_sql('raw_data_full_new2',engine_OUT,schema=None,if_exists='replace', chunksize=500, index=False,dtype={col_name: NVARCHAR(255) for col_name in raw_data_full_new2})
raw_data_full_new2

,respid,id_questionario,q0,q1,q2,q3,q4,q5,q6,q7,...,flag_periodo,depto,ds_tipo_entrega,dt_nasc2,setor,sexo,uf,isc,metodologia,bandeira
0,82541,1,8,8,7,8,8,6,8,0.0,...,CY,0,0,None,0,0,0,80.5036207713,0,EX
1,82561,6,4,7,7,7,7,7,7,0.0,...,CY,0,0,None,0,0,0,68.5980272138,0,PF
2,82630,4,9,9,9,7,7,7,7,0.0,...,CY,0,0,None,0,0,0,74.687905938,0,PF
3,82709,4,0,7,5,7,7,7,7,0.0,...,CY,0,0,None,0,0,0,41.5868201249,0,EX
4,82784,4,8,8,8,7,7,7,8,0.0,...,CY,0,0,None,0,0,0,72.645649712,0,CB
5,82876,6,10,10,10,10,10,10,10,0.0,...,CY,0,0,None,0,0,0,100.0,0,PF
6,82895,4,0,4,4,4,4,4,4,0.0,...,CY,0,0,None,0,0,0,21.9939371663,0,EX
7,82922,1,8,8,8,8,8,8,9,0.0,...,CY,0,0,None,0,0,0,80.3284693682,0,EX
8,83094,1,8,2,8,3,2,2,9,0.0,...,CY,0,0,None,0,0,0,39.8899444379,0,CB
9,83350,4,5,8,6,7,7,4,10,0.0,...,CY,0,0,None,0,0,0,78.216039651,0,EX
10,83393,1,8,7,8,8,9,9,8,0.0,...,CY,0,0,None,0,0,0,81.7413364126,0,CB
11,91890,6,0,7,7,8,8,7,8,0.0,...,CY,Brinquedos,Estoque Cnova,08/09/1978,Brincadeiras,F,SP,49.5680629732,Data Entrega,EX
12,91915,6,10,10,10,10,10,10,10,0.0,...,CY,Telefones e Celulares,Estoque Cnova,06/08/1969,Smartphones Desbloqueados,M,SP,96.9627748784,Data Entrega,PF
13,91957,4,0,0,0,9,9,9,9,0.0,...,CY,Eletroportateis,Normal,01/10/1985,NAO_PRODUTO,M,GO,31.3288713045,Data Entrega,PF
14,92018,4,0,0,0,0,0,0,0,0.0,...,CY,M??veis,Normal,04/08/1950,Marketplace,F,RJ,0.0,Data Prometida,EX
15,92057,5,8,8,7,10,10,10,10,7.0,...,CY,Telefones e Celulares,Normal,05/12/1988,Smartphones Desbloqueados,M,MA,95.8209633472,Data Entrega,EX
16,74696,5,10,10,10,10,10,10,10,10.0,...,CY,0,0,None,0,0,0,96.3406211861,0,CB
17,74702,1,6,8,8,6,6,6,8,0.0,...,CY,0,0,None,0,0,0,69.6484347124,0,CB
18,74745,1,8,6,7,8,10,5,9,0.0,...,CY,0,0,None,0,0,0,82.7972701462,0,PF
19,74768,1,8,8,7,9,9,9,9,0.0,...,CY,0,0,None,0,0,0,83.0620027311,0,PF
20,74794,4,10,10,10,10,10,10,10,0.0,...,CY,0,0,None,0,0,0,100.0,0,EX
21,74811,1,10,8,9,10,10,9,10,0.0,...,CY,0,0,None,0,0,0,95.2896787118,0,CB
22,77520,4,3,8,9,8,9,8,8,0.0,...,CY,0,0,None,0,0,0,77.4781900654,0,CB
23,77524,6,9,8,8,8,8,8,9,0.0,...,CY,0,0,None,0,0,0,81.1339117315,0,EX
24,77549,4,9,9,8,10,9,9,10,0.0,...,CY,0,0,None,0,0,0,91.5724936566,0,EX
25,77552,6,10,10,10,10,10,10,10,0.0,...,CY,0,0,None,0,0,0,100.0,0,CB
26,77581,5,7,6,6,5,8,5,4,5.0,...,CY,0,0,None,0,0,0,64.0449161715,0,EX
27,77618,1,7,8,8,8,8,8,8,0.0,...,CY,0,0,None,0,0,0,80.2613146269,0,CB
28,77625,1,10,10,10,10,10,10,10,0.0,...,CY,0,0,None,0,0,0,100.0,0,EX
29,77626,4,10,9,9,9,9,9,9,0.0,...,CY,0,0,None,0,0,0,90.0,0,CB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76587,228421,1,8,9,9,8,8,8,9,0.0,...,CY,Telefones e Celulares,Normal,None,Smartphones Desbloqueados,0,0,89.8980158758,Data Entrega,PF
76588,229542,4,0,6,8,3,4,2,0,0.0,...,CY,Games,Normal,None,Marketplace,0,0,16.5401477097,Data Entrega,CB
76589,229558,1,10,10,10,10,10,10,10,0.0,...,CY,Telefones e Celulares,Normal,None,Smartphones Desbloqueados,0,0,100.0,Data Entrega,EX
76590,229564,1,10,10,0,10,10,10,10,0.0,...,CY,Eletrodomesticos,Normal,None,Fogoes,0,0,87.2120345405,Data Entrega,PF
76591,229576,1,8,8,6,9,8,7,10,0.0,...,CY,Eletroportateis,Normal,None,Fritadeiras,0,0,85.035453597,Data Entrega,CB
76592,229577,1,8,8,8,8,8,8,8,0.0,...,CY,Informatica,Normal,None,Notebook,0,0,89.0815106211,Data Entrega,EX
76593,229592,1,3,5,2,1,1,1,1,0.0,...,CY,TVs e Acessorios,Normal,None,TV LED SMART,0,0,13.0539607948,Data Entrega,EX
76594,228472,1,9,8,8,9,9,9,9,0.0,...,CY,Telefones e Celulares,Normal,None,Smartphones Desbloqueados,0,0,85.3559947405,Data Entrega,CB
76595,228509,1,10,9,10,10,9,10,10,0.0,...,CY,Casa e Construcao,Normal,None,Duchas e Chuveiros,0,0,96.3505033617,Data Entrega,EX
76596,228528,1,10,8,8,10,8,8,10,0.0,...,CY,Eletrodomesticos,Normal,None,Lavadoras,0,0,91.081037503,Data Entrega,PF
76597,229643,1,10,9,9,10,10,10,10,0.0,...,CY,Automotivo,Normal,None,Pneus,0,0,98.7249550195,Data Entrega,EX
76598,229668,1,9,6,6,7,6,7,5,0.0,...,CY,Eletrodomesticos,Normal,None,Fogoes,0,0,69.2991714868,Data Entrega,CB
76599,229669,1,10,8,8,9,9,9,9,0.0,...,CY,Telefones e Celulares,Normal,None,Smartphones Desbloqueados,0,0,91.7126197818,Data Entrega,CB
76600,229675,1,10,7,7,9,9,9,8,0.0,...,CY,Telefones e Celulares,Normal,None,Smartphones Desbloqueados,0,0,85.7424755687,Data Entrega,EX
76601,229676,6,10,9,9,10,9,9,9,0.0,...,CY,Ferramentas,Estoque ViaVarejo,None,Ferramentas Eletricas,0,0,96.1780747178,Data Entrega,CB
76602,229681,4,5,7,6,5,5,6,6,0.0,...,CY,Telefones e Celulares,Normal,None,Smartphones Desbloqueados,0,0,45.6360814505,Data Prometida,CB
76603,229682,1,10,9,9,10,8,8,10,0.0,...,CY,Telefones e Celulares,Normal,None,Smartphones Desbloqueados,0,0,92.1072265121,Data Entrega,EX
76604,228589,1,10,8,8,10,10,10,9,0.0,...,CY,Ar e Ventilacao,Normal,None,Ventilador de Teto,0,0,97.1157125932,Data Entrega,PF
76605,229720,1,10,10,10,10,10,10,10,0.0,...,CY,Eletroportateis,Normal,None,Aspirador de Po,0,0,100.0,Data Entrega,CB
76606,229731,1,10,9,9,10,9,10,10,0.0,...,CY,M??veis,Normal,None,Importado,0,0,93.8964008189,Data Entrega,EX
76607,229741,1,8,7,8,8,8,8,8,0.0,...,CY,Telefones e Celulares,Normal,None,Smartphones Desbloqueados,0,0,86.8167013755,Data Entrega,CB
76608,229750,6,7,7,6,7,5,5,7,0.0,...,CY,Telefones e Celulares,Estoque Cnova,None,Smartphones Desbloqueados,0,0,59.7232491001,Data Entrega,CB
76609,229760,4,10,10,10,10,10,10,10,0.0,...,CY,Automotivo,Normal,None,NAO_PRODUTO,0,0,100.0,Data Entrega,EX
76610,229777,6,10,9,9,9,4,4,2,0.0,...,CY,Telefones e Celulares,Estoque Cnova,None,Smartphones Desbloqueados,0,0,73.8934492295,Data Entrega,EX
76611,229812,1,10,10,10,10,10,10,9,0.0,...,CY,TVs e Acessorios,Normal,None,TV Ultra HD 4K,0,0,99.2919822657,Data Entrega,CB
76612,229814,1,10,2,10,10,10,10,10,0.0,...,CY,Eletrodomesticos,Normal,None,Microondas,0,0,96.1795906608,Data Entrega,CB
76613,228740,1,10,8,8,10,10,9,10,0.0,...,CY,M??veis,Normal,None,Colchoes,0,0,89.9056057666,Data Entrega,EX
76614,228762,1,10,8,9,8,10,8,9,0.0,...,CY,Adudio,Normal,None,Audio,0,0,94.4139327336,Data Entrega,CB
76615,228839,1,10,7,7,9,9,9,9,0.0,...,CY,Eletroportateis,Normal,None,Fritadeiras,0,0,94.2157800604,Data Entrega,PF
76616,228910,1,10,10,10,10,9,10,10,0.0,...,CY,Eletroportateis,Normal,None,Cafeteira Capsula/Expresso,0,0,82.7682672272,Data Entrega,CB

<b><h1>SEPARATING EACH QUESTION FOR EACH QUESTIONARIE</b></h1>

In [7]:
def processa_base(questionario,dimensao,atributo,pergunta,id_questionario):
    SQL1="""
    SELECT DISTINCT 
    '{questionario}' AS QUESTIONARIO,
    '{dimensao}' AS DIMENSAO,
    '{atributo}' AS ATRIBUTO, 
    FLAG_PERIODO,
    RESPID,
    /*METODOLOGIA,*/
    ID_QUESTIONARIO,
    /*RESPSTATUS,*/
   /*CAPTURE_LINK,*/
    ID_BANDEIRA,
    ID_SEGMENTO,
    ID_ENTREGA,
    /*TIPO_LISTA,*/
    /*QUESTION_QUOTA,*/
    BANDEIRA,
    /*ID_COMPRA AS NUM_PEDIDO,*/
    BANDEIRA_NUM_PEDIDO,
    /*NUM_CLIENTE,*/
    NOME_SEGMENTO,
    TIPO_EMTREGA as TIPO_ENTREGA,
    DS_TIPO_ENTREGA,
    DATE_ID,
    CASE WHEN (SUBSTR(date_id,4,2)||'/'||SUBSTR(date_id,9,2)) = '' THEN NULL ELSE SUBSTR(date_id,4,2)||'/'||SUBSTR(date_id,9,2) END as DATA_ENTREVISTA,
    CASE WHEN SUBSTR(date_id,7,4) = '2016' THEN 2016
         WHEN SUBSTR(date_id,7,4) = '2017' THEN 2017
         WHEN SUBSTR(date_id,7,4) = '2018' THEN 2018 END AS ANO,
    /*ID_CLIENTE,*/
    /*ENT,*/
    /*DT_PEDIDO AS DATA_PEDIDO,*/
    /*NR_ENTREGA AS N_ENTREGA,*/
    /*NR_LOJISTA AS NUM_LOJISTA,*/
    /*LOJISTA,*/
    /*PONTO_CONTROLE,*/
    /*DATA_PONTO,*/
    CASE WHEN SEXO IN ('m','M') THEN 'M'
         WHEN SEXO IN ('f','F') THEN 'F' END AS SEXO,
    CASE 
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) IN ('','0', '32') THEN ''
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '0'  AND '17' THEN '< 18'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '18' AND '24' THEN '18 - 24'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '25' AND '35' THEN '25 - 35'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '36' AND '45' THEN '36 - 45'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '46' AND '55' THEN '46 - 55'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '56' AND '65' THEN '56 - 65'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) >= '65' THEN '65+' END as IDADE,
    UF,
    DEPTO,
    SETOR,
    /*VALOR_PEDIDO,*/
    /*QTD_PRODUTOS,*/
    AVG(ISC) AS ISC,
    AVG({pergunta}) as VALOR


    FROM raw_data_full_new2

    WHERE  ID_QUESTIONARIO = {id_questionario} AND {pergunta}>=0
    
    GROUP BY 
    
    FLAG_PERIODO,
    RESPID,
    /*METODOLOGIA,*/
    ID_QUESTIONARIO,
    /*RESPSTATUS,*/
    /*CAPTURE_LINK,*/
    ID_BANDEIRA,
    ID_SEGMENTO,
    ID_ENTREGA,
    /*TIPO_LISTA,*/
    /*QUESTION_QUOTA,*/
    BANDEIRA,
    /*ID_COMPRA,*/
    BANDEIRA_NUM_PEDIDO,
    /*NUM_CLIENTE,*/
    NOME_SEGMENTO,
    TIPO_EMTREGA,
    DS_TIPO_ENTREGA,
    DATE_ID,
    SUBSTR(date_id,4,2)||'/'||SUBSTR(date_id,9,2),
    CASE WHEN SUBSTR(date_id,7,4) = '2016' THEN 2016
         WHEN SUBSTR(date_id,7,4) = '2017' THEN 2017
         WHEN SUBSTR(date_id,7,4) = '2018' THEN 2018 END,
     /*ID_CLIENTE,*/
    /*ENT,*/
    /*DT_PEDIDO,*/
    /*NR_ENTREGA,*/
    /*NR_LOJISTA,*/
     /*LOJISTA,*/
    /*PONTO_CONTROLE,*/
    /*DATA_PONTO,*/
    CASE WHEN SEXO IN ('m','M') THEN 'M'
         WHEN SEXO IN ('f','F') THEN 'F' END,
    CASE 
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) IN ('','0','32') THEN ''
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '0'  AND '17' THEN '< 18'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '18' AND '24' THEN '18 - 24'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '25' AND '35' THEN '25 - 35'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '36' AND '45' THEN '36 - 45'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '46' AND '55' THEN '46 - 55'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) BETWEEN '56' AND '65' THEN '56 - 65'
         WHEN ROUND(months_between(TRUNC(sysdate),to_date(DT_NASC2,'DD-MM-YYYY'))/12) >= '65' THEN '65+' END,
    UF,
    DEPTO,
    SETOR""".format(questionario=questionario,dimensao=dimensao,atributo=atributo,pergunta=pergunta,id_questionario=id_questionario)
    return SQL1

In [8]:
# Getting the preriods
BASE_B2C_1 = pd.read_sql(processa_base("B2C",'NPS','Em uma escala de 0 a 10, o quanto voce recomendaria nossa empresa para um amigo?','Q0',1), engine_OUT)
BASE_B2C_2 = pd.read_sql(processa_base("B2C",'PRECOS_OFERTAS','Preco dos produtos em geral','Q1',1), engine_OUT)
BASE_B2C_3 = pd.read_sql(processa_base("B2C",'PRECOS_OFERTAS','Atratividade das ofertas em nosso site','Q2',1), engine_OUT)
BASE_B2C_4 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade para pesquisar e encontrar produtos pelo menu de navegacao','Q3',1), engine_OUT)
BASE_B2C_5 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade em reconhecer as palavras na busca por um produto','Q4',1), engine_OUT)
BASE_B2C_6 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade de comparar precos e produtos similares no site','Q5',1), engine_OUT)
BASE_B2C_7 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade na conclusao da compra','Q6',1), engine_OUT)
BASE_B2C_8 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Opcao de compra de uma Loja Parceira em nosso site','Q7',1), engine_OUT)
BASE_B2C_9 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Seguranca em comprar de uma Loja Parceira','Q8',1), engine_OUT)
BASE_B2C_10 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade para pesquisar e encontrar a Lista de Casamento','Q9',1), engine_OUT)
BASE_B2C_11 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade em escolher o produto','Q10',1), engine_OUT)
BASE_B2C_12 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade para escrever a mensagem aos noivos','Q11',1), engine_OUT)
BASE_B2C_13 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade para concluir a compra','Q12',1), engine_OUT)
BASE_B2C_14 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade para criar e editar a Lista de Casamento','Q13',1), engine_OUT)
BASE_B2C_15 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade para divulgar a sua Lista de Casamento','Q14',1), engine_OUT)
BASE_B2C_16 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade para converter os produtos em creditos ou libera-los para entrega','Q15',1), engine_OUT)
BASE_B2C_17 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade para agradecer aos convidados pelos presentes ganhos','Q16',1), engine_OUT)
BASE_B2C_18 = pd.read_sql(processa_base("B2C",'NAVEGACAO','Facilidade para acompanhar o saldo acumulado dos creditos','Q17',1), engine_OUT)
BASE_B2C_19 = pd.read_sql(processa_base("B2C",'PRODUTOS','Variedade de produtos e marcas','Q18',1), engine_OUT)
BASE_B2C_20 = pd.read_sql(processa_base("B2C",'PRODUTOS','Facilidade de encontrar informacoes sobre o produto (descricao detalhada, fotos e avaliacao de outros compradores)','Q19',1), engine_OUT)
BASE_B2C_21 = pd.read_sql(processa_base("B2C",'PAGAMENTO','Variedade de opcoes de pagamento','Q20',1), engine_OUT)
BASE_B2C_22 = pd.read_sql(processa_base("B2C",'PAGAMENTO','Clareza da taxa de juros em caso de parcelamento','Q21',1), engine_OUT)
BASE_B2C_23 = pd.read_sql(processa_base("B2C",'PAGAMENTO','Tempo de aprovacao do pagamento','Q22',1), engine_OUT)
BASE_B2C_24 = pd.read_sql(processa_base("B2C",'PAGAMENTO','Quantidade de parcelas sem juros','Q23',1), engine_OUT)
BASE_B2C_25 = pd.read_sql(processa_base("B2C",'PAGAMENTO','Clareza do valor do Frete','Q24',1), engine_OUT)
BASE_B2C_26 = pd.read_sql(processa_base("B2C",'PAGAMENTO','Opcao de compra utilizando vale','Q25',1), engine_OUT)
BASE_B2C_27 = pd.read_sql(processa_base("B2C",'ENTREGA','Clareza do valor do frete','Q26',1), engine_OUT)
BASE_B2C_28 = pd.read_sql(processa_base("B2C",'ENTREGA','Opcao de retirar a compra na loja','Q27',1), engine_OUT)
BASE_B2C_29 = pd.read_sql(processa_base("B2C",'ENTREGA','Acompanhamento da entrega da compra','Q28',1), engine_OUT)
BASE_B2C_30 = pd.read_sql(processa_base("B2C",'ENTREGA','Entrega dentro do prazo estipulado','Q29',1), engine_OUT)
BASE_B2C_31 = pd.read_sql(processa_base("B2C",'ENTREGA','Condicoes do produto entregue','Q30',1), engine_OUT)
BASE_B2C_32 = pd.read_sql(processa_base("B2C",'COMPRA_LOJA_PARCEIRA_MKT','Clareza e transparencia que a compra sera realizada em uma Loja Parceira','Q31',1), engine_OUT)
BASE_B2C_33 = pd.read_sql(processa_base("B2C",'COMPRA_LOJA_PARCEIRA_MKT','Seguranca em comprar de uma Loja Parceira','Q32',1), engine_OUT)
BASE_B2C_34 = pd.read_sql(processa_base("B2C",'RETIRADA_LOJA_FISICA','Variedade de lojas disponiveis para retirada','Q33',1), engine_OUT)
BASE_B2C_35 = pd.read_sql(processa_base("B2C",'RETIRADA_LOJA_FISICA','Prazo atrativo para retirada da compra na loja fisica','Q34',1), engine_OUT)
BASE_B2C_36 = pd.read_sql(processa_base("B2C",'RETIRADA_LOJA_FISICA','Informacoes claras sobre a retirada da compra','Q35',1), engine_OUT)
BASE_B2C_37 = pd.read_sql(processa_base("B2C",'RETIRADA_LOJA_FISICA','Acompanhamento da disponibilidade de retirada da compra','Q36',1), engine_OUT)
BASE_B2C_38 = pd.read_sql(processa_base("B2C",'RETIRADA_LOJA_FISICA','Facilidade, cordialidade e tempo de espera durante o atendimento na retirada da compra','Q37',1), engine_OUT)
BASE_B2C_39 = pd.read_sql(processa_base("B2C",'RETIRADA_LOJA_FISICA','Retirada dentro do prazo estipulado','Q38',1), engine_OUT)
BASE_B2C_40 = pd.read_sql(processa_base("B2C",'ATENDIMENTO','Facilidade para entrar em contato com nossa Central de Atendimento','Q39',1), engine_OUT)
BASE_B2C_41 = pd.read_sql(processa_base("B2C",'ATENDIMENTO','Atencao, cordialidade e conhecimento dos atendentes','Q40',1), engine_OUT)
BASE_B2C_42 = pd.read_sql(processa_base("B2C",'ATENDIMENTO','Prazo informado para resolucao','Q41',1), engine_OUT)
print('DONE B2C')

BASE_NOIVO_1 = pd.read_sql(processa_base("NOIVO",'NPS','Em uma escala de 0 a 10, o quanto voce recomendaria nossa empresa para um amigo?','Q0',2), engine_OUT)
BASE_NOIVO_2 = pd.read_sql(processa_base("NOIVO",'PRECOS_OFERTAS','Preco dos produtos em geral','Q1',2), engine_OUT)
BASE_NOIVO_3 = pd.read_sql(processa_base("NOIVO",'PRECOS_OFERTAS','Atratividade das ofertas em nosso site','Q2',2), engine_OUT)
BASE_NOIVO_4 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade para pesquisar e encontrar produtos pelo menu de navegacao','Q3',2), engine_OUT)
BASE_NOIVO_5 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade em reconhecer as palavras na busca por um produto','Q4',2), engine_OUT)
BASE_NOIVO_6 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade de comparar precos e produtos similares no site','Q5',2), engine_OUT)
BASE_NOIVO_7 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade na conclusao da compra','Q6',2), engine_OUT)
BASE_NOIVO_8 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Opcao de compra de uma Loja Parceira em nosso site','Q7',2), engine_OUT)
BASE_NOIVO_9 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Seguranca em comprar de uma Loja Parceira','Q8',2), engine_OUT)
BASE_NOIVO_10 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade para pesquisar e encontrar a Lista de Casamento','Q9',2), engine_OUT)
BASE_NOIVO_11 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade em escolher o produto','Q10',2), engine_OUT)
BASE_NOIVO_12 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade para escrever a mensagem aos noivos','Q11',2), engine_OUT)
BASE_NOIVO_13 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade para concluir a compra','Q12',2), engine_OUT)
BASE_NOIVO_14 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade para criar e editar a Lista de Casamento','Q13',2), engine_OUT)
BASE_NOIVO_15 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade para divulgar a sua Lista de Casamento','Q14',2), engine_OUT)
BASE_NOIVO_16 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade para converter os produtos em creditos ou libera-los para entrega','Q15',2), engine_OUT)
BASE_NOIVO_17 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade para agradecer aos convidados pelos presentes ganhos','Q16',2), engine_OUT)
BASE_NOIVO_18 = pd.read_sql(processa_base("NOIVO",'NAVEGACAO','Facilidade para acompanhar o saldo acumulado dos creditos','Q17',2), engine_OUT)
BASE_NOIVO_19 = pd.read_sql(processa_base("NOIVO",'PRODUTOS','Variedade de produtos e marcas','Q18',2), engine_OUT)
BASE_NOIVO_20 = pd.read_sql(processa_base("NOIVO",'PRODUTOS','Facilidade de encontrar informacoes sobre o produto (descricao detalhada, fotos e avaliacao de outros compradores)','Q19',2), engine_OUT)
BASE_NOIVO_21 = pd.read_sql(processa_base("NOIVO",'PAGAMENTO','Variedade de opcoes de pagamento','Q20',2), engine_OUT)
BASE_NOIVO_22 = pd.read_sql(processa_base("NOIVO",'PAGAMENTO','Clareza da taxa de juros em caso de parcelamento','Q21',2), engine_OUT)
BASE_NOIVO_23 = pd.read_sql(processa_base("NOIVO",'PAGAMENTO','Tempo de aprovacao do pagamento','Q22',2), engine_OUT)
BASE_NOIVO_24 = pd.read_sql(processa_base("NOIVO",'PAGAMENTO','Quantidade de parcelas sem juros','Q23',2), engine_OUT)
BASE_NOIVO_25 = pd.read_sql(processa_base("NOIVO",'PAGAMENTO','Clareza do valor do Frete','Q24',2), engine_OUT)
BASE_NOIVO_26 = pd.read_sql(processa_base("NOIVO",'PAGAMENTO','Opcao de compra utilizando vale','Q25',2), engine_OUT)
BASE_NOIVO_27 = pd.read_sql(processa_base("NOIVO",'ENTREGA','Clareza do valor do frete','Q26',2), engine_OUT)
BASE_NOIVO_28 = pd.read_sql(processa_base("NOIVO",'ENTREGA','Opcao de retirar a compra na loja','Q27',2), engine_OUT)
BASE_NOIVO_29 = pd.read_sql(processa_base("NOIVO",'ENTREGA','Acompanhamento da entrega da compra','Q28',2), engine_OUT)
BASE_NOIVO_30 = pd.read_sql(processa_base("NOIVO",'ENTREGA','Entrega dentro do prazo estipulado','Q29',2), engine_OUT)
BASE_NOIVO_31 = pd.read_sql(processa_base("NOIVO",'ENTREGA','Condicoes do produto entregue','Q30',2), engine_OUT)
BASE_NOIVO_32 = pd.read_sql(processa_base("NOIVO",'COMPRA_LOJA_PARCEIRA_MKT','Clareza e transparencia que a compra sera realizada em uma Loja Parceira','Q31',2), engine_OUT)
BASE_NOIVO_33 = pd.read_sql(processa_base("NOIVO",'COMPRA_LOJA_PARCEIRA_MKT','Seguranca em comprar de uma Loja Parceira','Q32',2), engine_OUT)
BASE_NOIVO_34 = pd.read_sql(processa_base("NOIVO",'RETIRADA_LOJA_FISICA','Variedade de lojas disponiveis para retirada','Q33',2), engine_OUT)
BASE_NOIVO_35 = pd.read_sql(processa_base("NOIVO",'RETIRADA_LOJA_FISICA','Prazo atrativo para retirada da compra na loja fisica','Q34',2), engine_OUT)
BASE_NOIVO_36 = pd.read_sql(processa_base("NOIVO",'RETIRADA_LOJA_FISICA','Informacoes claras sobre a retirada da compra','Q35',2), engine_OUT)
BASE_NOIVO_37 = pd.read_sql(processa_base("NOIVO",'RETIRADA_LOJA_FISICA','Acompanhamento da disponibilidade de retirada da compra','Q36',2), engine_OUT)
BASE_NOIVO_38 = pd.read_sql(processa_base("NOIVO",'RETIRADA_LOJA_FISICA','Facilidade, cordialidade e tempo de espera durante o atendimento na retirada da compra','Q37',2), engine_OUT)
BASE_NOIVO_39 = pd.read_sql(processa_base("NOIVO",'RETIRADA_LOJA_FISICA','Retirada dentro do prazo estipulado','Q38',2), engine_OUT)
BASE_NOIVO_40 = pd.read_sql(processa_base("NOIVO",'ATENDIMENTO','Facilidade para entrar em contato com nossa Central de Atendimento','Q39',2), engine_OUT)
BASE_NOIVO_41 = pd.read_sql(processa_base("NOIVO",'ATENDIMENTO','Atencao, cordialidade e conhecimento dos atendentes','Q40',2), engine_OUT)
BASE_NOIVO_42 = pd.read_sql(processa_base("NOIVO",'ATENDIMENTO','Prazo informado para resolucao','Q41',2), engine_OUT)
print('DONE NOIVO')

BASE_CONVIDADO_1 = pd.read_sql(processa_base("CONVIDADO",'NPS','Em uma escala de 0 a 10, o quanto voce recomendaria nossa empresa para um amigo?','Q0',3), engine_OUT)
BASE_CONVIDADO_2 = pd.read_sql(processa_base("CONVIDADO",'PRECOS_OFERTAS','Preco dos produtos em geral','Q1',3), engine_OUT)
BASE_CONVIDADO_3 = pd.read_sql(processa_base("CONVIDADO",'PRECOS_OFERTAS','Atratividade das ofertas em nosso site','Q2',3), engine_OUT)
BASE_CONVIDADO_4 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade para pesquisar e encontrar produtos pelo menu de navegacao','Q3',3), engine_OUT)
BASE_CONVIDADO_5 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade em reconhecer as palavras na busca por um produto','Q4',3), engine_OUT)
BASE_CONVIDADO_6 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade de comparar precos e produtos similares no site','Q5',3), engine_OUT)
BASE_CONVIDADO_7 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade na conclusao da compra','Q6',3), engine_OUT)
BASE_CONVIDADO_8 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Opcao de compra de uma Loja Parceira em nosso site','Q7',3), engine_OUT)
BASE_CONVIDADO_9 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Seguranca em comprar de uma Loja Parceira','Q8',3), engine_OUT)
BASE_CONVIDADO_10 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade para pesquisar e encontrar a Lista de Casamento','Q9',3), engine_OUT)
BASE_CONVIDADO_11 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade em escolher o produto','Q10',3), engine_OUT)
BASE_CONVIDADO_12 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade para escrever a mensagem aos noivos','Q11',3), engine_OUT)
BASE_CONVIDADO_13 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade para concluir a compra','Q12',3), engine_OUT)
BASE_CONVIDADO_14 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade para criar e editar a Lista de Casamento','Q13',3), engine_OUT)
BASE_CONVIDADO_15 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade para divulgar a sua Lista de Casamento','Q14',3), engine_OUT)
BASE_CONVIDADO_16 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade para converter os produtos em creditos ou libera-los para entrega','Q15',3), engine_OUT)
BASE_CONVIDADO_17 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade para agradecer aos convidados pelos presentes ganhos','Q16',3), engine_OUT)
BASE_CONVIDADO_18 = pd.read_sql(processa_base("CONVIDADO",'NAVEGACAO','Facilidade para acompanhar o saldo acumulado dos creditos','Q17',3), engine_OUT)
BASE_CONVIDADO_19 = pd.read_sql(processa_base("CONVIDADO",'PRODUTOS','Variedade de produtos e marcas','Q18',3), engine_OUT)
BASE_CONVIDADO_20 = pd.read_sql(processa_base("CONVIDADO",'PRODUTOS','Facilidade de encontrar informacoes sobre o produto (descricao detalhada, fotos e avaliacao de outros compradores)','Q19',3), engine_OUT)
BASE_CONVIDADO_21 = pd.read_sql(processa_base("CONVIDADO",'PAGAMENTO','Variedade de opcoes de pagamento','Q20',3), engine_OUT)
BASE_CONVIDADO_22 = pd.read_sql(processa_base("CONVIDADO",'PAGAMENTO','Clareza da taxa de juros em caso de parcelamento','Q21',3), engine_OUT)
BASE_CONVIDADO_23 = pd.read_sql(processa_base("CONVIDADO",'PAGAMENTO','Tempo de aprovacao do pagamento','Q22',3), engine_OUT)
BASE_CONVIDADO_24 = pd.read_sql(processa_base("CONVIDADO",'PAGAMENTO','Quantidade de parcelas sem juros','Q23',3), engine_OUT)
BASE_CONVIDADO_25 = pd.read_sql(processa_base("CONVIDADO",'PAGAMENTO','Clareza do valor do Frete','Q24',3), engine_OUT)
BASE_CONVIDADO_26 = pd.read_sql(processa_base("CONVIDADO",'PAGAMENTO','Opcao de compra utilizando vale','Q25',3), engine_OUT)
BASE_CONVIDADO_27 = pd.read_sql(processa_base("CONVIDADO",'ENTREGA','Clareza do valor do frete','Q26',3), engine_OUT)
BASE_CONVIDADO_28 = pd.read_sql(processa_base("CONVIDADO",'ENTREGA','Opcao de retirar a compra na loja','Q27',3), engine_OUT)
BASE_CONVIDADO_29 = pd.read_sql(processa_base("CONVIDADO",'ENTREGA','Acompanhamento da entrega da compra','Q28',3), engine_OUT)
BASE_CONVIDADO_30 = pd.read_sql(processa_base("CONVIDADO",'ENTREGA','Entrega dentro do prazo estipulado','Q29',3), engine_OUT)
BASE_CONVIDADO_31 = pd.read_sql(processa_base("CONVIDADO",'ENTREGA','Condicoes do produto entregue','Q30',3), engine_OUT)
BASE_CONVIDADO_32 = pd.read_sql(processa_base("CONVIDADO",'COMPRA_LOJA_PARCEIRA_MKT','Clareza e transparencia que a compra sera realizada em uma Loja Parceira','Q31',3), engine_OUT)
BASE_CONVIDADO_33 = pd.read_sql(processa_base("CONVIDADO",'COMPRA_LOJA_PARCEIRA_MKT','Seguranca em comprar de uma Loja Parceira','Q32',3), engine_OUT)
BASE_CONVIDADO_34 = pd.read_sql(processa_base("CONVIDADO",'RETIRADA_LOJA_FISICA','Variedade de lojas disponiveis para retirada','Q33',3), engine_OUT)
BASE_CONVIDADO_35 = pd.read_sql(processa_base("CONVIDADO",'RETIRADA_LOJA_FISICA','Prazo atrativo para retirada da compra na loja fisica','Q34',3), engine_OUT)
BASE_CONVIDADO_36 = pd.read_sql(processa_base("CONVIDADO",'RETIRADA_LOJA_FISICA','Informacoes claras sobre a retirada da compra','Q35',3), engine_OUT)
BASE_CONVIDADO_37 = pd.read_sql(processa_base("CONVIDADO",'RETIRADA_LOJA_FISICA','Acompanhamento da disponibilidade de retirada da compra','Q36',3), engine_OUT)
BASE_CONVIDADO_38 = pd.read_sql(processa_base("CONVIDADO",'RETIRADA_LOJA_FISICA','Facilidade, cordialidade e tempo de espera durante o atendimento na retirada da compra','Q37',3), engine_OUT)
BASE_CONVIDADO_39 = pd.read_sql(processa_base("CONVIDADO",'RETIRADA_LOJA_FISICA','Retirada dentro do prazo estipulado','Q38',3), engine_OUT)
BASE_CONVIDADO_40 = pd.read_sql(processa_base("CONVIDADO",'ATENDIMENTO','Facilidade para entrar em contato com nossa Central de Atendimento','Q39',3), engine_OUT)
BASE_CONVIDADO_41 = pd.read_sql(processa_base("CONVIDADO",'ATENDIMENTO','Atencao, cordialidade e conhecimento dos atendentes','Q40',3), engine_OUT)
BASE_CONVIDADO_42 = pd.read_sql(processa_base("CONVIDADO",'ATENDIMENTO','Prazo informado para resolucao','Q41',3), engine_OUT)
print ('DONE CONVIDADO')

BASE_MARKETPLACE_1 = pd.read_sql(processa_base("MARKETPLACE",'NPS','Em uma escala de 0 a 10, o quanto voce recomendaria nossa empresa para um amigo?','Q0',4), engine_OUT)
BASE_MARKETPLACE_2 = pd.read_sql(processa_base("MARKETPLACE",'PRECOS_OFERTAS','Preco dos produtos em geral','Q1',4), engine_OUT)
BASE_MARKETPLACE_3 = pd.read_sql(processa_base("MARKETPLACE",'PRECOS_OFERTAS','Atratividade das ofertas em nosso site','Q2',4), engine_OUT)
BASE_MARKETPLACE_4 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade para pesquisar e encontrar produtos pelo menu de navegacao','Q3',4), engine_OUT)
BASE_MARKETPLACE_5 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade em reconhecer as palavras na busca por um produto','Q4',4), engine_OUT)
BASE_MARKETPLACE_6 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade de comparar precos e produtos similares no site','Q5',4), engine_OUT)
BASE_MARKETPLACE_7 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade na conclusao da compra','Q6',4), engine_OUT)
BASE_MARKETPLACE_8 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Opcao de compra de uma Loja Parceira em nosso site','Q7',4), engine_OUT)
BASE_MARKETPLACE_9 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Seguranca em comprar de uma Loja Parceira','Q8',4), engine_OUT)
BASE_MARKETPLACE_10 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade para pesquisar e encontrar a Lista de Casamento','Q9',4), engine_OUT)
BASE_MARKETPLACE_11 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade em escolher o produto','Q10',4), engine_OUT)
BASE_MARKETPLACE_12 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade para escrever a mensagem aos noivos','Q11',4), engine_OUT)
BASE_MARKETPLACE_13 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade para concluir a compra','Q12',4), engine_OUT)
BASE_MARKETPLACE_14 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade para criar e editar a Lista de Casamento','Q13',4), engine_OUT)
BASE_MARKETPLACE_15 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade para divulgar a sua Lista de Casamento','Q14',4), engine_OUT)
BASE_MARKETPLACE_16 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade para converter os produtos em creditos ou libera-los para entrega','Q15',4), engine_OUT)
BASE_MARKETPLACE_17 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade para agradecer aos convidados pelos presentes ganhos','Q16',4), engine_OUT)
BASE_MARKETPLACE_18 = pd.read_sql(processa_base("MARKETPLACE",'NAVEGACAO','Facilidade para acompanhar o saldo acumulado dos creditos','Q17',4), engine_OUT)
BASE_MARKETPLACE_19 = pd.read_sql(processa_base("MARKETPLACE",'PRODUTOS','Variedade de produtos e marcas','Q18',4), engine_OUT)
BASE_MARKETPLACE_20 = pd.read_sql(processa_base("MARKETPLACE",'PRODUTOS','Facilidade de encontrar informacoes sobre o produto (descricao detalhada, fotos e avaliacao de outros compradores)','Q19',4), engine_OUT)
BASE_MARKETPLACE_21 = pd.read_sql(processa_base("MARKETPLACE",'PAGAMENTO','Variedade de opcoes de pagamento','Q20',4), engine_OUT)
BASE_MARKETPLACE_22 = pd.read_sql(processa_base("MARKETPLACE",'PAGAMENTO','Clareza da taxa de juros em caso de parcelamento','Q21',4), engine_OUT)
BASE_MARKETPLACE_23 = pd.read_sql(processa_base("MARKETPLACE",'PAGAMENTO','Tempo de aprovacao do pagamento','Q22',4), engine_OUT)
BASE_MARKETPLACE_24 = pd.read_sql(processa_base("MARKETPLACE",'PAGAMENTO','Quantidade de parcelas sem juros','Q23',4), engine_OUT)
BASE_MARKETPLACE_25 = pd.read_sql(processa_base("MARKETPLACE",'PAGAMENTO','Clareza do valor do Frete','Q24',4), engine_OUT)
BASE_MARKETPLACE_26 = pd.read_sql(processa_base("MARKETPLACE",'PAGAMENTO','Opcao de compra utilizando vale','Q25',4), engine_OUT)
BASE_MARKETPLACE_27 = pd.read_sql(processa_base("MARKETPLACE",'ENTREGA','Clareza do valor do frete','Q26',4), engine_OUT)
BASE_MARKETPLACE_28 = pd.read_sql(processa_base("MARKETPLACE",'ENTREGA','Opcao de retirar a compra na loja','Q27',4), engine_OUT)
BASE_MARKETPLACE_29 = pd.read_sql(processa_base("MARKETPLACE",'ENTREGA','Acompanhamento da entrega da compra','Q28',4), engine_OUT)
BASE_MARKETPLACE_30 = pd.read_sql(processa_base("MARKETPLACE",'ENTREGA','Entrega dentro do prazo estipulado','Q29',4), engine_OUT)
BASE_MARKETPLACE_31 = pd.read_sql(processa_base("MARKETPLACE",'ENTREGA','Condicoes do produto entregue','Q30',4), engine_OUT)
BASE_MARKETPLACE_32 = pd.read_sql(processa_base("MARKETPLACE",'COMPRA_LOJA_PARCEIRA_MKT','Clareza e transparencia que a compra sera realizada em uma Loja Parceira','Q31',4), engine_OUT)
BASE_MARKETPLACE_33 = pd.read_sql(processa_base("MARKETPLACE",'COMPRA_LOJA_PARCEIRA_MKT','Seguranca em comprar de uma Loja Parceira','Q32',4), engine_OUT)
BASE_MARKETPLACE_34 = pd.read_sql(processa_base("MARKETPLACE",'RETIRADA_LOJA_FISICA','Variedade de lojas disponiveis para retirada','Q33',4), engine_OUT)
BASE_MARKETPLACE_35 = pd.read_sql(processa_base("MARKETPLACE",'RETIRADA_LOJA_FISICA','Prazo atrativo para retirada da compra na loja fisica','Q34',4), engine_OUT)
BASE_MARKETPLACE_36 = pd.read_sql(processa_base("MARKETPLACE",'RETIRADA_LOJA_FISICA','Informacoes claras sobre a retirada da compra','Q35',4), engine_OUT)
BASE_MARKETPLACE_37 = pd.read_sql(processa_base("MARKETPLACE",'RETIRADA_LOJA_FISICA','Acompanhamento da disponibilidade de retirada da compra','Q36',4), engine_OUT)
BASE_MARKETPLACE_38 = pd.read_sql(processa_base("MARKETPLACE",'RETIRADA_LOJA_FISICA','Facilidade, cordialidade e tempo de espera durante o atendimento na retirada da compra','Q37',4), engine_OUT)
BASE_MARKETPLACE_39 = pd.read_sql(processa_base("MARKETPLACE",'RETIRADA_LOJA_FISICA','Retirada dentro do prazo estipulado','Q38',4), engine_OUT)
BASE_MARKETPLACE_40 = pd.read_sql(processa_base("MARKETPLACE",'ATENDIMENTO','Facilidade para entrar em contato com nossa Central de Atendimento','Q39',4), engine_OUT)
BASE_MARKETPLACE_41 = pd.read_sql(processa_base("MARKETPLACE",'ATENDIMENTO','Atencao, cordialidade e conhecimento dos atendentes','Q40',4), engine_OUT)
BASE_MARKETPLACE_42 = pd.read_sql(processa_base("MARKETPLACE",'ATENDIMENTO','Prazo informado para resolucao','Q41',4), engine_OUT)
print('DONE MARKETPLACE')


BASE_MISTO_1 = pd.read_sql(processa_base("MISTO",'NPS','Em uma escala de 0 a 10, o quanto voce recomendaria nossa empresa para um amigo?','Q0',5), engine_OUT)
BASE_MISTO_2 = pd.read_sql(processa_base("MISTO",'PRECOS_OFERTAS','Preco dos produtos em geral','Q1',5), engine_OUT)
BASE_MISTO_3 = pd.read_sql(processa_base("MISTO",'PRECOS_OFERTAS','Atratividade das ofertas em nosso site','Q2',5), engine_OUT)
BASE_MISTO_4 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade para pesquisar e encontrar produtos pelo menu de navegacao','Q3',5), engine_OUT)
BASE_MISTO_5 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade em reconhecer as palavras na busca por um produto','Q4',5), engine_OUT)
BASE_MISTO_6 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade de comparar precos e produtos similares no site','Q5',5), engine_OUT)
BASE_MISTO_7 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade na conclusao da compra','Q6',5), engine_OUT)
BASE_MISTO_8 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Opcao de compra de uma Loja Parceira em nosso site','Q7',5), engine_OUT)
BASE_MISTO_9 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Seguranca em comprar de uma Loja Parceira','Q8',5), engine_OUT)
BASE_MISTO_10 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade para pesquisar e encontrar a Lista de Casamento','Q9',5), engine_OUT)
BASE_MISTO_11 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade em escolher o produto','Q10',5), engine_OUT)
BASE_MISTO_12 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade para escrever a mensagem aos noivos','Q11',5), engine_OUT)
BASE_MISTO_13 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade para concluir a compra','Q12',5), engine_OUT)
BASE_MISTO_14 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade para criar e editar a Lista de Casamento','Q13',5), engine_OUT)
BASE_MISTO_15 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade para divulgar a sua Lista de Casamento','Q14',5), engine_OUT)
BASE_MISTO_16 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade para converter os produtos em creditos ou libera-los para entrega','Q15',5), engine_OUT)
BASE_MISTO_17 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade para agradecer aos convidados pelos presentes ganhos','Q16',5), engine_OUT)
BASE_MISTO_18 = pd.read_sql(processa_base("MISTO",'NAVEGACAO','Facilidade para acompanhar o saldo acumulado dos creditos','Q17',5), engine_OUT)
BASE_MISTO_19 = pd.read_sql(processa_base("MISTO",'PRODUTOS','Variedade de produtos e marcas','Q18',5), engine_OUT)
BASE_MISTO_20 = pd.read_sql(processa_base("MISTO",'PRODUTOS','Facilidade de encontrar informacoes sobre o produto (descricao detalhada, fotos e avaliacao de outros compradores)','Q19',5), engine_OUT)
BASE_MISTO_21 = pd.read_sql(processa_base("MISTO",'PAGAMENTO','Variedade de opcoes de pagamento','Q20',5), engine_OUT)
BASE_MISTO_22 = pd.read_sql(processa_base("MISTO",'PAGAMENTO','Clareza da taxa de juros em caso de parcelamento','Q21',5), engine_OUT)
BASE_MISTO_23 = pd.read_sql(processa_base("MISTO",'PAGAMENTO','Tempo de aprovacao do pagamento','Q22',5), engine_OUT)
BASE_MISTO_24 = pd.read_sql(processa_base("MISTO",'PAGAMENTO','Quantidade de parcelas sem juros','Q23',5), engine_OUT)
BASE_MISTO_25 = pd.read_sql(processa_base("MISTO",'PAGAMENTO','Clareza do valor do Frete','Q24',5), engine_OUT)
BASE_MISTO_26 = pd.read_sql(processa_base("MISTO",'PAGAMENTO','Opcao de compra utilizando vale','Q25',5), engine_OUT)
BASE_MISTO_27 = pd.read_sql(processa_base("MISTO",'ENTREGA','Clareza do valor do frete','Q26',5), engine_OUT)
BASE_MISTO_28 = pd.read_sql(processa_base("MISTO",'ENTREGA','Opcao de retirar a compra na loja','Q27',5), engine_OUT)
BASE_MISTO_29 = pd.read_sql(processa_base("MISTO",'ENTREGA','Acompanhamento da entrega da compra','Q28',5), engine_OUT)
BASE_MISTO_30 = pd.read_sql(processa_base("MISTO",'ENTREGA','Entrega dentro do prazo estipulado','Q29',5), engine_OUT)
BASE_MISTO_31 = pd.read_sql(processa_base("MISTO",'ENTREGA','Condicoes do produto entregue','Q30',5), engine_OUT)
BASE_MISTO_32 = pd.read_sql(processa_base("MISTO",'COMPRA_LOJA_PARCEIRA_MKT','Clareza e transparencia que a compra sera realizada em uma Loja Parceira','Q31',5), engine_OUT)
BASE_MISTO_33 = pd.read_sql(processa_base("MISTO",'COMPRA_LOJA_PARCEIRA_MKT','Seguranca em comprar de uma Loja Parceira','Q32',5), engine_OUT)
BASE_MISTO_34 = pd.read_sql(processa_base("MISTO",'RETIRADA_LOJA_FISICA','Variedade de lojas disponiveis para retirada','Q33',5), engine_OUT)
BASE_MISTO_35 = pd.read_sql(processa_base("MISTO",'RETIRADA_LOJA_FISICA','Prazo atrativo para retirada da compra na loja fisica','Q34',5), engine_OUT)
BASE_MISTO_36 = pd.read_sql(processa_base("MISTO",'RETIRADA_LOJA_FISICA','Informacoes claras sobre a retirada da compra','Q35',5), engine_OUT)
BASE_MISTO_37 = pd.read_sql(processa_base("MISTO",'RETIRADA_LOJA_FISICA','Acompanhamento da disponibilidade de retirada da compra','Q36',5), engine_OUT)
BASE_MISTO_38 = pd.read_sql(processa_base("MISTO",'RETIRADA_LOJA_FISICA','Facilidade, cordialidade e tempo de espera durante o atendimento na retirada da compra','Q37',5), engine_OUT)
BASE_MISTO_39 = pd.read_sql(processa_base("MISTO",'RETIRADA_LOJA_FISICA','Retirada dentro do prazo estipulado','Q38',5), engine_OUT)
BASE_MISTO_40 = pd.read_sql(processa_base("MISTO",'ATENDIMENTO','Facilidade para entrar em contato com nossa Central de Atendimento','Q39',5), engine_OUT)
BASE_MISTO_41 = pd.read_sql(processa_base("MISTO",'ATENDIMENTO','Atencao, cordialidade e conhecimento dos atendentes','Q40',5), engine_OUT)
BASE_MISTO_42 = pd.read_sql(processa_base("MISTO",'ATENDIMENTO','Prazo informado para resolucao','Q41',5), engine_OUT)
print('DONE MISTO')

BASE_MULTICANALIDADE_1 = pd.read_sql(processa_base("MULTICANALIDADE",'NPS','Em uma escala de 0 a 10, o quanto voce recomendaria nossa empresa para um amigo?','Q0',6), engine_OUT)
BASE_MULTICANALIDADE_2 = pd.read_sql(processa_base("MULTICANALIDADE",'PRECOS_OFERTAS','Preco dos produtos em geral','Q1',6), engine_OUT)
BASE_MULTICANALIDADE_3 = pd.read_sql(processa_base("MULTICANALIDADE",'PRECOS_OFERTAS','Atratividade das ofertas em nosso site','Q2',6), engine_OUT)
BASE_MULTICANALIDADE_4 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade para pesquisar e encontrar produtos pelo menu de navegacao','Q3',6), engine_OUT)
BASE_MULTICANALIDADE_5 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade em reconhecer as palavras na busca por um produto','Q4',6), engine_OUT)
BASE_MULTICANALIDADE_6 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade de comparar precos e produtos similares no site','Q5',6), engine_OUT)
BASE_MULTICANALIDADE_7 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade na conclusao da compra','Q6',6), engine_OUT)
BASE_MULTICANALIDADE_8 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Opcao de compra de uma Loja Parceira em nosso site','Q7',6), engine_OUT)
BASE_MULTICANALIDADE_9 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Seguranca em comprar de uma Loja Parceira','Q8',6), engine_OUT)
BASE_MULTICANALIDADE_10 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade para pesquisar e encontrar a Lista de Casamento','Q9',6), engine_OUT)
BASE_MULTICANALIDADE_11 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade em escolher o produto','Q10',6), engine_OUT)
BASE_MULTICANALIDADE_12 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade para escrever a mensagem aos noivos','Q11',6), engine_OUT)
BASE_MULTICANALIDADE_13 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade para concluir a compra','Q12',6), engine_OUT)
BASE_MULTICANALIDADE_14 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade para criar e editar a Lista de Casamento','Q13',6), engine_OUT)
BASE_MULTICANALIDADE_15 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade para divulgar a sua Lista de Casamento','Q14',6), engine_OUT)
BASE_MULTICANALIDADE_16 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade para converter os produtos em creditos ou libera-los para entrega','Q15',6), engine_OUT)
BASE_MULTICANALIDADE_17 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade para agradecer aos convidados pelos presentes ganhos','Q16',6), engine_OUT)
BASE_MULTICANALIDADE_18 = pd.read_sql(processa_base("MULTICANALIDADE",'NAVEGACAO','Facilidade para acompanhar o saldo acumulado dos creditos','Q17',6), engine_OUT)
BASE_MULTICANALIDADE_19 = pd.read_sql(processa_base("MULTICANALIDADE",'PRODUTOS','Variedade de produtos e marcas','Q18',6), engine_OUT)
BASE_MULTICANALIDADE_20 = pd.read_sql(processa_base("MULTICANALIDADE",'PRODUTOS','Facilidade de encontrar informacoes sobre o produto (descricao detalhada, fotos e avaliacao de outros compradores)','Q19',6), engine_OUT)
BASE_MULTICANALIDADE_21 = pd.read_sql(processa_base("MULTICANALIDADE",'PAGAMENTO','Variedade de opcoes de pagamento','Q20',6), engine_OUT)
BASE_MULTICANALIDADE_22 = pd.read_sql(processa_base("MULTICANALIDADE",'PAGAMENTO','Clareza da taxa de juros em caso de parcelamento','Q21',6), engine_OUT)
BASE_MULTICANALIDADE_23 = pd.read_sql(processa_base("MULTICANALIDADE",'PAGAMENTO','Tempo de aprovacao do pagamento','Q22',6), engine_OUT)
BASE_MULTICANALIDADE_24 = pd.read_sql(processa_base("MULTICANALIDADE",'PAGAMENTO','Quantidade de parcelas sem juros','Q23',6), engine_OUT)
BASE_MULTICANALIDADE_25 = pd.read_sql(processa_base("MULTICANALIDADE",'PAGAMENTO','Clareza do valor do Frete','Q24',6), engine_OUT)
BASE_MULTICANALIDADE_26 = pd.read_sql(processa_base("MULTICANALIDADE",'PAGAMENTO','Opcao de compra utilizando vale','Q25',6), engine_OUT)
BASE_MULTICANALIDADE_27 = pd.read_sql(processa_base("MULTICANALIDADE",'ENTREGA','Clareza do valor do frete','Q26',6), engine_OUT)
BASE_MULTICANALIDADE_28 = pd.read_sql(processa_base("MULTICANALIDADE",'ENTREGA','Opcao de retirar a compra na loja','Q27',6), engine_OUT)
BASE_MULTICANALIDADE_29 = pd.read_sql(processa_base("MULTICANALIDADE",'ENTREGA','Acompanhamento da entrega da compra','Q28',6), engine_OUT)
BASE_MULTICANALIDADE_30 = pd.read_sql(processa_base("MULTICANALIDADE",'ENTREGA','Entrega dentro do prazo estipulado','Q29',6), engine_OUT)
BASE_MULTICANALIDADE_31 = pd.read_sql(processa_base("MULTICANALIDADE",'ENTREGA','Condicoes do produto entregue','Q30',6), engine_OUT)
BASE_MULTICANALIDADE_32 = pd.read_sql(processa_base("MULTICANALIDADE",'COMPRA_LOJA_PARCEIRA_MKT','Clareza e transparencia que a compra sera realizada em uma Loja Parceira','Q31',6), engine_OUT)
BASE_MULTICANALIDADE_33 = pd.read_sql(processa_base("MULTICANALIDADE",'COMPRA_LOJA_PARCEIRA_MKT','Seguranca em comprar de uma Loja Parceira','Q32',6), engine_OUT)
BASE_MULTICANALIDADE_34 = pd.read_sql(processa_base("MULTICANALIDADE",'RETIRADA_LOJA_FISICA','Variedade de lojas disponiveis para retirada','Q33',6), engine_OUT)
BASE_MULTICANALIDADE_35 = pd.read_sql(processa_base("MULTICANALIDADE",'RETIRADA_LOJA_FISICA','Prazo atrativo para retirada da compra na loja fisica','Q34',6), engine_OUT)
BASE_MULTICANALIDADE_36 = pd.read_sql(processa_base("MULTICANALIDADE",'RETIRADA_LOJA_FISICA','Informacoes claras sobre a retirada da compra','Q35',6), engine_OUT)
BASE_MULTICANALIDADE_37 = pd.read_sql(processa_base("MULTICANALIDADE",'RETIRADA_LOJA_FISICA','Acompanhamento da disponibilidade de retirada da compra','Q36',6), engine_OUT)
BASE_MULTICANALIDADE_38 = pd.read_sql(processa_base("MULTICANALIDADE",'RETIRADA_LOJA_FISICA','Facilidade, cordialidade e tempo de espera durante o atendimento na retirada da compra','Q37',6), engine_OUT)
BASE_MULTICANALIDADE_39 = pd.read_sql(processa_base("MULTICANALIDADE",'RETIRADA_LOJA_FISICA','Retirada dentro do prazo estipulado','Q38',6), engine_OUT)
BASE_MULTICANALIDADE_40 = pd.read_sql(processa_base("MULTICANALIDADE",'ATENDIMENTO','Facilidade para entrar em contato com nossa Central de Atendimento','Q39',6), engine_OUT)
BASE_MULTICANALIDADE_41 = pd.read_sql(processa_base("MULTICANALIDADE",'ATENDIMENTO','Atencao, cordialidade e conhecimento dos atendentes','Q40',6), engine_OUT)
BASE_MULTICANALIDADE_42 = pd.read_sql(processa_base("MULTICANALIDADE",'ATENDIMENTO','Prazo informado para resolucao','Q41',6), engine_OUT)
print('DONE MULTICANALIDADE')

print('FIM DA SEPARACAO DOS QUESTIONARIOS')

B2C= [BASE_B2C_1 ,BASE_B2C_2,	BASE_B2C_3,	BASE_B2C_4,	BASE_B2C_5,	BASE_B2C_6,	BASE_B2C_7,	BASE_B2C_8,	BASE_B2C_9,	BASE_B2C_10,	BASE_B2C_11,	BASE_B2C_12,	BASE_B2C_13,	BASE_B2C_14,	BASE_B2C_15,	BASE_B2C_16,	BASE_B2C_17,	BASE_B2C_18,	BASE_B2C_19,	BASE_B2C_20,	BASE_B2C_21,	BASE_B2C_22,	BASE_B2C_23,	BASE_B2C_24,	BASE_B2C_25,	BASE_B2C_26,	BASE_B2C_27,	BASE_B2C_28,	BASE_B2C_29,	BASE_B2C_30,	BASE_B2C_31,	BASE_B2C_32,	BASE_B2C_33,	BASE_B2C_34,	BASE_B2C_35,	BASE_B2C_36,	BASE_B2C_37,	BASE_B2C_38,	BASE_B2C_39,	BASE_B2C_40,	BASE_B2C_41,	BASE_B2C_42]
B2C=pd.concat(B2C)
print('DONE CONCATENATING B2C')

NOIVO= [BASE_NOIVO_1 ,	BASE_NOIVO_2,	BASE_NOIVO_3,	BASE_NOIVO_4,	BASE_NOIVO_5,	BASE_NOIVO_6,	BASE_NOIVO_7,	BASE_NOIVO_8,	BASE_NOIVO_9,	BASE_NOIVO_10,	BASE_NOIVO_11,	BASE_NOIVO_12,	BASE_NOIVO_13,	BASE_NOIVO_14,	BASE_NOIVO_15,	BASE_NOIVO_16,	BASE_NOIVO_17,	BASE_NOIVO_18,	BASE_NOIVO_19,	BASE_NOIVO_20,	BASE_NOIVO_21,	BASE_NOIVO_22,	BASE_NOIVO_23,	BASE_NOIVO_24,	BASE_NOIVO_25,	BASE_NOIVO_26,	BASE_NOIVO_27,	BASE_NOIVO_28,	BASE_NOIVO_29,	BASE_NOIVO_30,	BASE_NOIVO_31,	BASE_NOIVO_32,	BASE_NOIVO_33,	BASE_NOIVO_34,	BASE_NOIVO_35,	BASE_NOIVO_36,	BASE_NOIVO_37,	BASE_NOIVO_38,	BASE_NOIVO_39,	BASE_NOIVO_40,	BASE_NOIVO_41,	BASE_NOIVO_42]
NOIVO=pd.concat(NOIVO)
print('DONE CONCATENATING NOIVO')

CONVIDADO = [BASE_CONVIDADO_1 ,	BASE_CONVIDADO_2,	BASE_CONVIDADO_3,	BASE_CONVIDADO_4,	BASE_CONVIDADO_5,	BASE_CONVIDADO_6,	BASE_CONVIDADO_7,	BASE_CONVIDADO_8,	BASE_CONVIDADO_9,	BASE_CONVIDADO_10,	BASE_CONVIDADO_11,	BASE_CONVIDADO_12,	BASE_CONVIDADO_13,	BASE_CONVIDADO_14,	BASE_CONVIDADO_15,	BASE_CONVIDADO_16,	BASE_CONVIDADO_17,	BASE_CONVIDADO_18,	BASE_CONVIDADO_19,	BASE_CONVIDADO_20,	BASE_CONVIDADO_21,	BASE_CONVIDADO_22,	BASE_CONVIDADO_23,	BASE_CONVIDADO_24,	BASE_CONVIDADO_25,	BASE_CONVIDADO_26,	BASE_CONVIDADO_27,	BASE_CONVIDADO_28,	BASE_CONVIDADO_29,	BASE_CONVIDADO_30,	BASE_CONVIDADO_31,	BASE_CONVIDADO_32,	BASE_CONVIDADO_33,	BASE_CONVIDADO_34,	BASE_CONVIDADO_35,	BASE_CONVIDADO_36,	BASE_CONVIDADO_37,	BASE_CONVIDADO_38,	BASE_CONVIDADO_39,	BASE_CONVIDADO_40,	BASE_CONVIDADO_41,	BASE_CONVIDADO_42]
CONVIDADO = pd.concat(CONVIDADO)
print('DONE CONVIDADO')

MARKETPLACE = [BASE_MARKETPLACE_1 ,	BASE_MARKETPLACE_2,	BASE_MARKETPLACE_3,	BASE_MARKETPLACE_4,	BASE_MARKETPLACE_5,	BASE_MARKETPLACE_6,	BASE_MARKETPLACE_7,	BASE_MARKETPLACE_8,	BASE_MARKETPLACE_9,	BASE_MARKETPLACE_10,	BASE_MARKETPLACE_11,	BASE_MARKETPLACE_12,	BASE_MARKETPLACE_13,	BASE_MARKETPLACE_14,	BASE_MARKETPLACE_15,	BASE_MARKETPLACE_16,	BASE_MARKETPLACE_17,	BASE_MARKETPLACE_18,	BASE_MARKETPLACE_19,	BASE_MARKETPLACE_20,	BASE_MARKETPLACE_21,	BASE_MARKETPLACE_22,	BASE_MARKETPLACE_23,	BASE_MARKETPLACE_24,	BASE_MARKETPLACE_25,	BASE_MARKETPLACE_26,	BASE_MARKETPLACE_27,	BASE_MARKETPLACE_28,	BASE_MARKETPLACE_29,	BASE_MARKETPLACE_30,	BASE_MARKETPLACE_31,	BASE_MARKETPLACE_32,	BASE_MARKETPLACE_33,	BASE_MARKETPLACE_34,	BASE_MARKETPLACE_35,	BASE_MARKETPLACE_36,	BASE_MARKETPLACE_37,	BASE_MARKETPLACE_38,	BASE_MARKETPLACE_39,	BASE_MARKETPLACE_40,	BASE_MARKETPLACE_41,	BASE_MARKETPLACE_42]
MARKETPLACE = pd.concat(MARKETPLACE)
print('DONE MARKETPLACE')

MISTO = [BASE_MISTO_1 ,	BASE_MISTO_2,	BASE_MISTO_3,	BASE_MISTO_4,	BASE_MISTO_5,	BASE_MISTO_6,	BASE_MISTO_7,	BASE_MISTO_8,	BASE_MISTO_9,	BASE_MISTO_10,	BASE_MISTO_11,	BASE_MISTO_12,	BASE_MISTO_13,	BASE_MISTO_14,	BASE_MISTO_15,	BASE_MISTO_16,	BASE_MISTO_17,	BASE_MISTO_18,	BASE_MISTO_19,	BASE_MISTO_20,	BASE_MISTO_21,	BASE_MISTO_22,	BASE_MISTO_23,	BASE_MISTO_24,	BASE_MISTO_25,	BASE_MISTO_26,	BASE_MISTO_27,	BASE_MISTO_28,	BASE_MISTO_29,	BASE_MISTO_30,	BASE_MISTO_31,	BASE_MISTO_32,	BASE_MISTO_33,	BASE_MISTO_34,	BASE_MISTO_35,	BASE_MISTO_36,	BASE_MISTO_37,	BASE_MISTO_38,	BASE_MISTO_39,	BASE_MISTO_40,	BASE_MISTO_41,	BASE_MISTO_42]
MISTO = pd.concat(MISTO)
print('DONE MISTO')

MULTICANALIDADE = [BASE_MULTICANALIDADE_1 ,	BASE_MULTICANALIDADE_2,	BASE_MULTICANALIDADE_3,	BASE_MULTICANALIDADE_4,	BASE_MULTICANALIDADE_5,	BASE_MULTICANALIDADE_6,	BASE_MULTICANALIDADE_7,	BASE_MULTICANALIDADE_8,	BASE_MULTICANALIDADE_9,	BASE_MULTICANALIDADE_10,	BASE_MULTICANALIDADE_11,	BASE_MULTICANALIDADE_12,	BASE_MULTICANALIDADE_13,	BASE_MULTICANALIDADE_14,	BASE_MULTICANALIDADE_15,	BASE_MULTICANALIDADE_16,	BASE_MULTICANALIDADE_17,	BASE_MULTICANALIDADE_18,	BASE_MULTICANALIDADE_19,	BASE_MULTICANALIDADE_20,	BASE_MULTICANALIDADE_21,	BASE_MULTICANALIDADE_22,	BASE_MULTICANALIDADE_23,	BASE_MULTICANALIDADE_24,	BASE_MULTICANALIDADE_25,	BASE_MULTICANALIDADE_26,	BASE_MULTICANALIDADE_27,	BASE_MULTICANALIDADE_28,	BASE_MULTICANALIDADE_29,	BASE_MULTICANALIDADE_30,	BASE_MULTICANALIDADE_31,	BASE_MULTICANALIDADE_32,	BASE_MULTICANALIDADE_33,	BASE_MULTICANALIDADE_34,	BASE_MULTICANALIDADE_35,	BASE_MULTICANALIDADE_36,	BASE_MULTICANALIDADE_37,	BASE_MULTICANALIDADE_38,	BASE_MULTICANALIDADE_39,	BASE_MULTICANALIDADE_40,	BASE_MULTICANALIDADE_41,	BASE_MULTICANALIDADE_42]
MULTICANALIDADE = pd.concat(MULTICANALIDADE)
print('DONE MULTICANALIDADE')

VV_BASE_1 = [B2C,NOIVO,CONVIDADO,MARKETPLACE,MISTO,MULTICANALIDADE]
VV_BASE_1 = pd.concat(VV_BASE_1)
print('DONE ALL')

DONE B2C
DONE NOIVO
DONE CONVIDADO
DONE MARKETPLACE
DONE MISTO
DONE MULTICANALIDADE
FIM DA SEPARACAO DOS QUESTIONARIOS
DONE CONCATENATING B2C
DONE CONCATENATING NOIVO
DONE CONVIDADO
DONE MARKETPLACE
DONE MISTO
DONE MULTICANALIDADE
DONE ALL

# Appending Historic Information

In [9]:
BASE_LY['ID_QUESTIONARIO'] = BASE_LY['ID_SEGMENTO']
VV_BASE_1.columns = [x.upper() for x in VV_BASE_1.columns]
BASE_LY.columns = [x.upper() for x in BASE_LY.columns]
VV_BASE_2 = VV_BASE_1.append(BASE_LY)
VV_BASE_2

,ANO,ATRIBUTO,BANDEIRA,BANDEIRA_NUM_PEDIDO,DATA_ENTREVISTA,DATE_ID,DEPTO,DIMENSAO,DS_TIPO_ENTREGA,FLAG_PERIODO,...,METODOLOGIA,NOME_SEGMENTO,NR_LOJISTA,QUESTIONARIO,RESPID,SETOR,SEXO,TIPO_ENTREGA,UF,VALOR
0,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,136827912CB,01/18,16/01/2018,Eletroport?teis,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,107679,Liquidificadores,F,CLIENTE,SP,10
1,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,137014888EX,01/18,24/01/2018,Brinquedos,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,132293,Bonecos,M,CLIENTE,SP,10
2,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,129932020EX,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,2239,0,None,CLIENTE,0,10
3,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,130931636CB,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,3573,0,None,CLIENTE,0,9
4,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,137630117CB,01/18,27/01/2018,Eletrodom?sticos,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,140905,Refrigeradores,F,CLIENTE,PR,8
5,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,135725324EX,01/18,19/01/2018,Telefones e Celulares,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,121206,Smartphones Desbloqueados,M,CLIENTE,SE,10
6,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,136480707EX,01/18,18/01/2018,Telefones e Celulares,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,118936,Smartphones Desbloqueados,M,CLIENTE,BA,8
7,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,137063734CB,01/18,18/01/2018,M??veis,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,116289,Cozinha,M,CLIENTE,SP,4
8,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,136986293CB,01/18,29/01/2018,Eletrodom?sticos,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,147698,Lavadoras,F,CLIENTE,BA,10
9,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,137670521CB,01/18,29/01/2018,Eletroport?teis,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,147090,Aspirador de P?,M,CLIENTE,SC,7
10,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,134490977EX,01/18,18/01/2018,Beb?s,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,118352,Higiene e Banho,M,CLIENTE,SP,8
11,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,136669425EX,01/18,28/01/2018,Telefones e Celulares,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,143933,Smartphones Desbloqueados,M,CLIENTE,MG,10
12,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,137923559PF,01/18,28/01/2018,Telefones e Celulares,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,143790,Smartphones Desbloqueados,F,CLIENTE,SP,10
13,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,136140908CB,01/18,25/01/2018,Decora??o,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,136287,"Cortinas, persianas e var?es",M,CLIENTE,ES,9
14,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,137265259CB,01/18,16/01/2018,Eletrodom?sticos,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,107063,Lava-Lou?as,M,CLIENTE,PR,10
15,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,137104227CB,01/18,16/01/2018,Telefones e Celulares,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,108902,Smartphones Desbloqueados,M,CLIENTE,GO,9
16,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,137290568PF,01/18,27/01/2018,Eletrodom?sticos,NPS,Normal,CY,...,NaN,B2C,NaN,B2C,143314,Fog?es,F,CLIENTE,DF,10
17,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,136202250EX,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,71330,0,None,CLIENTE,0,8
18,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,134578443PF,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,30663,0,None,CLIENTE,0,7
19,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,134875981CB,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,28295,0,None,CLIENTE,0,10
20,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,134713875CB,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,58065,0,None,CLIENTE,0,10
21,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,135495416PF,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,58797,0,None,CLIENTE,0,2
22,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,134791399CB,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,28407,0,None,CLIENTE,0,10
23,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,130494697CB,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,9009,0,None,CLIENTE,0,9
24,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,130794574PF,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,10254,0,None,CLIENTE,0,10
25,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,132450945PF,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,35773,0,None,CLIENTE,0,10
26,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,131061272PF,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,6891,0,None,CLIENTE,0,10
27,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,134934858CB,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,53897,0,None,CLIENTE,0,7
28,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,131377783CB,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,7587,0,None,CLIENTE,0,10
29,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,130822765CB,/,0,0,NPS,0,CY,...,NaN,B2C,NaN,B2C,4679,0,None,CLIENTE,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540221,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540222,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540223,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540224,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540225,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540226,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540227,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540228,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540229,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540230,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540231,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540232,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540233,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540234,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540235,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540236,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540237,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540238,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540239,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540240,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540241,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540242,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540243,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540244,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540245,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540246,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540247,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540248,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540249,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10
540250,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,None,NaN,None,B2C,NaN,None,None,NaN,None,10

<b><h1>ADDING RANKS PER ATRIBUTES</b></h1>

In [10]:
VV_BASE_FULL = pd.merge(VV_BASE_2, RANKS, how='left', left_on=['BANDEIRA','QUESTIONARIO','DIMENSAO','ATRIBUTO'],right_on=['BANDEIRA','SEGMENTO','DIMENSAO','ATRIBUTO'])
VV_BASE_FULL

,ANO,ATRIBUTO,BANDEIRA,BANDEIRA_NUM_PEDIDO,DATA_ENTREVISTA,DATE_ID,DEPTO,DIMENSAO,DS_TIPO_ENTREGA,FLAG_PERIODO,...,NR_LOJISTA,QUESTIONARIO,RESPID,SETOR,SEXO,TIPO_ENTREGA,UF,VALOR,RANK,SEGMENTO
0,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,136827912CB,01/18,16/01/2018,Eletroport?teis,NPS,Normal,CY,...,NaN,B2C,107679,Liquidificadores,F,CLIENTE,SP,10,NaN,NaN
1,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,137014888EX,01/18,24/01/2018,Brinquedos,NPS,Normal,CY,...,NaN,B2C,132293,Bonecos,M,CLIENTE,SP,10,NaN,NaN
2,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,129932020EX,/,0,0,NPS,0,CY,...,NaN,B2C,2239,0,None,CLIENTE,0,10,NaN,NaN
3,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,130931636CB,/,0,0,NPS,0,CY,...,NaN,B2C,3573,0,None,CLIENTE,0,9,NaN,NaN
4,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,137630117CB,01/18,27/01/2018,Eletrodom?sticos,NPS,Normal,CY,...,NaN,B2C,140905,Refrigeradores,F,CLIENTE,PR,8,NaN,NaN
5,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,135725324EX,01/18,19/01/2018,Telefones e Celulares,NPS,Normal,CY,...,NaN,B2C,121206,Smartphones Desbloqueados,M,CLIENTE,SE,10,NaN,NaN
6,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,136480707EX,01/18,18/01/2018,Telefones e Celulares,NPS,Normal,CY,...,NaN,B2C,118936,Smartphones Desbloqueados,M,CLIENTE,BA,8,NaN,NaN
7,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,137063734CB,01/18,18/01/2018,M??veis,NPS,Normal,CY,...,NaN,B2C,116289,Cozinha,M,CLIENTE,SP,4,NaN,NaN
8,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,136986293CB,01/18,29/01/2018,Eletrodom?sticos,NPS,Normal,CY,...,NaN,B2C,147698,Lavadoras,F,CLIENTE,BA,10,NaN,NaN
9,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,137670521CB,01/18,29/01/2018,Eletroport?teis,NPS,Normal,CY,...,NaN,B2C,147090,Aspirador de P?,M,CLIENTE,SC,7,NaN,NaN
10,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,134490977EX,01/18,18/01/2018,Beb?s,NPS,Normal,CY,...,NaN,B2C,118352,Higiene e Banho,M,CLIENTE,SP,8,NaN,NaN
11,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,136669425EX,01/18,28/01/2018,Telefones e Celulares,NPS,Normal,CY,...,NaN,B2C,143933,Smartphones Desbloqueados,M,CLIENTE,MG,10,NaN,NaN
12,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,137923559PF,01/18,28/01/2018,Telefones e Celulares,NPS,Normal,CY,...,NaN,B2C,143790,Smartphones Desbloqueados,F,CLIENTE,SP,10,NaN,NaN
13,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,136140908CB,01/18,25/01/2018,Decora??o,NPS,Normal,CY,...,NaN,B2C,136287,"Cortinas, persianas e var?es",M,CLIENTE,ES,9,NaN,NaN
14,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,137265259CB,01/18,16/01/2018,Eletrodom?sticos,NPS,Normal,CY,...,NaN,B2C,107063,Lava-Lou?as,M,CLIENTE,PR,10,NaN,NaN
15,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,137104227CB,01/18,16/01/2018,Telefones e Celulares,NPS,Normal,CY,...,NaN,B2C,108902,Smartphones Desbloqueados,M,CLIENTE,GO,9,NaN,NaN
16,2018.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,137290568PF,01/18,27/01/2018,Eletrodom?sticos,NPS,Normal,CY,...,NaN,B2C,143314,Fog?es,F,CLIENTE,DF,10,NaN,NaN
17,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",EX,136202250EX,/,0,0,NPS,0,CY,...,NaN,B2C,71330,0,None,CLIENTE,0,8,NaN,NaN
18,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,134578443PF,/,0,0,NPS,0,CY,...,NaN,B2C,30663,0,None,CLIENTE,0,7,NaN,NaN
19,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,134875981CB,/,0,0,NPS,0,CY,...,NaN,B2C,28295,0,None,CLIENTE,0,10,NaN,NaN
20,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,134713875CB,/,0,0,NPS,0,CY,...,NaN,B2C,58065,0,None,CLIENTE,0,10,NaN,NaN
21,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,135495416PF,/,0,0,NPS,0,CY,...,NaN,B2C,58797,0,None,CLIENTE,0,2,NaN,NaN
22,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,134791399CB,/,0,0,NPS,0,CY,...,NaN,B2C,28407,0,None,CLIENTE,0,10,NaN,NaN
23,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,130494697CB,/,0,0,NPS,0,CY,...,NaN,B2C,9009,0,None,CLIENTE,0,9,NaN,NaN
24,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,130794574PF,/,0,0,NPS,0,CY,...,NaN,B2C,10254,0,None,CLIENTE,0,10,NaN,NaN
25,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,132450945PF,/,0,0,NPS,0,CY,...,NaN,B2C,35773,0,None,CLIENTE,0,10,NaN,NaN
26,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,131061272PF,/,0,0,NPS,0,CY,...,NaN,B2C,6891,0,None,CLIENTE,0,10,NaN,NaN
27,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,134934858CB,/,0,0,NPS,0,CY,...,NaN,B2C,53897,0,None,CLIENTE,0,7,NaN,NaN
28,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,131377783CB,/,0,0,NPS,0,CY,...,NaN,B2C,7587,0,None,CLIENTE,0,10,NaN,NaN
29,NaN,"Em uma escala de 0 a 10, o quanto voce recomen...",CB,130822765CB,/,0,0,NPS,0,CY,...,NaN,B2C,4679,0,None,CLIENTE,0,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3758135,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758136,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758137,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758138,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758139,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758140,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758141,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758142,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758143,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758144,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758145,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758146,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758147,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758148,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758149,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758150,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758151,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758152,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758153,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758154,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758155,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758156,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758157,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758158,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758159,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758160,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758161,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758162,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,01/17,01/01/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758163,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,11/17,01/11/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN
3758164,2017.0,"Em uma escala de 0 a 10, o quanto voce recomen...",PF,NaN,04/17,01/04/2017,None,NPS,None,None,...,NaN,B2C,NaN,None,None,NaN,None,10,NaN,NaN

<b><h1>UPLOADING TO EXADATA</b></h1>

In [ ]:
dtype2={
'RANK' : sa.NVARCHAR(length=255) ,
'questionario' : sa.NVARCHAR(length=255) ,
'dimensao' : sa.NVARCHAR(length=255) ,
'atributo' : sa.NVARCHAR(length=255) ,
'id_questionario' : sa.FLOAT ,
'respstatus' : sa.FLOAT ,
'capture_link' : sa.FLOAT ,
'id_bandeira' : sa.FLOAT ,
'id_segmento' : sa.FLOAT ,
'id_entrega' : sa.FLOAT ,
'tipo_lista' : sa.NVARCHAR(length=255) ,
'question_quota' : sa.FLOAT ,
'bandeira' : sa.NVARCHAR(length=255) ,
'flag_periodo' : sa.NVARCHAR(length=255) ,
'num_pedido' : sa.FLOAT ,
'bandeira_num_pedido' : sa.NVARCHAR(length=255) ,
'nome_segmento' : sa.NVARCHAR(length=255) ,
'tipo_entrega' : sa.NVARCHAR(length=255) ,
'date_id' : sa.NVARCHAR(length=255) ,
'data_entrevista' : sa.NVARCHAR(length=255) ,
'ano' : sa.NVARCHAR(length=255), 
'mes' : sa.NVARCHAR(length=255),
'mesano' : sa.NVARCHAR(length=255),
'num_cliente' : sa.FLOAT ,
'id_cliente' : sa.FLOAT ,
'ent' : sa.NVARCHAR(length=255) ,
'data_pedido' : sa.NVARCHAR(length=255) ,
'n_entrega' : sa.FLOAT ,
'num_lojista' : sa.FLOAT ,
'lojista' : sa.NVARCHAR(length=255) ,
'ponto_controle': sa.NVARCHAR(length=255),
'data_ponto' : sa.NVARCHAR(length=255), 
'sexo' : sa.NVARCHAR(length=255), 
'idade' : sa.INTEGER, 
'uf' : sa.NVARCHAR(length=255), 
'depto' : sa.NVARCHAR(length=255), 
'setor' : sa.NVARCHAR(length=255), 
'valor_pedido' : sa.FLOAT,
'qtd_produtos' :sa.FLOAT,
'valor' : sa.FLOAT,
'isc' : sa.FLOAT}

VV_BASE_FULL = VV_BASE_FULL.fillna(0)

# df1 = df.replace(np.nan, '', regex=True)

# VV_BASE_FULL['BANDEIRA'] = VV_BASE_FULL['BANDEIRA_x']

# del(VV_BASE_FULL['BANDEIRA_y'])
# del(VV_BASE_FULL['DIMENSAO'])
# del(VV_BASE_FULL['ATRIBUTO'])
# del(VV_BASE_FULL['ID_SEGMENTO'])
# VV_BASE_FULL['valor_pedido']=VV_BASE_FULL['valor_pedido'].apply(lambda x: x.replace(',','.'))
VV_BASE_FULL['VALOR'] =(VV_BASE_FULL['VALOR']).astype('float')
VV_BASE_FULL['IDADE'] =(VV_BASE_FULL['IDADE']).astype('str')

for column_name, column in VV_BASE_FULL.transpose().iterrows():
    print column_name
    print(VV_BASE_FULL[column_name])
    VV_BASE_FULL[column_name] = VV_BASE_FULL[column_name].astype('str')
    

VV_BASE_FULL.to_sql('vv_base_dash',engine_OUT,schema=None,if_exists='replace', chunksize=500, index=False,dtype={col_name: NVARCHAR(255) for col_name in VV_BASE_FULL})

VV_BASE_FULL

ANO
0          2018.0
1          2018.0
2             0.0
3             0.0
4          2018.0
5          2018.0
6          2018.0
7          2018.0
8          2018.0
9          2018.0
10         2018.0
11         2018.0
12         2018.0
13         2018.0
14         2018.0
15         2018.0
16         2018.0
17            0.0
18            0.0
19            0.0
20            0.0
21            0.0
22            0.0
23            0.0
24            0.0
25            0.0
26            0.0
27            0.0
28            0.0
29            0.0
            ...
3758135    2017.0
3758136    2017.0
3758137    2017.0
3758138    2017.0
3758139    2017.0
3758140    2017.0
3758141    2017.0
3758142    2017.0
3758143    2017.0
3758144    2017.0
3758145    2017.0
3758146    2017.0
3758147    2017.0
3758148    2017.0
3758149    2017.0
3758150    2017.0
3758151    2017.0
3758152    2017.0
3758153    2017.0
3758154    2017.0
3758155    2017.0
3758156    2017.0
3758157    2017.0
3758158    2017.0
3758159    2017.0
3758160    2017.0
3758161    2017.0
3758162    2017.0
3758163    2017.0
3758164    2017.0
Name: ANO, Length: 3758165, dtype: object
ATRIBUTO
0          Em uma escala de 0 a 10, o quanto voce recomen...
1          Em uma escala de 0 a 10, o quanto voce recomen...
2          Em uma escala de 0 a 10, o quanto voce recomen...
3          Em uma escala de 0 a 10, o quanto voce recomen...
4          Em uma escala de 0 a 10, o quanto voce recomen...
5          Em uma escala de 0 a 10, o quanto voce recomen...
6          Em uma escala de 0 a 10, o quanto voce recomen...
7          Em uma escala de 0 a 10, o quanto voce recomen...
8          Em uma escala de 0 a 10, o quanto voce recomen...
9          Em uma escala de 0 a 10, o quanto voce recomen...
10         Em uma escala de 0 a 10, o quanto voce recomen...
11         Em uma escala de 0 a 10, o quanto voce recomen...
12         Em uma escala de 0 a 10, o quanto voce recomen...
13         Em uma escala de 0 a 10, o quanto voce recomen...
14         Em uma escala de 0 a 10, o quanto voce recomen...
15         Em uma escala de 0 a 10, o quanto voce recomen...
16         Em uma escala de 0 a 10, o quanto voce recomen...
17         Em uma escala de 0 a 10, o quanto voce recomen...
18         Em uma escala de 0 a 10, o quanto voce recomen...
19         Em uma escala de 0 a 10, o quanto voce recomen...
20         Em uma escala de 0 a 10, o quanto voce recomen...
21         Em uma escala de 0 a 10, o quanto voce recomen...
22         Em uma escala de 0 a 10, o quanto voce recomen...
23         Em uma escala de 0 a 10, o quanto voce recomen...
24         Em uma escala de 0 a 10, o quanto voce recomen...
25         Em uma escala de 0 a 10, o quanto voce recomen...
26         Em uma escala de 0 a 10, o quanto voce recomen...
27         Em uma escala de 0 a 10, o quanto voce recomen...
28         Em uma escala de 0 a 10, o quanto voce recomen...
29         Em uma escala de 0 a 10, o quanto voce recomen...
                                 ...
3758135    Em uma escala de 0 a 10, o quanto voce recomen...
3758136    Em uma escala de 0 a 10, o quanto voce recomen...
3758137    Em uma escala de 0 a 10, o quanto voce recomen...
3758138    Em uma escala de 0 a 10, o quanto voce recomen...
3758139    Em uma escala de 0 a 10, o quanto voce recomen...
3758140    Em uma escala de 0 a 10, o quanto voce recomen...
3758141    Em uma escala de 0 a 10, o quanto voce recomen...
3758142    Em uma escala de 0 a 10, o quanto voce recomen...
3758143    Em uma escala de 0 a 10, o quanto voce recomen...
3758144    Em uma escala de 0 a 10, o quanto voce recomen...
3758145    Em uma escala de 0 a 10, o quanto voce recomen...
3758146    Em uma escala de 0 a 10, o quanto voce recomen...
3758147    Em uma escala de 0 a 10, o quanto voce recomen...
3758148    Em uma escala de 0 a 10, o quanto voce recomen...
3758149    Em uma escala de 0 a 10, o quanto voce recomen...
3758150    Em uma escala de 0 a 10, o quanto voce recomen...
3758151    Em uma escala de 0 a 10, o quanto voce recomen...
3758152    Em uma escala de 0 a 10, o quanto voce recomen...
3758153    Em uma escala de 0 a 10, o quanto voce recomen...
3758154    Em uma escala de 0 a 10, o quanto voce recomen...
3758155    Em uma escala de 0 a 10, o quanto voce recomen...
3758156    Em uma escala de 0 a 10, o quanto voce recomen...
3758157    Em uma escala de 0 a 10, o quanto voce recomen...
3758158    Em uma escala de 0 a 10, o quanto voce recomen...
3758159    Em uma escala de 0 a 10, o quanto voce recomen...
3758160    Em uma escala de 0 a 10, o quanto voce recomen...
3758161    Em uma escala de 0 a 10, o quanto voce recomen...
3758162    Em uma escala de 0 a 10, o quanto voce recomen...
3758163    Em uma escala de 0 a 10, o quanto voce recomen...
3758164    Em uma escala de 0 a 10, o quanto voce recomen...
Name: ATRIBUTO, Length: 3758165, dtype: object
BANDEIRA
0          CB
1          EX
2          EX
3          CB
4          CB
5          EX
6          EX
7          CB
8          CB
9          CB
10         EX
11         EX
12         PF
13         CB
14         CB
15         CB
16         PF
17         EX
18         PF
19         CB
20         CB
21         PF
22         CB
23         CB
24         PF
25         PF
26         PF
27         CB
28         CB
29         CB
           ..
3758135    PF
3758136    PF
3758137    PF
3758138    PF
3758139    PF
3758140    PF
3758141    PF
3758142    PF
3758143    PF
3758144    PF
3758145    PF
3758146    PF
3758147    PF
3758148    PF
3758149    PF
3758150    PF
3758151    PF
3758152    PF
3758153    PF
3758154    PF
3758155    PF
3758156    PF
3758157    PF
3758158    PF
3758159    PF
3758160    PF
3758161    PF
3758162    PF
3758163    PF
3758164    PF
Name: BANDEIRA, Length: 3758165, dtype: object
BANDEIRA_NUM_PEDIDO
0          136827912CB
1          137014888EX
2          129932020EX
3          130931636CB
4          137630117CB
5          135725324EX
6          136480707EX
7          137063734CB
8          136986293CB
9          137670521CB
10         134490977EX
11         136669425EX
12         137923559PF
13         136140908CB
14         137265259CB
15         137104227CB
16         137290568PF
17         136202250EX
18         134578443PF
19         134875981CB
20         134713875CB
21         135495416PF
22         134791399CB
23         130494697CB
24         130794574PF
25         132450945PF
26         131061272PF
27         134934858CB
28         131377783CB
29         130822765CB
              ...
3758135              0
3758136              0
3758137              0
3758138              0
3758139              0
3758140              0
3758141              0
3758142              0
3758143              0
3758144              0
3758145              0
3758146              0
3758147              0
3758148              0
3758149              0
3758150              0
3758151              0
3758152              0
3758153              0
3758154              0
3758155              0
3758156              0
3758157              0
3758158              0
3758159              0
3758160              0
3758161              0
3758162              0
3758163              0
3758164              0
Name: BANDEIRA_NUM_PEDIDO, Length: 3758165, dtype: object
DATA_ENTREVISTA
0          01/18
1          01/18
2              /
3              /
4          01/18
5          01/18
6          01/18
7          01/18
8          01/18
9          01/18
10         01/18
11         01/18
12         01/18
13         01/18
14         01/18
15         01/18
16         01/18
17             /
18             /
19             /
20             /
21             /
22             /
23             /
24             /
25             /
26             /
27             /
28             /
29             /
           ...
3758135    11/17
3758136    04/17
3758137    01/17
3758138    01/17
3758139    11/17
3758140    11/17
3758141    11/17
3758142    01/17
3758143    01/17
3758144    01/17
3758145    01/17
3758146    11/17
3758147    04/17
3758148    01/17
3758149    01/17
3758150    04/17
3758151    01/17
3758152    01/17
3758153    01/17
3758154    01/17
3758155    04/17
3758156    04/17
3758157    01/17
3758158    01/17
3758159    01/17
3758160    01/17
3758161    01/17
3758162    01/17
3758163    11/17
3758164    04/17
Name: DATA_ENTREVISTA, Length: 3758165, dtype: object

DATE_ID
0          16/01/2018
1          24/01/2018
2                   0
3                   0
4          27/01/2018
5          19/01/2018
6          18/01/2018
7          18/01/2018
8          29/01/2018
9          29/01/2018
10         18/01/2018
11         28/01/2018
12         28/01/2018
13         25/01/2018
14         16/01/2018
15         16/01/2018
16         27/01/2018
17                  0
18                  0
19                  0
20                  0
21                  0
22                  0
23                  0
24                  0
25                  0
26                  0
27                  0
28                  0
29                  0
              ...
3758135    01/11/2017
3758136    01/04/2017
3758137    01/01/2017
3758138    01/01/2017
3758139    01/11/2017
3758140    01/11/2017
3758141    01/11/2017
3758142    01/01/2017
3758143    01/01/2017
3758144    01/01/2017
3758145    01/01/2017
3758146    01/11/2017
3758147    01/04/2017
3758148    01/01/2017
3758149    01/01/2017
3758150    01/04/2017
3758151    01/01/2017
3758152    01/01/2017
3758153    01/01/2017
3758154    01/01/2017
3758155    01/04/2017
3758156    01/04/2017
3758157    01/01/2017
3758158    01/01/2017
3758159    01/01/2017
3758160    01/01/2017
3758161    01/01/2017
3758162    01/01/2017
3758163    01/11/2017
3758164    01/04/2017
Name: DATE_ID, Length: 3758165, dtype: object
DEPTO
0                Eletroport?teis
1                     Brinquedos
2                              0
3                              0
4               Eletrodom?sticos
5          Telefones e Celulares
6          Telefones e Celulares
7                        M??veis
8               Eletrodom?sticos
9                Eletroport?teis
10                         Beb?s
11         Telefones e Celulares
12         Telefones e Celulares
13                     Decora??o
14              Eletrodom?sticos
15         Telefones e Celulares
16              Eletrodom?sticos
17                             0
18                             0
19                             0
20                             0
21                             0
22                             0
23                             0
24                             0
25                             0
26                             0
27                             0
28                             0
29                             0
                   ...
3758135                        0
3758136                        0
3758137                        0
3758138                        0
3758139                        0
3758140                        0
3758141                        0
3758142                        0
3758143                        0
3758144                        0
3758145                        0
3758146                        0
3758147                        0
3758148                        0
3758149                        0
3758150                        0
3758151                        0
3758152                        0
3758153                        0
3758154                        0
3758155                        0
3758156                        0
3758157                        0
3758158                        0
3758159                        0
3758160                        0
3758161                        0
3758162                        0
3758163                        0
3758164                        0
Name: DEPTO, Length: 3758165, dtype: object
DIMENSAO
0          NPS
1          NPS
2          NPS
3          NPS
4          NPS
5          NPS
6          NPS
7          NPS
8          NPS
9          NPS
10         NPS
11         NPS
12         NPS
13         NPS
14         NPS
15         NPS
16         NPS
17         NPS
18         NPS
19         NPS
20         NPS
21         NPS
22         NPS
23         NPS
24         NPS
25         NPS
26         NPS
27         NPS
28         NPS
29         NPS
          ...
3758135    NPS
3758136    NPS
3758137    NPS
3758138    NPS
3758139    NPS
3758140    NPS
3758141    NPS
3758142    NPS
3758143    NPS
3758144    NPS
3758145    NPS
3758146    NPS
3758147    NPS
3758148    NPS
3758149    NPS
3758150    NPS
3758151    NPS
3758152    NPS
3758153    NPS
3758154    NPS
3758155    NPS
3758156    NPS
3758157    NPS
3758158    NPS
3758159    NPS
3758160    NPS
3758161    NPS
3758162    NPS
3758163    NPS
3758164    NPS
Name: DIMENSAO, Length: 3758165, dtype: object
DS_TIPO_ENTREGA
0          Normal
1          Normal
2               0
3               0
4          Normal
5          Normal
6          Normal
7          Normal
8          Normal
9          Normal
10         Normal
11         Normal
12         Normal
13         Normal
14         Normal
15         Normal
16         Normal
17              0
18              0
19              0
20              0
21              0
22              0
23              0
24              0
25              0
26              0
27              0
28              0
29              0
            ...
3758135         0
3758136         0
3758137         0
3758138         0
3758139         0
3758140         0
3758141         0
3758142         0
3758143         0
3758144         0
3758145         0
3758146         0
3758147         0
3758148         0
3758149         0
3758150         0
3758151         0
3758152         0
3758153         0
3758154         0
3758155         0
3758156         0
3758157         0
3758158         0
3758159         0
3758160         0
3758161         0
3758162         0
3758163         0
3758164         0
Name: DS_TIPO_ENTREGA, Length: 3758165, dtype: object
FLAG_PERIODO
0          CY
1          CY
2          CY
3          CY
4          CY
5          CY
6          CY
7          CY
8          CY
9          CY
10         CY
11         CY
12         CY
13         CY
14         CY
15         CY
16         CY
17         CY
18         CY
19         CY
20         CY
21         CY
22         CY
23         CY
24         CY
25         CY
26         CY
27         CY
28         CY
29         CY
           ..
3758135     0
3758136     0
3758137     0
3758138     0
3758139     0
3758140     0
3758141     0
3758142     0
3758143     0
3758144     0
3758145     0
3758146     0
3758147     0
3758148     0
3758149     0
3758150     0
3758151     0
3758152     0
3758153     0
3758154     0
3758155     0
3758156     0
3758157     0
3758158     0
3758159     0
3758160     0
3758161     0
3758162     0
3758163     0
3758164     0
Name: FLAG_PERIODO, Length: 3758165, dtype: object
IDADE
0          46 - 55
1          25 - 35
2                0
3                0
4          46 - 55
5                0
6          25 - 35
7          36 - 45
8          25 - 35
9          25 - 35
10         25 - 35
11         36 - 45
12         46 - 55
13         56 - 65
14         36 - 45
15         25 - 35
16         36 - 45
17               0
18               0
19               0
20               0
21               0
22               0
23               0
24               0
25               0
26               0
27               0
28               0
29               0
            ...
3758135          0
3758136          0
3758137          0
3758138          0
3758139          0
3758140          0
3758141          0
3758142          0
3758143          0
3758144          0
3758145          0
3758146          0
3758147          0
3758148          0
3758149          0
3758150          0
3758151          0
3758152          0
3758153          0
3758154          0
3758155          0
3758156          0
3758157          0
3758158          0
3758159          0
3758160          0
3758161          0
3758162          0
3758163          0
3758164          0
Name: IDADE, Length: 3758165, dtype: object
ID_BANDEIRA
0          1
1          3
2          3
3          1
4          1
5          3
6          3
7          1
8          1
9          1
10         3
11         3
12         2
13         1
14         1
15         1
16         2
17         3
18         2
19         1
20         1
21         2
22         1
23         1
24         2
25         2
26         2
27         1
28         1
29         1
          ..
3758135    0
3758136    0
3758137    0
3758138    0
3758139    0
3758140    0
3758141    0
3758142    0
3758143    0
3758144    0
3758145    0
3758146    0
3758147    0
3758148    0
3758149    0
3758150    0
3758151    0
3758152    0
3758153    0
3758154    0
3758155    0
3758156    0
3758157    0
3758158    0
3758159    0
3758160    0
3758161    0
3758162    0
3758163    0
3758164    0
Name: ID_BANDEIRA, Length: 3758165, dtype: object

ID_COMPRA
0                  0
1                  0
2                  0
3                  0
4                  0
5                  0
6                  0
7                  0
8                  0
9                  0
10                 0
11                 0
12                 0
13                 0
14                 0
15                 0
16                 0
17                 0
18                 0
19                 0
20                 0
21                 0
22                 0
23                 0
24                 0
25                 0
26                 0
27                 0
28                 0
29                 0
             ...
3758135    106942508
3758136    106942306
3758137    106942235
3758138    106942235
3758139    106942480
3758140    106942506
3758141    106942452
3758142    106942198
3758143    106942198
3758144    106942240
3758145    106942240
3758146    106942460
3758147    106942274
3758148    106942199
3758149    106942199
3758150    106942328
3758151    106942213
3758152    106942213
3758153    106942200
3758154    106942200
3758155    106942254
3758156    106942386
3758157    106942229
3758158    106942229
3758159    106942238
3758160    106942238
3758161    106942215
3758162    106942215
3758163    106942476
3758164    106942304
Name: ID_COMPRA, Length: 3758165, dtype: object
ID_ENTREGA
0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
3758135    0
3758136    0
3758137    0
3758138    0
3758139    0
3758140    0
3758141    0
3758142    0
3758143    0
3758144    0
3758145    0
3758146    0
3758147    0
3758148    0
3758149    0
3758150    0
3758151    0
3758152    0
3758153    0
3758154    0
3758155    0
3758156    0
3758157    0
3758158    0
3758159    0
3758160    0
3758161    0
3758162    0
3758163    0
3758164    0
Name: ID_ENTREGA, Length: 3758165, dtype: object
ID_QUESTIONARIO
0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
3758135    1
3758136    1
3758137    1
3758138    1
3758139    1
3758140    1
3758141    1
3758142    1
3758143    1
3758144    1
3758145    1
3758146    1
3758147    1
3758148    1
3758149    1
3758150    1
3758151    1
3758152    1
3758153    1
3758154    1
3758155    1
3758156    1
3758157    1
3758158    1
3758159    1
3758160    1
3758161    1
3758162    1
3758163    1
3758164    1
Name: ID_QUESTIONARIO, Length: 3758165, dtype: object
ID_SEGMENTO
0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
3758135    1
3758136    1
3758137    1
3758138    1
3758139    1
3758140    1
3758141    1
3758142    1
3758143    1
3758144    1
3758145    1
3758146    1
3758147    1
3758148    1
3758149    1
3758150    1
3758151    1
3758152    1
3758153    1
3758154    1
3758155    1
3758156    1
3758157    1
3758158    1
3758159    1
3758160    1
3758161    1
3758162    1
3758163    1
3758164    1
Name: ID_SEGMENTO, Length: 3758165, dtype: object
ISC
0                  100.0
1                  100.0
2                  100.0
3          93.8415332599
4          88.4336434548
5          90.5757677096
6          82.3780064952
7          73.7875756966
8          94.4932326646
9          81.6229813842
10         94.2988315128
11                 100.0
12         93.9217502966
13         90.6582319152
14         89.9234300123
15         81.3916254222
16          99.407576642
17          89.192718711
18         60.8306013311
19                 100.0
20         98.9909575758
21         51.9383470237
22          95.005087571
23         66.6432445977
24         98.7686783572
25         97.2172975227
26         98.5273217332
27         97.5268921629
28         89.7832377117
29         76.1698071497
               ...
3758135              0.0
3758136              0.0
3758137              0.0
3758138              0.0
3758139              0.0
3758140              0.0
3758141              0.0
3758142              0.0
3758143              0.0
3758144              0.0
3758145              0.0
3758146              0.0
3758147              0.0
3758148              0.0
3758149              0.0
3758150              0.0
3758151              0.0
3758152              0.0
3758153              0.0
3758154              0.0
3758155              0.0
3758156              0.0
3758157              0.0
3758158              0.0
3758159              0.0
3758160              0.0
3758161              0.0
3758162              0.0
3758163              0.0
3758164              0.0
Name: ISC, Length: 3758165, dtype: object
LOJISTA
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
3758135    0
3758136    0
3758137    0
3758138    0
3758139    0
3758140    0
3758141    0
3758142    0
3758143    0
3758144    0
3758145    0
3758146    0
3758147    0
3758148    0
3758149    0
3758150    0
3758151    0
3758152    0
3758153    0
3758154    0
3758155    0
3758156    0
3758157    0
3758158    0
3758159    0
3758160    0
3758161    0
3758162    0
3758163    0
3758164    0
Name: LOJISTA, Length: 3758165, dtype: object
METODOLOGIA
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
3758135    0
3758136    0
3758137    0
3758138    0
3758139    0
3758140    0
3758141    0
3758142    0
3758143    0
3758144    0
3758145    0
3758146    0
3758147    0
3758148    0
3758149    0
3758150    0
3758151    0
3758152    0
3758153    0
3758154    0
3758155    0
3758156    0
3758157    0
3758158    0
3758159    0
3758160    0
3758161    0
3758162    0
3758163    0
3758164    0
Name: METODOLOGIA, Length: 3758165, dtype: object
NOME_SEGMENTO
0          B2C
1          B2C
2          B2C
3          B2C
4          B2C
5          B2C
6          B2C
7          B2C
8          B2C
9          B2C
10         B2C
11         B2C
12         B2C
13         B2C
14         B2C
15         B2C
16         B2C
17         B2C
18         B2C
19         B2C
20         B2C
21         B2C
22         B2C
23         B2C
24         B2C
25         B2C
26         B2C
27         B2C
28         B2C
29         B2C
          ...
3758135      0
3758136      0
3758137      0
3758138      0
3758139      0
3758140      0
3758141      0
3758142      0
3758143      0
3758144      0
3758145      0
3758146      0
3758147      0
3758148      0
3758149      0
3758150      0
3758151      0
3758152      0
3758153      0
3758154      0
3758155      0
3758156      0
3758157      0
3758158      0
3758159      0
3758160      0
3758161      0
3758162      0
3758163      0
3758164      0
Name: NOME_SEGMENTO, Length: 3758165, dtype: object
NR_LOJISTA
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
3758135    0
3758136    0
3758137    0
3758138    0
3758139    0
3758140    0
3758141    0
3758142    0
3758143    0
3758144    0
3758145    0
3758146    0
3758147    0
3758148    0
3758149    0
3758150    0
3758151    0
3758152    0
3758153    0
3758154    0
3758155    0
3758156    0
3758157    0
3758158    0
3758159    0
3758160    0
3758161    0
3758162    0
3758163    0
3758164    0
Name: NR_LOJISTA, Length: 3758165, dtype: object

QUESTIONARIO
0          B2C
1          B2C
2          B2C
3          B2C
4          B2C
5          B2C
6          B2C
7          B2C
8          B2C
9          B2C
10         B2C
11         B2C
12         B2C
13         B2C
14         B2C
15         B2C
16         B2C
17         B2C
18         B2C
19         B2C
20         B2C
21         B2C
22         B2C
23         B2C
24         B2C
25         B2C
26         B2C
27         B2C
28         B2C
29         B2C
          ...
3758135    B2C
3758136    B2C
3758137    B2C
3758138    B2C
3758139    B2C
3758140    B2C
3758141    B2C
3758142    B2C
3758143    B2C
3758144    B2C
3758145    B2C
3758146    B2C
3758147    B2C
3758148    B2C
3758149    B2C
3758150    B2C
3758151    B2C
3758152    B2C
3758153    B2C
3758154    B2C
3758155    B2C
3758156    B2C
3758157    B2C
3758158    B2C
3758159    B2C
3758160    B2C
3758161    B2C
3758162    B2C
3758163    B2C
3758164    B2C
Name: QUESTIONARIO, Length: 3758165, dtype: object
RESPID
0          107679
1          132293
2            2239
3            3573
4          140905
5          121206
6          118936
7          116289
8          147698
9          147090
10         118352
11         143933
12         143790
13         136287
14         107063
15         108902
16         143314
17          71330
18          30663
19          28295
20          58065
21          58797
22          28407
23           9009
24          10254
25          35773
26           6891
27          53897
28           7587
29           4679
            ...
3758135         0
3758136         0
3758137         0
3758138         0
3758139         0
3758140         0
3758141         0
3758142         0
3758143         0
3758144         0
3758145         0
3758146         0
3758147         0
3758148         0
3758149         0
3758150         0
3758151         0
3758152         0
3758153         0
3758154         0
3758155         0
3758156         0
3758157         0
3758158         0
3758159         0
3758160         0
3758161         0
3758162         0
3758163         0
3758164         0
Name: RESPID, Length: 3758165, dtype: object
SETOR
0                      Liquidificadores
1                               Bonecos
2                                     0
3                                     0
4                        Refrigeradores
5             Smartphones Desbloqueados
6             Smartphones Desbloqueados
7                               Cozinha
8                             Lavadoras
9                       Aspirador de P?
10                      Higiene e Banho
11            Smartphones Desbloqueados
12            Smartphones Desbloqueados
13         Cortinas, persianas e var?es
14                          Lava-Lou?as
15            Smartphones Desbloqueados
16                               Fog?es
17                                    0
18                                    0
19                                    0
20                                    0
21                                    0
22                                    0
23                                    0
24                                    0
25                                    0
26                                    0
27                                    0
28                                    0
29                                    0
                       ...
3758135                               0
3758136                               0
3758137                               0
3758138                               0
3758139                               0
3758140                               0
3758141                               0
3758142                               0
3758143                               0
3758144                               0
3758145                               0
3758146                               0
3758147                               0
3758148                               0
3758149                               0
3758150                               0
3758151                               0
3758152                               0
3758153                               0
3758154                               0
3758155                               0
3758156                               0
3758157                               0
3758158                               0
3758159                               0
3758160                               0
3758161                               0
3758162                               0
3758163                               0
3758164                               0
Name: SETOR, Length: 3758165, dtype: object
SEXO
0          F
1          M
2          0
3          0
4          F
5          M
6          M
7          M
8          F
9          M
10         M
11         M
12         F
13         M
14         M
15         M
16         F
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
3758135    0
3758136    0
3758137    0
3758138    0
3758139    0
3758140    0
3758141    0
3758142    0
3758143    0
3758144    0
3758145    0
3758146    0
3758147    0
3758148    0
3758149    0
3758150    0
3758151    0
3758152    0
3758153    0
3758154    0
3758155    0
3758156    0
3758157    0
3758158    0
3758159    0
3758160    0
3758161    0
3758162    0
3758163    0
3758164    0
Name: SEXO, Length: 3758165, dtype: object
TIPO_ENTREGA
0          CLIENTE
1          CLIENTE
2          CLIENTE
3          CLIENTE
4          CLIENTE
5          CLIENTE
6          CLIENTE
7          CLIENTE
8          CLIENTE
9          CLIENTE
10         CLIENTE
11         CLIENTE
12         CLIENTE
13         CLIENTE
14         CLIENTE
15         CLIENTE
16         CLIENTE
17         CLIENTE
18         CLIENTE
19         CLIENTE
20         CLIENTE
21         CLIENTE
22         CLIENTE
23         CLIENTE
24         CLIENTE
25         CLIENTE
26         CLIENTE
27         CLIENTE
28         CLIENTE
29         CLIENTE
            ...
3758135          0
3758136          0
3758137          0
3758138          0
3758139          0
3758140          0
3758141          0
3758142          0
3758143          0
3758144          0
3758145          0
3758146          0
3758147          0
3758148          0
3758149          0
3758150          0
3758151          0
3758152          0
3758153          0
3758154          0
3758155          0
3758156          0
3758157          0
3758158          0
3758159          0
3758160          0
3758161          0
3758162          0
3758163          0
3758164          0
Name: TIPO_ENTREGA, Length: 3758165, dtype: object
UF
0          SP
1          SP
2           0
3           0
4          PR
5          SE
6          BA
7          SP
8          BA
9          SC
10         SP
11         MG
12         SP
13         ES
14         PR
15         GO
16         DF
17          0
18          0
19          0
20          0
21          0
22          0
23          0
24          0
25          0
26          0
27          0
28          0
29          0
           ..
3758135     0
3758136     0
3758137     0
3758138     0
3758139     0
3758140     0
3758141     0
3758142     0
3758143     0
3758144     0
3758145     0
3758146     0
3758147     0
3758148     0
3758149     0
3758150     0
3758151     0
3758152     0
3758153     0
3758154     0
3758155     0
3758156     0
3758157     0
3758158     0
3758159     0
3758160     0
3758161     0
3758162     0
3758163     0
3758164     0
Name: UF, Length: 3758165, dtype: object
VALOR
0          10.0
1          10.0
2          10.0
3           9.0
4           8.0
5          10.0
6           8.0
7           4.0
8          10.0
9           7.0
10          8.0
11         10.0
12         10.0
13          9.0
14         10.0
15          9.0
16         10.0
17          8.0
18          7.0
19         10.0
20         10.0
21          2.0
22         10.0
23          9.0
24         10.0
25         10.0
26         10.0
27          7.0
28         10.0
29          8.0
           ...
3758135    10.0
3758136    10.0
3758137    10.0
3758138    10.0
3758139    10.0
3758140    10.0
3758141    10.0
3758142    10.0
3758143    10.0
3758144    10.0
3758145    10.0
3758146    10.0
3758147    10.0
3758148    10.0
3758149    10.0
3758150    10.0
3758151    10.0
3758152    10.0
3758153    10.0
3758154    10.0
3758155    10.0
3758156    10.0
3758157    10.0
3758158    10.0
3758159    10.0
3758160    10.0
3758161    10.0
3758162    10.0
3758163    10.0
3758164    10.0
Name: VALOR, Length: 3758165, dtype: float64

RANK
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
5          0.0
6          0.0
7          0.0
8          0.0
9          0.0
10         0.0
11         0.0
12         0.0
13         0.0
14         0.0
15         0.0
16         0.0
17         0.0
18         0.0
19         0.0
20         0.0
21         0.0
22         0.0
23         0.0
24         0.0
25         0.0
26         0.0
27         0.0
28         0.0
29         0.0
          ...
3758135    0.0
3758136    0.0
3758137    0.0
3758138    0.0
3758139    0.0
3758140    0.0
3758141    0.0
3758142    0.0
3758143    0.0
3758144    0.0
3758145    0.0
3758146    0.0
3758147    0.0
3758148    0.0
3758149    0.0
3758150    0.0
3758151    0.0
3758152    0.0
3758153    0.0
3758154    0.0
3758155    0.0
3758156    0.0
3758157    0.0
3758158    0.0
3758159    0.0
3758160    0.0
3758161    0.0
3758162    0.0
3758163    0.0
3758164    0.0
Name: RANK, Length: 3758165, dtype: object
SEGMENTO
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
3758135    0
3758136    0
3758137    0
3758138    0
3758139    0
3758140    0
3758141    0
3758142    0
3758143    0
3758144    0
3758145    0
3758146    0
3758147    0
3758148    0
3758149    0
3758150    0
3758151    0
3758152    0
3758153    0
3758154    0
3758155    0
3758156    0
3758157    0
3758158    0
3758159    0
3758160    0
3758161    0
3758162    0
3758163    0
3758164    0
Name: SEGMENTO, Length: 3758165, dtype: object

/usr/lib64/python2.7/site-packages/sqlalchemy/sql/sqltypes.py:226: SAWarning: Unicode type received non-unicode bind param value 'B2C'. (this warning may be suppressed after 10 occurrences)
  (util.ellipses_string(value),))
/usr/lib64/python2.7/site-packages/sqlalchemy/sql/sqltypes.py:226: SAWarning: Unicode type received non-unicode bind param value '2018.0'. (this warning may be suppressed after 10 occurrences)
  (util.ellipses_string(value),))
/usr/lib64/python2.7/site-packages/sqlalchemy/sql/sqltypes.py:226: SAWarning: Unicode type received non-unicode bind param value '0.0'. (this warning may be suppressed after 10 occurrences)
  (util.ellipses_string(value),))
/usr/lib64/python2.7/site-packages/sqlalchemy/sql/sqltypes.py:226: SAWarning: Unicode type received non-unicode bind param value '1'. (this warning may be suppressed after 10 occurrences)
  (util.ellipses_string(value),))
/usr/lib64/python2.7/site-packages/sqlalchemy/sql/sqltypes.py:226: SAWarning: Unicode type received non-unicode bind param value '100.0'. (this warning may be suppressed after 10 occurrences)
  (util.ellipses_string(value),))
/usr/lib64/python2.7/site-packages/sqlalchemy/sql/sqltypes.py:226: SAWarning: Unicode type received non-unicode bind param value 'Liquidificadores'. (this warning may be suppressed after 10 occurrences)
  (util.ellipses_string(value),))
/usr/lib64/python2.7/site-packages/sqlalchemy/sql/sqltypes.py:226: SAWarning: Unicode type received non-unicode bind param value 'Em uma escala de 0 a 10, ...'. (this warning may be suppressed after 10 occurrences)
  (util.ellipses_string(value),))
/usr/lib64/python2.7/site-packages/sqlalchemy/sql/sqltypes.py:226: SAWarning: Unicode type received non-unicode bind param value 'NPS'. (this warning may be suppressed after 10 occurrences)
  (util.ellipses_string(value),))
/usr/lib64/python2.7/site-packages/sqlalchemy/sql/sqltypes.py:226: SAWarning: Unicode type received non-unicode bind param value 'CY'. (this warning may be suppressed after 10 occurrences)
  (util.ellipses_string(value),))
/usr/lib64/python2.7/site-packages/sqlalchemy/sql/sqltypes.py:226: SAWarning: Unicode type received non-unicode bind param value 'EX'. (this warning may be suppressed after 10 occurrences)
  (util.ellipses_string(value),))

<b><h1>CALCULATING NPS, PROMOTORES AND DETRATORES</b></h1>

In [14]:
COUNT_TOTAL="""
SELECT

RESPID,
QUESTIONARIO,
FLAG_PERIODO,
BANDEIRA,
DATA_ENTREVISTA,
DATE_ID,
ANO,
NOME_SEGMENTO,
SEXO,
IDADE,
UF,
DEPTO,
SETOR,
DS_TIPO_ENTREGA,
METODOLOGIA,
COUNT(VALOR) AS TOTAL

FROM vv_base_dash

WHERE DIMENSAO = 'NPS' AND VALOR IS NOT NULL AND  FLAG_PERIODO IN ('LY','CY') 

GROUP BY
RESPID,
QUESTIONARIO,
FLAG_PERIODO,
BANDEIRA,
DATA_ENTREVISTA,
DATE_ID,
ANO,
NOME_SEGMENTO,
SEXO,
IDADE,
UF,
DEPTO,
SETOR,
DS_TIPO_ENTREGA,
METODOLOGIA
"""

###############################################################################################################################

DETRATORES="""
SELECT
RESPID,
QUESTIONARIO,
FLAG_PERIODO,
BANDEIRA,
DATA_ENTREVISTA,
DATE_ID,
ANO,
NOME_SEGMENTO,
SEXO,
IDADE,
UF,
DEPTO,
SETOR,
DS_TIPO_ENTREGA,
METODOLOGIA,
COUNT(VALOR) AS QTD_DETRATORES

FROM vv_base_dash

WHERE DIMENSAO = 'NPS' AND VALOR IN (0,1,2,3,4,5,6) AND  FLAG_PERIODO IN ('LY','CY')

GROUP BY
RESPID,
QUESTIONARIO,
FLAG_PERIODO,
BANDEIRA,
DATA_ENTREVISTA,
DATE_ID,
ANO,
NOME_SEGMENTO,
SEXO,
IDADE,
UF,
DEPTO,
SETOR,
DS_TIPO_ENTREGA,
METODOLOGIA
"""

##############################################################################################################################

NEUTROS="""
SELECT
RESPID,
QUESTIONARIO,
FLAG_PERIODO,
BANDEIRA,
DATA_ENTREVISTA,
DATE_ID,
ANO,
NOME_SEGMENTO,
SEXO,
IDADE,
UF,
DEPTO,
SETOR,
DS_TIPO_ENTREGA,
METODOLOGIA,
COUNT(VALOR) AS QTD_NEUTROS

FROM vv_base_dash

WHERE DIMENSAO = 'NPS' AND VALOR IN (7,8) AND  FLAG_PERIODO IN ('LY','CY')

GROUP BY
RESPID,
QUESTIONARIO,
FLAG_PERIODO,
BANDEIRA,
DATA_ENTREVISTA,
DATE_ID,
ANO,
NOME_SEGMENTO,
SEXO,
IDADE,
UF,
DEPTO,
SETOR,
DS_TIPO_ENTREGA,
METODOLOGIA
"""

##############################################################################################################################

PROMOTORES="""
SELECT

RESPID,
QUESTIONARIO,
FLAG_PERIODO,
BANDEIRA,
DATA_ENTREVISTA,
DATE_ID,
ANO,
NOME_SEGMENTO,
SEXO,
IDADE,
UF,
DEPTO,
SETOR,
DS_TIPO_ENTREGA,
METODOLOGIA,
COUNT(VALOR) AS QTD_PROMOTORES

FROM vv_base_dash

WHERE DIMENSAO = 'NPS' AND VALOR IN (9,10) AND  FLAG_PERIODO IN ('LY','CY')

GROUP BY

RESPID,
QUESTIONARIO,
FLAG_PERIODO,
BANDEIRA,
DATA_ENTREVISTA,
DATE_ID,
ANO,
NOME_SEGMENTO,
SEXO,
IDADE,
UF,
DEPTO,
SETOR,
DS_TIPO_ENTREGA,
METODOLOGIA
"""
###############################################################################################################################

COUNT_TOTAL = pd.read_sql(COUNT_TOTAL, engine_OUT)
DETRATORES = pd.read_sql(DETRATORES, engine_OUT)
NEUTROS = pd.read_sql(NEUTROS, engine_OUT)
PROMOTORES = pd.read_sql(PROMOTORES, engine_OUT)
# NPS_LY = pd.read_sql(NPS_LY, engine_OUT)
# NPS_LY.columns = map(unicode.lower, NPS_LY.columns)

In [15]:
COUNT_TOTAL

,respid,questionario,flag_periodo,bandeira,data_entrevista,date_id,ano,nome_segmento,sexo,idade,uf,depto,setor,ds_tipo_entrega,metodologia,total
0,64579,B2C,CY,EX,/,0,0.0,B2C,0,0,0,0,0,0,0,1
1,63042,B2C,CY,EX,/,0,0.0,B2C,0,0,0,0,0,0,0,1
2,44446,B2C,CY,CB,/,0,0.0,B2C,0,0,0,0,0,0,0,1
3,59784,B2C,CY,CB,/,0,0.0,B2C,0,0,0,0,0,0,0,1
4,52965,B2C,CY,EX,/,0,0.0,B2C,0,0,0,0,0,0,0,1
5,61970,B2C,CY,PF,/,0,0.0,B2C,0,0,0,0,0,0,0,1
6,229464,B2C,CY,EX,02/18,28/02/2018,2018.0,B2C,0,0,0,Eletroportateis,Cafeteira Filtro,Normal,0,1
7,177887,B2C,CY,EX,02/18,08/02/2018,2018.0,B2C,0,0,0,Eletroportateis,Fritadeiras,Normal,0,1
8,195234,B2C,CY,CB,02/18,15/02/2018,2018.0,B2C,0,0,0,Beleza e Saude,Pranchas (Chapinhas),Normal,0,1
9,199514,B2C,CY,EX,02/18,16/02/2018,2018.0,B2C,0,0,0,Utilidades Domesticas,Panelas,Normal,0,1
10,195936,B2C,CY,EX,02/18,15/02/2018,2018.0,B2C,0,0,0,Esporte e Lazer,Fitness e Musculacao,Normal,0,1
11,121867,B2C,CY,PF,01/18,19/01/2018,2018.0,B2C,M,18 - 24,MG,Telefones e Celulares,Smartphones Desbloqueados,Normal,0,1
12,120936,B2C,CY,CB,01/18,19/01/2018,2018.0,B2C,F,18 - 24,SP,Eletrodom?sticos,Lavadoras,Normal,0,1
13,143454,B2C,CY,CB,01/18,27/01/2018,2018.0,B2C,F,46 - 55,RJ,Eletrodom?sticos,Refrigeradores,Normal,0,1
14,145945,B2C,CY,PF,01/18,28/01/2018,2018.0,B2C,M,36 - 45,MG,TVs e Acess?rios,TV LED SMART,Normal,0,1
15,131991,B2C,CY,EX,01/18,24/01/2018,2018.0,B2C,F,25 - 35,ES,Telefones e Celulares,Smartphones Desbloqueados,Normal,0,1
16,180252,B2C,CY,EX,02/18,09/02/2018,2018.0,B2C,0,0,0,Adudio,Audio,Normal,0,1
17,41637,B2C,CY,EX,/,0,0.0,B2C,0,0,0,0,0,0,0,1
18,61061,B2C,CY,CB,/,0,0.0,B2C,0,0,0,0,0,0,0,1
19,59589,B2C,CY,CB,/,0,0.0,B2C,0,0,0,0,0,0,0,1
20,24014,B2C,CY,CB,/,0,0.0,B2C,0,0,0,0,0,0,0,1
21,43180,B2C,CY,EX,/,0,0.0,B2C,0,0,0,0,0,0,0,1
22,227359,B2C,CY,EX,02/18,27/02/2018,2018.0,B2C,0,0,0,Eletroportateis,Batedeiras,Normal,0,1
23,41796,B2C,CY,EX,/,0,0.0,B2C,0,0,0,0,0,0,0,1
24,153400,B2C,CY,EX,01/18,30/01/2018,2018.0,B2C,F,25 - 35,RJ,Utilidades Dom?sticas,Aparelho de jantar,Normal,0,1
25,202734,B2C,CY,CB,02/18,17/02/2018,2018.0,B2C,0,0,0,Eletrodomesticos,Freezer Vertical,Normal,0,1
26,179417,B2C,CY,EX,02/18,08/02/2018,2018.0,B2C,0,0,0,Livros,Literatura estrangeira,Normal,0,1
27,191004,B2C,CY,EX,02/18,13/02/2018,2018.0,B2C,0,0,0,Telefones e Celulares,Smartphones Desbloqueados,Normal,0,1
28,206688,B2C,CY,PF,02/18,19/02/2018,2018.0,B2C,0,0,0,Eletroportateis,Purificador de Agua,Normal,0,1
29,142353,B2C,CY,PF,01/18,27/01/2018,2018.0,B2C,M,56 - 65,SP,Eletrodom?sticos,Refrigeradores,Outros,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490220,0,B2C,LY,PF,05/17,30/05/2017,2017.0,B2C,M,25 - 35,SP,Audio,Audio,Normal,0,1
490221,0,MARKETPLACE,LY,EX,05/17,30/05/2017,2017.0,MARKETPLACE,F,46 - 55,SC,Telefones e Celulares,Smartphones Desbloqueados,Normal,Data Prometida,1
490222,0,MULTICANALIDADE,LY,PF,05/17,30/05/2017,2017.0,MULTICANALIDADE,M,36 - 45,PR,Eletroportateis,Cafeteira Capsula/Expresso,Estoque ViaVarejo,0,1
490223,0,MULTICANALIDADE,LY,EX,05/17,30/05/2017,2017.0,MULTICANALIDADE,M,36 - 45,SP,Eletroportateis,Fritadeiras,Estoque ViaVarejo,0,1
490224,0,B2C,LY,EX,06/17,30/06/2017,2017.0,B2C,F,18 - 24,SP,Eletroportateis,Panelas de arroz,Normal,0,1
490225,0,B2C,LY,CB,06/17,30/06/2017,2017.0,B2C,F,18 - 24,SP,Moveis,Sala de Estar,Normal,0,1
490226,0,B2C,LY,PF,06/17,30/06/2017,2017.0,B2C,M,25 - 35,SP,Eletroportateis,Cozinha Criativa,Normal,0,1
490227,0,B2C,LY,PF,06/17,30/06/2017,2017.0,B2C,M,36 - 45,SP,Ferramentas,Lavadora de Pressao,Normal,0,1
490228,0,MARKETPLACE,LY,CB,06/17,30/06/2017,2017.0,MARKETPLACE,M,46 - 55,SP,Informatica,NAO_PRODUTO,Normal,Data Entrega,1
490229,0,B2C,LY,EX,06/17,30/06/2017,2017.0,B2C,M,36 - 45,SP,Moveis,Importado,Normal,0,1
490230,0,B2C,LY,PF,06/17,30/06/2017,2017.0,B2C,F,36 - 45,RJ,Games,Console,Normal,0,1
490231,0,MULTICANALIDADE,LY,EX,06/17,30/06/2017,2017.0,MULTICANALIDADE,M,36 - 45,SP,Eletroportateis,Fritadeiras,Estoque ViaVarejo,0,1
490232,0,B2C,LY,PF,06/17,30/06/2017,2017.0,B2C,F,46 - 55,SP,Games,Jogos,Normal,0,1
490233,0,B2C,LY,EX,08/16,30/08/2016,2016.0,B2C,M,36 - 45,CE,Audio,Audio e Video,Normal,0,1
490234,0,B2C,LY,EX,08/16,30/08/2016,2016.0,B2C,M,25 - 35,MG,Utilidades Domesticas,Panela de Pressao - NOVA,Normal,0,1
490235,0,B2C,LY,EX,08/16,30/08/2016,2016.0,B2C,F,46 - 55,RJ,Eletrodomesticos,Depuradores de Ar,Normal,0,1
490236,0,B2C,LY,PF,08/16,30/08/2016,2016.0,B2C,M,36 - 45,RS,Eletrodomesticos,Refrigeradores,Normal,0,1
490237,0,B2C,LY,EX,08/16,30/08/2016,2016.0,B2C,M,25 - 35,CE,Calcados,Calcados Masculino,Normal,0,1
490238,0,MARKETPLACE,LY,CB,08/17,30/08/2017,2017.0,MARKETPLACE,F,25 - 35,RJ,Telefones e Celulares,Marketplace,Normal,Data Prometida,1
490239,0,MARKETPLACE,LY,EX,08/17,30/08/2017,2017.0,MARKETPLACE,F,36 - 45,SP,Bebes,Marketplace,Normal,Data Prometida,1
490240,0,MARKETPLACE,LY,EX,08/17,30/08/2017,2017.0,MARKETPLACE,F,36 - 45,SP,Decoracao,Marketplace,Normal,Data Prometida,1
490241,0,MULTICANALIDADE,LY,PF,08/17,30/08/2017,2017.0,MULTICANALIDADE,F,18 - 24,SP,Eletroportateis,Mixer,Estoque Cnova,0,1
490242,0,B2C,LY,PF,08/17,30/08/2017,2017.0,B2C,F,25 - 35,SP,Brinquedos,Blocos de Montar,Normal,0,1
490243,0,B2C,LY,EX,08/17,30/08/2017,2017.0,B2C,M,36 - 45,ES,Eletroportateis,Liquidificadores,Normal,0,1
490244,0,B2C,LY,PF,08/17,30/08/2017,2017.0,B2C,M,25 - 35,MT,TVs e Acessorios,TV Ultra HD 4K,Normal,0,1
490245,0,MARKETPLACE,LY,PF,08/17,30/08/2017,2017.0,MARKETPLACE,M,25 - 35,SP,Games,Console,Normal,Data Prometida,1
490246,0,B2C,LY,CB,08/17,30/08/2017,2017.0,B2C,M,36 - 45,MG,Bebes,Passeio,Normal,0,1
490247,0,MARKETPLACE,LY,CB,08/17,30/08/2017,2017.0,MARKETPLACE,F,25 - 35,MG,Telefones e Celulares,NAO_PRODUTO,Normal,Data Entrega,1
490248,0,MARKETPLACE,LY,CB,08/17,30/08/2017,2017.0,MARKETPLACE,F,36 - 45,SP,Ferramentas,Marketplace,Normal,Data Prometida,1
490249,0,MULTICANALIDADE,LY,CB,08/17,30/08/2017,2017.0,MULTICANALIDADE,M,25 - 35,PR,Eletroportateis,Aspirador de Po,Estoque ViaVarejo,0,1

In [16]:
# NPS=[COUNT_TOTAL,PROMOTORES,DETRATORES]
# NPS = pd.concat(NPS)
NPS = pd.merge(PROMOTORES, DETRATORES, how= 'outer', on=['respid','date_id','data_entrevista','questionario','flag_periodo','bandeira','ano','uf','nome_segmento','depto','setor','sexo','idade','ds_tipo_entrega','metodologia'])
NPS = pd.merge(NPS, NEUTROS, how= 'outer', on=['respid','date_id','data_entrevista','questionario','flag_periodo','bandeira','ano','uf','nome_segmento','depto','setor','sexo','idade','ds_tipo_entrega','metodologia'])
NPS = pd.merge(NPS,COUNT_TOTAL, how= 'outer', on=['respid','date_id','data_entrevista','questionario','flag_periodo','bandeira','ano','uf','nome_segmento','depto','setor','sexo','idade','ds_tipo_entrega','metodologia'])

###REPLACING NaN FOR 0 ###
NPS = NPS.fillna(0)

###PERCENTUAL PROMOTORES###
NPS['percent_prom'] = (NPS['qtd_promotores']/NPS['total'])*100

###PERCENTUAL DETRATORES###
NPS['percent_detrat']= (NPS['qtd_detratores']/NPS['total'])*100


###PERCENTUAL NEUTROS###
NPS['percent_neutros']= (NPS['qtd_neutros']/NPS['total'])*100


###CONVERTING TO FLOAT###
NPS['percent_prom'] = NPS['percent_prom'].astype(float)
NPS['percent_detrat'] = NPS['percent_detrat'].astype(float)
NPS['percent_neutros'] = NPS['percent_neutros'].astype(float)
NPS['qtd_promotores'] = NPS['qtd_promotores'].astype(float)
NPS['qtd_detratores'] = NPS['qtd_detratores'].astype(float)
NPS['qtd_neutros'] = NPS['qtd_neutros'].astype(float)
NPS['total'] = NPS['total'].astype(float)


###CONVERTING TO STR###
NPS['flag_periodo'] = NPS['flag_periodo'].astype(str)
NPS['bandeira'] = NPS['bandeira'].astype(str)
NPS['data_entrevista'] = NPS['data_entrevista'].astype(str)
NPS['date_id'] = NPS['date_id'].astype(str)
NPS['nome_segmento'] = NPS['nome_segmento'].astype(str)
NPS['uf'] = NPS['uf'].astype(str)
NPS['ano'] = NPS['ano'].astype(str)
NPS['depto'] = NPS['depto'].astype(str)
NPS['setor'] = NPS['setor'].astype(str)
NPS['ds_tipo_entrega'] = NPS['ds_tipo_entrega'].astype(str)
NPS['questionario'] = NPS['questionario'].astype(str)
NPS['sexo'] = NPS['sexo'].astype(str)
NPS['idade'] = NPS['idade'].astype(str)
NPS['metodologia'] = NPS['metodologia'].astype(str)
# NPS['sexo'] = NPS['sexo'].astype(str)
# NPS['idade'] = NPS['idade'].astype(str)
# NPS['tipo_entrega'] = NPS['tipo_entrega'].astype(str)

###VALOR NPS###
NPS['nps'] = NPS['percent_prom']-NPS['percent_detrat']


###APPENDING NPS FROM THE LY###
# NPS = NPS.append(NPS_LY)


for column_name, column in NPS.transpose().iterrows():
    print column_name
    print(NPS[column_name])
    NPS[column_name] = NPS[column_name].astype('str')

NPS.to_sql('vv_nps',engine_OUT,schema=None,if_exists='replace', chunksize=500, index=False,dtype={col_name: NVARCHAR(300) for col_name in NPS})

print('DONE NPS')
print('DONE PROCESSO DASH VIA VAREJO')

respid
0          64579
1          44446
2          59784
3          52965
4          61970
5         229464
6         199514
7         121867
8         120936
9         145945
10        131991
11        180252
12         41637
13         61061
14         59589
15         24014
16         43180
17        227359
18         41796
19        153400
20        202734
21        179417
22        191004
23        206688
24         41252
25        187874
26        191848
27        182959
28        173710
29        160955
           ...
490220         0
490221         0
490222         0
490223         0
490224         0
490225         0
490226         0
490227         0
490228         0
490229         0
490230         0
490231         0
490232         0
490233         0
490234         0
490235         0
490236         0
490237         0
490238         0
490239         0
490240         0
490241         0
490242         0
490243         0
490244         0
490245         0
490246         0
490247         0
490248         0
490249         0
Name: respid, Length: 490250, dtype: object
questionario
0                     B2C
1                     B2C
2                     B2C
3                     B2C
4                     B2C
5                     B2C
6                     B2C
7                     B2C
8                     B2C
9                     B2C
10                    B2C
11                    B2C
12                    B2C
13                    B2C
14                    B2C
15                    B2C
16                    B2C
17                    B2C
18                    B2C
19                    B2C
20                    B2C
21                    B2C
22                    B2C
23                    B2C
24                    B2C
25                    B2C
26                    B2C
27                    B2C
28                    B2C
29                    B2C
               ...
490220                B2C
490221                B2C
490222        MARKETPLACE
490223                B2C
490224        MARKETPLACE
490225                B2C
490226                B2C
490227                B2C
490228        MARKETPLACE
490229                B2C
490230                B2C
490231    MULTICANALIDADE
490232    MULTICANALIDADE
490233                B2C
490234                B2C
490235                B2C
490236                B2C
490237                B2C
490238        MARKETPLACE
490239        MARKETPLACE
490240        MARKETPLACE
490241        MARKETPLACE
490242        MARKETPLACE
490243        MARKETPLACE
490244                B2C
490245    MULTICANALIDADE
490246                B2C
490247                B2C
490248        MARKETPLACE
490249        MARKETPLACE
Name: questionario, Length: 490250, dtype: object
flag_periodo
0         CY
1         CY
2         CY
3         CY
4         CY
5         CY
6         CY
7         CY
8         CY
9         CY
10        CY
11        CY
12        CY
13        CY
14        CY
15        CY
16        CY
17        CY
18        CY
19        CY
20        CY
21        CY
22        CY
23        CY
24        CY
25        CY
26        CY
27        CY
28        CY
29        CY
          ..
490220    LY
490221    LY
490222    LY
490223    LY
490224    LY
490225    LY
490226    LY
490227    LY
490228    LY
490229    LY
490230    LY
490231    LY
490232    LY
490233    LY
490234    LY
490235    LY
490236    LY
490237    LY
490238    LY
490239    LY
490240    LY
490241    LY
490242    LY
490243    LY
490244    LY
490245    LY
490246    LY
490247    LY
490248    LY
490249    LY
Name: flag_periodo, Length: 490250, dtype: object
bandeira
0         EX
1         CB
2         CB
3         EX
4         PF
5         EX
6         EX
7         PF
8         CB
9         PF
10        EX
11        EX
12        EX
13        CB
14        CB
15        CB
16        EX
17        EX
18        EX
19        EX
20        CB
21        EX
22        EX
23        PF
24        CB
25        EX
26        EX
27        EX
28        CB
29        EX
          ..
490220    CB
490221    EX
490222    EX
490223    PF
490224    EX
490225    CB
490226    CB
490227    CB
490228    EX
490229    PF
490230    CB
490231    CB
490232    PF
490233    EX
490234    EX
490235    EX
490236    CB
490237    EX
490238    PF
490239    PF
490240    EX
490241    CB
490242    CB
490243    CB
490244    EX
490245    EX
490246    EX
490247    PF
490248    PF
490249    CB
Name: bandeira, Length: 490250, dtype: object
data_entrevista
0             /
1             /
2             /
3             /
4             /
5         02/18
6         02/18
7         01/18
8         01/18
9         01/18
10        01/18
11        02/18
12            /
13            /
14            /
15            /
16            /
17        02/18
18            /
19        01/18
20        02/18
21        02/18
22        02/18
23        02/18
24            /
25        02/18
26        02/18
27        02/18
28        02/18
29        02/18
          ...
490220    06/17
490221    06/17
490222    08/17
490223    08/17
490224    08/17
490225    09/16
490226    10/17
490227    10/17
490228    09/17
490229    09/17
490230    10/16
490231    10/16
490232    10/16
490233    10/16
490234    11/16
490235    11/16
490236    11/16
490237    12/16
490238    03/17
490239    04/17
490240    05/17
490241    05/17
490242    05/17
490243    06/17
490244    06/17
490245    06/17
490246    08/16
490247    08/17
490248    08/17
490249    08/17
Name: data_entrevista, Length: 490250, dtype: object
date_id
0                  0
1                  0
2                  0
3                  0
4                  0
5         28/02/2018
6         16/02/2018
7         19/01/2018
8         19/01/2018
9         28/01/2018
10        24/01/2018
11        09/02/2018
12                 0
13                 0
14                 0
15                 0
16                 0
17        27/02/2018
18                 0
19        30/01/2018
20        17/02/2018
21        08/02/2018
22        13/02/2018
23        19/02/2018
24                 0
25        12/02/2018
26        14/02/2018
27        10/02/2018
28        06/02/2018
29        01/02/2018
             ...
490220    30/06/2017
490221    30/06/2017
490222    30/08/2017
490223    30/08/2017
490224    30/08/2017
490225    30/09/2016
490226    30/10/2017
490227    30/10/2017
490228    29/09/2017
490229    29/09/2017
490230    29/10/2016
490231    29/10/2016
490232    29/10/2016
490233    29/10/2016
490234    29/11/2016
490235    29/11/2016
490236    29/11/2016
490237    29/12/2016
490238    30/03/2017
490239    30/04/2017
490240    30/05/2017
490241    30/05/2017
490242    30/05/2017
490243    30/06/2017
490244    30/06/2017
490245    30/06/2017
490246    30/08/2016
490247    30/08/2017
490248    30/08/2017
490249    30/08/2017
Name: date_id, Length: 490250, dtype: object
ano
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
5         2018.0
6         2018.0
7         2018.0
8         2018.0
9         2018.0
10        2018.0
11        2018.0
12           0.0
13           0.0
14           0.0
15           0.0
16           0.0
17        2018.0
18           0.0
19        2018.0
20        2018.0
21        2018.0
22        2018.0
23        2018.0
24           0.0
25        2018.0
26        2018.0
27        2018.0
28        2018.0
29        2018.0
           ...
490220    2017.0
490221    2017.0
490222    2017.0
490223    2017.0
490224    2017.0
490225    2016.0
490226    2017.0
490227    2017.0
490228    2017.0
490229    2017.0
490230    2016.0
490231    2016.0
490232    2016.0
490233    2016.0
490234    2016.0
490235    2016.0
490236    2016.0
490237    2016.0
490238    2017.0
490239    2017.0
490240    2017.0
490241    2017.0
490242    2017.0
490243    2017.0
490244    2017.0
490245    2017.0
490246    2016.0
490247    2017.0
490248    2017.0
490249    2017.0
Name: ano, Length: 490250, dtype: object
nome_segmento
0                     B2C
1                     B2C
2                     B2C
3                     B2C
4                     B2C
5                     B2C
6                     B2C
7                     B2C
8                     B2C
9                     B2C
10                    B2C
11                    B2C
12                    B2C
13                    B2C
14                    B2C
15                    B2C
16                    B2C
17                    B2C
18                    B2C
19                    B2C
20                    B2C
21                    B2C
22                    B2C
23                    B2C
24                    B2C
25                    B2C
26                    B2C
27                    B2C
28                    B2C
29                    B2C
               ...
490220                B2C
490221                B2C
490222        MARKETPLACE
490223                B2C
490224        MARKETPLACE
490225                B2C
490226                B2C
490227                B2C
490228        MARKETPLACE
490229                B2C
490230                B2C
490231    MULTICANALIDADE
490232    MULTICANALIDADE
490233                B2C
490234                B2C
490235                B2C
490236                B2C
490237                B2C
490238        MARKETPLACE
490239        MARKETPLACE
490240        MARKETPLACE
490241        MARKETPLACE
490242        MARKETPLACE
490243        MARKETPLACE
490244                B2C
490245    MULTICANALIDADE
490246                B2C
490247                B2C
490248        MARKETPLACE
490249        MARKETPLACE
Name: nome_segmento, Length: 490250, dtype: object

sexo
0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         M
8         F
9         M
10        F
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        F
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        M
         ..
490220    F
490221    F
490222    M
490223    M
490224    F
490225    F
490226    F
490227    M
490228    M
490229    F
490230    F
490231    M
490232    F
490233    M
490234    M
490235    M
490236    M
490237    M
490238    M
490239    F
490240    M
490241    M
490242    F
490243    M
490244    M
490245    M
490246    F
490247    F
490248    M
490249    F
Name: sexo, Length: 490250, dtype: object
idade
0               0
1               0
2               0
3               0
4               0
5               0
6               0
7         18 - 24
8         18 - 24
9         36 - 45
10        25 - 35
11              0
12              0
13              0
14              0
15              0
16              0
17              0
18              0
19        25 - 35
20              0
21              0
22              0
23              0
24              0
25              0
26              0
27              0
28              0
29        25 - 35
           ...
490220    25 - 35
490221    25 - 35
490222    46 - 55
490223    36 - 45
490224    36 - 45
490225    36 - 45
490226    18 - 24
490227    25 - 35
490228    25 - 35
490229          0
490230    36 - 45
490231    46 - 55
490232    36 - 45
490233    18 - 24
490234    36 - 45
490235    46 - 55
490236    46 - 55
490237    56 - 65
490238          0
490239    46 - 55
490240    25 - 35
490241    18 - 24
490242          0
490243    46 - 55
490244    36 - 45
490245    36 - 45
490246    46 - 55
490247    25 - 35
490248    25 - 35
490249    25 - 35
Name: idade, Length: 490250, dtype: object
uf
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7         MG
8         SP
9         MG
10        ES
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19        RJ
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29        MS
          ..
490220    SP
490221    SP
490222    MG
490223    RN
490224    SP
490225    SP
490226    SP
490227    RJ
490228    PR
490229    RJ
490230    MA
490231    SP
490232    SP
490233    SP
490234    CE
490235    PI
490236    SP
490237    SP
490238    RJ
490239    BA
490240    DF
490241    BA
490242    SP
490243    SP
490244    SP
490245    SP
490246    RJ
490247    SP
490248    SP
490249    MG
Name: uf, Length: 490250, dtype: object
depto
0                             0
1                             0
2                             0
3                             0
4                             0
5               Eletroportateis
6         Utilidades Domesticas
7         Telefones e Celulares
8              Eletrodom?sticos
9              TVs e Acess?rios
10        Telefones e Celulares
11                       Adudio
12                            0
13                            0
14                            0
15                            0
16                            0
17              Eletroportateis
18                            0
19        Utilidades Dom?sticas
20             Eletrodomesticos
21                       Livros
22        Telefones e Celulares
23              Eletroportateis
24                            0
25              Eletroportateis
26                       Adudio
27        Telefones e Celulares
28                  Informatica
29                        Games
                  ...
490220    Utilidades Domesticas
490221    Utilidades Domesticas
490222              Ferramentas
490223         TVs e Acessorios
490224              Informatica
490225                   Moveis
490226         Eletrodomesticos
490227                   Moveis
490228          Esporte e Lazer
490229          Eletroportateis
490230    Telefones e Celulares
490231              Ferramentas
490232          Eletroportateis
490233    Telefones e Celulares
490234               Brinquedos
490235         Eletrodomesticos
490236                   Moveis
490237          Eletroportateis
490238          Eletroportateis
490239               Automotivo
490240         Beleza e Saude
490241         TVs e Acessorios
490242       Cama, Mesa e Banho
490243              Informatica
490244                   Moveis
490245          Eletroportateis
490246         Eletrodomesticos
490247               Brinquedos
490248                    Games
490249    Telefones e Celulares
Name: depto, Length: 490250, dtype: object
setor
0                                 0
1                                 0
2                                 0
3                                 0
4                                 0
5                  Cafeteira Filtro
6                           Panelas
7         Smartphones Desbloqueados
8                         Lavadoras
9                      TV LED SMART
10        Smartphones Desbloqueados
11                            Audio
12                                0
13                                0
14                                0
15                                0
16                                0
17                       Batedeiras
18                                0
19               Aparelho de jantar
20                 Freezer Vertical
21           Literatura estrangeira
22        Smartphones Desbloqueados
23              Purificador de Agua
24                                0
25                      Fritadeiras
26                            Audio
27        Smartphones Desbloqueados
28                         Notebook
29                       Acess?rios
                    ...
490220                    Faqueiros
490221     Panela de Pressao - NOVA
490222                  Marketplace
490223                       TV LED
490224                  NAO_PRODUTO
490225                     Colchoes
490226                    Lavadoras
490227              Area de Servico
490228           Camping & Aventura
490229              Ferro de Passar
490230    Smartphones Desbloqueados
490231        Ferramentas Eletricas
490232                  Fritadeiras
490233    Smartphones Desbloqueados
490234                      Bonecos
490235            Depuradores de Ar
490236                      Cozinha
490237              Aspirador de Po
490238                  Fritadeiras
490239                  Marketplace
490240                  Marketplace
490241                 TV LED SMART
490242                  Marketplace
490243                  NAO_PRODUTO
490244                    Importado
490245                  Fritadeiras
490246            Depuradores de Ar
490247             Blocos de Montar
490248                      Console
490249                  NAO_PRODUTO
Name: setor, Length: 490250, dtype: object
ds_tipo_entrega
0                         0
1                         0
2                         0
3                         0
4                         0
5                    Normal
6                    Normal
7                    Normal
8                    Normal
9                    Normal
10                   Normal
11                   Normal
12                        0
13                        0
14                        0
15                        0
16                        0
17                   Normal
18                        0
19                   Normal
20                   Normal
21                   Normal
22                   Normal
23                   Normal
24                        0
25                   Normal
26                   Normal
27                   Normal
28                   Normal
29                   Normal
                ...
490220               Normal
490221               Normal
490222               Normal
490223               Normal
490224               Normal
490225               Normal
490226               Normal
490227               Normal
490228               Normal
490229               Normal
490230               Normal
490231        Estoque Cnova
490232        Estoque Cnova
490233        Estoque Cnova
490234               Normal
490235               Normal
490236               Normal
490237        Estoque Cnova
490238               Outros
490239               Normal
490240               Normal
490241               Normal
490242               Normal
490243               Normal
490244               Normal
490245    Estoque ViaVarejo
490246               Normal
490247               Normal
490248               Normal
490249               Normal
Name: ds_tipo_entrega, Length: 490250, dtype: object

metodologia
0                      0
1                      0
2                      0
3                      0
4                      0
5                      0
6                      0
7                      0
8                      0
9                      0
10                     0
11                     0
12                     0
13                     0
14                     0
15                     0
16                     0
17                     0
18                     0
19                     0
20                     0
21                     0
22                     0
23                     0
24                     0
25                     0
26                     0
27                     0
28                     0
29                     0
               ...
490220                 0
490221                 0
490222    Data Prometida
490223                 0
490224      Data Entrega
490225                 0
490226                 0
490227                 0
490228    Data Prometida
490229                 0
490230                 0
490231                 0
490232                 0
490233                 0
490234                 0
490235                 0
490236                 0
490237                 0
490238      Data Entrega
490239    Data Prometida
490240      Data Entrega
490241      Data Entrega
490242    Data Prometida
490243      Data Entrega
490244                 0
490245                 0
490246                 0
490247                 0
490248    Data Prometida
490249      Data Entrega
Name: metodologia, Length: 490250, dtype: object
qtd_promotores
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
5         1.0
6         1.0
7         1.0
8         1.0
9         1.0
10        1.0
11        1.0
12        1.0
13        1.0
14        1.0
15        1.0
16        1.0
17        1.0
18        1.0
19        1.0
20        1.0
21        1.0
22        1.0
23        1.0
24        1.0
25        1.0
26        1.0
27        1.0
28        1.0
29        1.0
         ...
490220    0.0
490221    0.0
490222    0.0
490223    0.0
490224    0.0
490225    0.0
490226    0.0
490227    0.0
490228    0.0
490229    0.0
490230    0.0
490231    0.0
490232    0.0
490233    0.0
490234    0.0
490235    0.0
490236    0.0
490237    0.0
490238    0.0
490239    0.0
490240    0.0
490241    0.0
490242    0.0
490243    0.0
490244    0.0
490245    0.0
490246    0.0
490247    0.0
490248    0.0
490249    0.0
Name: qtd_promotores, Length: 490250, dtype: float64
qtd_detratores
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        0.0
29        0.0
         ...
490220    0.0
490221    0.0
490222    0.0
490223    0.0
490224    0.0
490225    0.0
490226    0.0
490227    0.0
490228    0.0
490229    0.0
490230    0.0
490231    0.0
490232    0.0
490233    0.0
490234    0.0
490235    0.0
490236    0.0
490237    0.0
490238    0.0
490239    0.0
490240    0.0
490241    0.0
490242    0.0
490243    0.0
490244    0.0
490245    0.0
490246    0.0
490247    0.0
490248    0.0
490249    0.0
Name: qtd_detratores, Length: 490250, dtype: float64
qtd_neutros
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        0.0
29        0.0
         ...
490220    1.0
490221    1.0
490222    1.0
490223    1.0
490224    1.0
490225    1.0
490226    1.0
490227    1.0
490228    1.0
490229    1.0
490230    1.0
490231    2.0
490232    2.0
490233    1.0
490234    1.0
490235    1.0
490236    1.0
490237    1.0
490238    1.0
490239    1.0
490240    1.0
490241    1.0
490242    1.0
490243    1.0
490244    1.0
490245    1.0
490246    1.0
490247    1.0
490248    1.0
490249    1.0
Name: qtd_neutros, Length: 490250, dtype: float64
total
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
5         1.0
6         1.0
7         1.0
8         1.0
9         1.0
10        1.0
11        1.0
12        1.0
13        1.0
14        1.0
15        1.0
16        1.0
17        1.0
18        1.0
19        1.0
20        1.0
21        1.0
22        1.0
23        1.0
24        1.0
25        1.0
26        1.0
27        1.0
28        1.0
29        1.0
         ...
490220    1.0
490221    1.0
490222    1.0
490223    1.0
490224    1.0
490225    1.0
490226    1.0
490227    1.0
490228    1.0
490229    1.0
490230    1.0
490231    2.0
490232    2.0
490233    1.0
490234    1.0
490235    1.0
490236    1.0
490237    1.0
490238    1.0
490239    1.0
490240    1.0
490241    1.0
490242    1.0
490243    1.0
490244    1.0
490245    1.0
490246    1.0
490247    1.0
490248    1.0
490249    1.0
Name: total, Length: 490250, dtype: float64
percent_prom
0         100.0
1         100.0
2         100.0
3         100.0
4         100.0
5         100.0
6         100.0
7         100.0
8         100.0
9         100.0
10        100.0
11        100.0
12        100.0
13        100.0
14        100.0
15        100.0
16        100.0
17        100.0
18        100.0
19        100.0
20        100.0
21        100.0
22        100.0
23        100.0
24        100.0
25        100.0
26        100.0
27        100.0
28        100.0
29        100.0
          ...
490220      0.0
490221      0.0
490222      0.0
490223      0.0
490224      0.0
490225      0.0
490226      0.0
490227      0.0
490228      0.0
490229      0.0
490230      0.0
490231      0.0
490232      0.0
490233      0.0
490234      0.0
490235      0.0
490236      0.0
490237      0.0
490238      0.0
490239      0.0
490240      0.0
490241      0.0
490242      0.0
490243      0.0
490244      0.0
490245      0.0
490246      0.0
490247      0.0
490248      0.0
490249      0.0
Name: percent_prom, Length: 490250, dtype: float64
percent_detrat
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        0.0
29        0.0
         ...
490220    0.0
490221    0.0
490222    0.0
490223    0.0
490224    0.0
490225    0.0
490226    0.0
490227    0.0
490228    0.0
490229    0.0
490230    0.0
490231    0.0
490232    0.0
490233    0.0
490234    0.0
490235    0.0
490236    0.0
490237    0.0
490238    0.0
490239    0.0
490240    0.0
490241    0.0
490242    0.0
490243    0.0
490244    0.0
490245    0.0
490246    0.0
490247    0.0
490248    0.0
490249    0.0
Name: percent_detrat, Length: 490250, dtype: float64
percent_neutros
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
5           0.0
6           0.0
7           0.0
8           0.0
9           0.0
10          0.0
11          0.0
12          0.0
13          0.0
14          0.0
15          0.0
16          0.0
17          0.0
18          0.0
19          0.0
20          0.0
21          0.0
22          0.0
23          0.0
24          0.0
25          0.0
26          0.0
27          0.0
28          0.0
29          0.0
          ...
490220    100.0
490221    100.0
490222    100.0
490223    100.0
490224    100.0
490225    100.0
490226    100.0
490227    100.0
490228    100.0
490229    100.0
490230    100.0
490231    100.0
490232    100.0
490233    100.0
490234    100.0
490235    100.0
490236    100.0
490237    100.0
490238    100.0
490239    100.0
490240    100.0
490241    100.0
490242    100.0
490243    100.0
490244    100.0
490245    100.0
490246    100.0
490247    100.0
490248    100.0
490249    100.0
Name: percent_neutros, Length: 490250, dtype: float64

nps
0         100.0
1         100.0
2         100.0
3         100.0
4         100.0
5         100.0
6         100.0
7         100.0
8         100.0
9         100.0
10        100.0
11        100.0
12        100.0
13        100.0
14        100.0
15        100.0
16        100.0
17        100.0
18        100.0
19        100.0
20        100.0
21        100.0
22        100.0
23        100.0
24        100.0
25        100.0
26        100.0
27        100.0
28        100.0
29        100.0
          ...
490220      0.0
490221      0.0
490222      0.0
490223      0.0
490224      0.0
490225      0.0
490226      0.0
490227      0.0
490228      0.0
490229      0.0
490230      0.0
490231      0.0
490232      0.0
490233      0.0
490234      0.0
490235      0.0
490236      0.0
490237      0.0
490238      0.0
490239      0.0
490240      0.0
490241      0.0
490242      0.0
490243      0.0
490244      0.0
490245      0.0
490246      0.0
490247      0.0
490248      0.0
490249      0.0
Name: nps, Length: 490250, dtype: float64
DONE NPS
DONE PROCESSO DASH VIA VAREJO

In [17]:
NPS

,respid,questionario,flag_periodo,bandeira,data_entrevista,date_id,ano,nome_segmento,sexo,idade,...,ds_tipo_entrega,metodologia,qtd_promotores,qtd_detratores,qtd_neutros,total,percent_prom,percent_detrat,percent_neutros,nps
0,64579,B2C,CY,EX,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
1,44446,B2C,CY,CB,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
2,59784,B2C,CY,CB,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
3,52965,B2C,CY,EX,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
4,61970,B2C,CY,PF,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
5,229464,B2C,CY,EX,02/18,28/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
6,199514,B2C,CY,EX,02/18,16/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
7,121867,B2C,CY,PF,01/18,19/01/2018,2018.0,B2C,M,18 - 24,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
8,120936,B2C,CY,CB,01/18,19/01/2018,2018.0,B2C,F,18 - 24,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
9,145945,B2C,CY,PF,01/18,28/01/2018,2018.0,B2C,M,36 - 45,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
10,131991,B2C,CY,EX,01/18,24/01/2018,2018.0,B2C,F,25 - 35,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
11,180252,B2C,CY,EX,02/18,09/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
12,41637,B2C,CY,EX,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
13,61061,B2C,CY,CB,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
14,59589,B2C,CY,CB,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
15,24014,B2C,CY,CB,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
16,43180,B2C,CY,EX,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
17,227359,B2C,CY,EX,02/18,27/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
18,41796,B2C,CY,EX,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
19,153400,B2C,CY,EX,01/18,30/01/2018,2018.0,B2C,F,25 - 35,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
20,202734,B2C,CY,CB,02/18,17/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
21,179417,B2C,CY,EX,02/18,08/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
22,191004,B2C,CY,EX,02/18,13/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
23,206688,B2C,CY,PF,02/18,19/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
24,41252,B2C,CY,CB,/,0,0.0,B2C,0,0,...,0,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
25,187874,B2C,CY,EX,02/18,12/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
26,191848,B2C,CY,EX,02/18,14/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
27,182959,B2C,CY,EX,02/18,10/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
28,173710,B2C,CY,CB,02/18,06/02/2018,2018.0,B2C,0,0,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
29,160955,B2C,CY,EX,02/18,01/02/2018,2018.0,B2C,M,25 - 35,...,Normal,0,1.0,0.0,0.0,1.0,100.0,0.0,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490220,0,B2C,LY,CB,06/17,30/06/2017,2017.0,B2C,F,25 - 35,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490221,0,B2C,LY,EX,06/17,30/06/2017,2017.0,B2C,F,25 - 35,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490222,0,MARKETPLACE,LY,EX,08/17,30/08/2017,2017.0,MARKETPLACE,M,46 - 55,...,Normal,Data Prometida,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490223,0,B2C,LY,PF,08/17,30/08/2017,2017.0,B2C,M,36 - 45,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490224,0,MARKETPLACE,LY,EX,08/17,30/08/2017,2017.0,MARKETPLACE,F,36 - 45,...,Normal,Data Entrega,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490225,0,B2C,LY,CB,09/16,30/09/2016,2016.0,B2C,F,36 - 45,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490226,0,B2C,LY,CB,10/17,30/10/2017,2017.0,B2C,F,18 - 24,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490227,0,B2C,LY,CB,10/17,30/10/2017,2017.0,B2C,M,25 - 35,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490228,0,MARKETPLACE,LY,EX,09/17,29/09/2017,2017.0,MARKETPLACE,M,25 - 35,...,Normal,Data Prometida,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490229,0,B2C,LY,PF,09/17,29/09/2017,2017.0,B2C,F,0,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490230,0,B2C,LY,CB,10/16,29/10/2016,2016.0,B2C,F,36 - 45,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490231,0,MULTICANALIDADE,LY,CB,10/16,29/10/2016,2016.0,MULTICANALIDADE,M,46 - 55,...,Estoque Cnova,0,0.0,0.0,2.0,2.0,0.0,0.0,100.0,0.0
490232,0,MULTICANALIDADE,LY,PF,10/16,29/10/2016,2016.0,MULTICANALIDADE,F,36 - 45,...,Estoque Cnova,0,0.0,0.0,2.0,2.0,0.0,0.0,100.0,0.0
490233,0,B2C,LY,EX,10/16,29/10/2016,2016.0,B2C,M,18 - 24,...,Estoque Cnova,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490234,0,B2C,LY,EX,11/16,29/11/2016,2016.0,B2C,M,36 - 45,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490235,0,B2C,LY,EX,11/16,29/11/2016,2016.0,B2C,M,46 - 55,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490236,0,B2C,LY,CB,11/16,29/11/2016,2016.0,B2C,M,46 - 55,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490237,0,B2C,LY,EX,12/16,29/12/2016,2016.0,B2C,M,56 - 65,...,Estoque Cnova,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490238,0,MARKETPLACE,LY,PF,03/17,30/03/2017,2017.0,MARKETPLACE,M,0,...,Outros,Data Entrega,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490239,0,MARKETPLACE,LY,PF,04/17,30/04/2017,2017.0,MARKETPLACE,F,46 - 55,...,Normal,Data Prometida,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490240,0,MARKETPLACE,LY,EX,05/17,30/05/2017,2017.0,MARKETPLACE,M,25 - 35,...,Normal,Data Entrega,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490241,0,MARKETPLACE,LY,CB,05/17,30/05/2017,2017.0,MARKETPLACE,M,18 - 24,...,Normal,Data Entrega,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490242,0,MARKETPLACE,LY,CB,05/17,30/05/2017,2017.0,MARKETPLACE,F,0,...,Normal,Data Prometida,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490243,0,MARKETPLACE,LY,CB,06/17,30/06/2017,2017.0,MARKETPLACE,M,46 - 55,...,Normal,Data Entrega,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490244,0,B2C,LY,EX,06/17,30/06/2017,2017.0,B2C,M,36 - 45,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490245,0,MULTICANALIDADE,LY,EX,06/17,30/06/2017,2017.0,MULTICANALIDADE,M,36 - 45,...,Estoque ViaVarejo,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490246,0,B2C,LY,EX,08/16,30/08/2016,2016.0,B2C,F,46 - 55,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490247,0,B2C,LY,PF,08/17,30/08/2017,2017.0,B2C,F,25 - 35,...,Normal,0,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490248,0,MARKETPLACE,LY,PF,08/17,30/08/2017,2017.0,MARKETPLACE,M,25 - 35,...,Normal,Data Prometida,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0
490249,0,MARKETPLACE,LY,CB,08/17,30/08/2017,2017.0,MARKETPLACE,F,25 - 35,...,Normal,Data Entrega,0.0,0.0,1.0,1.0,0.0,0.0,100.0,0.0

<b><h1>EXPORTING BASES</b></h1>

In [90]:
VV_BASE_JAN = """SELECT * FROM vv_base_dash_new WHERE DATA_ENTREVISTA = '01/18'"""
VV_BASE_JAN = pd.read_sql(VV_BASE_JAN, engine_OUT)
VV_BASE_JAN
VV_BASE_JAN.to_csv('/nfs/science/casino_brazil/luizsalv/Via_Varejo/ouput/vv_base_jan.csv',encoding = 'UTF-8',index=False,header=True,mode='w')
# NPS.to_csv('/nfs/science/casino_brazil/luizsalv/Via_Varejo/ouput/vv_base_NPS.csv',encoding = 'UTF-8',index=False,header=True,mode='w')

In [103]:
VV_BASE_FEV = """SELECT COUNT(*) FROM vv_base_dash_new WHERE DATA_ENTREVISTA = '02/18'"""
VV_BASE_FEV = pd.read_sql(VV_BASE_FEV, engine_OUT)
VV_BASE_FEV
# VV_BASE_FEV.to_csv('/nfs/science/casino_brazil/luizsalv/Via_Varejo/ouput/vv_base_fev.csv',encoding = 'UTF-8',index=False,header=True,mode='w')

   COUNT(*)
0    887712

In [13]:
# df1 = df.replace(np.nan, '', regex=True)

vv_base_dash="""CREATE TABLE vv_base_dash AS SELECT 
CASE WHEN ANO= 'nan' THEN '0' ELSE ANO END AS ANO,
ATRIBUTO,
BANDEIRA,
BANDEIRA_NUM_PEDIDO,
CASE WHEN DATA_ENTREVISTA IN ('/','nan') THEN '0' ELSE DATA_ENTREVISTA END AS DATA_ENTREVISTA,
CASE WHEN DATE_ID IN ('/','nan') THEN '0' ELSE DATE_ID END AS DATE_ID,
DEPTO,
DIMENSAO,
DS_TIPO_ENTREGA,
FLAG_PERIODO,
IDADE,
ID_BANDEIRA,
CASE WHEN ID_COMPRA = 'nan' THEN '0' ELSE ID_COMPRA END AS ID_COMPRA,
ID_ENTREGA,
ID_QUESTIONARIO,
ID_SEGMENTO,
ISC,
CASE WHEN LOJISTA = 'nan' THEN '0' ELSE LOJISTA END AS LOJISTA,
CASE WHEN METODOLOGIA = 'nan' THEN '0' ELSE METODOLOGIA END AS METODOLOGIA,
NOME_SEGMENTO,
CASE WHEN NR_LOJISTA = 'nan' then '0' else NR_LOJISTA END AS NR_LOJISTA,
QUESTIONARIO,
RESPID,
SETOR,
SEXO,
TIPO_ENTREGA,
UF,
VALOR,
CASE WHEN "RANK" = 'nan' THEN '0' ELSE "RANK" END AS RANK,
SEGMENTO

FROM AN_RT_WS36.VV_BASE_DASH_NEW"""
# vv_base_dash = vv_base_dash.fillna(0)
defs.dropTable('vv_base_dash', engine_OUT)
defs.sqlProcess(vv_base_dash, 'vv_base_dash', engine_OUT)
print('done query DASH')

DatabaseError: (cx_Oracle.DatabaseError) ORA-00904: "/": invalid identifier [SQL: 'CREATE TABLE vv_base_dash AS SELECT \nCASE WHEN ANO= \'nan\' THEN \'0\' ELSE ANO END AS ANO,\nATRIBUTO,\nBANDEIRA,\nBANDEIRA_NUM_PEDIDO,\nCASE WHEN DATA_ENTREVISTA IN ("/",\'nan\') THEN \'0\' ELSE DATA_ENTREVISTA END AS DATA_ENTREVISTA,\nCASE WHEN DATE_ID IN ("/",\'nan\') THEN \'0\' ELSE DATE_ID END AS DATE_ID,\nDEPTO,\nDIMENSAO,\nDS_TIPO_ENTREGA,\nFLAG_PERIODO,\nIDADE,\nID_BANDEIRA,\nCASE WHEN ID_COMPRA = \'nan\' THEN \'0\' ELSE ID_COMPRA END AS ID_COMPRA,\nID_ENTREGA,\nID_QUESTIONARIO,\nID_SEGMENTO,\nISC,\nCASE WHEN LOJISTA = \'nan\' THEN \'0\' ELSE LOJISTA END AS LOJISTA,\nCASE WHEN METODOLOGIA = \'nan\' THEN \'0\' ELSE METODOLOGIA END AS METODOLOGIA,\nNOME_SEGMENTO,\nCASE WHEN NR_LOJISTA = \'nan\' then \'0\' else NR_LOJISTA END AS NR_LOJISTA,\nQUESTIONARIO,\nRESPID,\nSETOR,\nSEXO,\nTIPO_ENTREGA,\nUF,\nVALOR,\nCASE WHEN "RANK" = \'nan\' THEN \'0\' ELSE "RANK" END AS RANK,\nSEGMENTO\n\nFROM AN_RT_WS36.VV_BASE_DASH_NEW']